// ==========================================================================
// .tooltip-range
// ==========================================================================

//variables

.tooltip {
  position: relative;
  text-align: right;
  display: inline-block;

  &:hover {
    .tooltip__content {
      max-height: 1000px;
      opacity: 1;
      bottom: calc(100% - 0px);
      overflow: visible;
    } // .dropdown-featured__content
  } // &:hover
} // .tooltip

.tooltip__trigger {
  text-align: right;
} // .tooltip__trigger

.tooltip__content {
  position: absolute;
  // top: calc(100% - 4px);
  bottom: calc(100% - 2px);
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  max-height: 0;
  opacity: 0;
  transition: opacity $transition-time-default $transition-easeInOut;
  overflow: hidden;
  width: 300px;
  z-index: 999999;
  // box-shadow: 2px 2px 6px rgba(0,0,0,.3);
} // .tooltip__content



.tooltip-arrow-bottom {
  // width: 100%;
  // height: 6px;
  // display: block;
  // position: relative;

  // &:after {
  //   content: "";
  //   position: absolute;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   bottom: -6px;
  //   border: 6px solid transparent;
  //   border-top-color: $color-light;
  //   overflow: hidden;
  // }
}

.tooltip__content-container {
  background-color: $color-light;
  padding: $spacing-xxsmall $spacing-xsmall;
  font-size: $font-size-xsmall;
  // font-weight: $font-weight-semibold;
  border-radius: 2px;
  white-space: normal !important;
} // .tooltip__content-container
