// ==========================================================================
// Defaults Styles
// ==========================================================================

//icons

.icon-delete {
  font-size: 22px !important;
  margin-top: -2px;
}

*,
*:after,
*:before { box-sizing: border-box; }

:root {
  font-family: $font-family-primary;
  font-size: $font-size-root;
}

::selection {
  background: $color-dark;
  color: $color-white;
  text-shadow: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img { max-width: 100%; }

svg { transition: all $transition-time-default $transition-easeInOut; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $font-size-large;
}

a {
  text-decoration: none;
  transition: all $transition-time-default $transition-easeInOut;

  &.has-hover:hover {
    color: $color-grey;
    text-decoration: underline;
  } // &.has-hover:hover
}

small { font-size: ($font-size-default / 100) * 70; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

hr {
  margin: $spacing-default 0;
  border: $border-width-thin $border-style-default $color-grey;
}

i {
  transition: all $transition-time-short $transition-easeInOut;
}
