// ==========================================================================
// .main-container
// ==========================================================================

//variables
$main-header-height: 50px;


.main.is-active {

  .sidebar {
    width: 51px;
    transition: all $transition-time-short $transition-easeInOut $transition-time-short;

    .sidebar__list-label {
      opacity: 0;
      transition: all $transition-time-short $transition-easeInOut $transition-time-xshort;
    } // .sidebar__list-label

    .sidebar__toggle svg, .sidebar__toggle i { transform: rotate(0); }
  }

  .main-container__content {
    width: calc(100% - 62px);
    float: left;
  }
} // &.is-closed

.main-container {
  background-color: $color-lighter;
  min-height: calc(100vh - 40px);
  display: flex;
}

.main-container__wrapper {
  padding: 10px 30px 30px 30px;
}

.main-container__body { height: 100%; }

.main-container__body + .main-container__body { margin-top: $spacing-default; }

.main-container__content {
  @include spacing('padding', vertical, small);
  padding-top: 20px;
  padding-left: 30px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 97px);
  padding-right: 30px;
  padding-top: 60px;
  // transition: all $transition-time-short $transition-easeInOut $transition-time-short;

  display: block;
  // height: auto;

  &:only-child { width: 100%; }

  &.is-active {
    width: calc(100% - 62px);
    margin-left: 62px;
    padding-left: 30px;
    float: left;
  }

  @media(max-width: $media-query-medium) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.main-container__header {
  margin: 0 $spacing-reset $spacing-xsmall $spacing-reset;
  display: flex;
  align-items: center;
  justify-content: space-between;

  //../components/dropdown/_dropdown.scss
  .dropdown { width: auto; }
} // .main-container__header

.main-container__options-bar {
  width: 100%;
  padding:  $spacing-xsmall $spacing-reset $spacing-default $spacing-reset;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .form-component {
    max-width: 300px;
    margin-right: auto;
    display: inline-block;

    .form-component__label {
      margin: 0;
    }
  }
}

.main-container__tab-filter {
  margin-bottom: $spacing-small;
}
