// ==========================================================================
// .media
// ==========================================================================

.media {
  display: flex;
  align-items: center;
} // .media

//dropdown user and granja media component adjust
.list__item a .media { padding: 0; }

.media--spread {
  justify-content: space-between;
}

a > .media {
  transition: all $transition-time-default $transition-easeInOut;
  padding: 5px;

  &:hover {
    background-color: $color-light;
  }
}

.is-ie10,
.is-ie11,
.is-safari {
  .media {
    display: inline-block;

    > * {
      display: inline-block;
      float: left;
    }

    .media__text {
      margin-top: 3px;
    } // .media__text
  } // .media
} // .is-ie10,.is-ie11,.is-safari

.media__figure--large {
  font-size: 33px;

  display: flex;
  align-items: center;
}

.media__figure + .media__text { margin-left: $spacing-xsmall - 2px; } // .media__figure
.media__text + .media__figure { margin-left: $spacing-xsmall - 2px; } // .media__figure
.media__figure + .media__description { margin-left: $spacing-xsmall - 2px; } // .media__figure
.media__description + .media__figure { margin-left: $spacing-xsmall - 2px; } // .media__figure

.media__text {
  display: inline-block;
  .text {
    line-height: $line-height-reset !important;
    margin: $spacing-reset;
    vertical-align: middle;
  }
} // .media__text .text

.media__description {
  margin-right: $spacing-xsmall - 2px;

  p {
    margin: $spacing-reset;
    white-space: nowrap;
  }
} // .media__description

.media--inverse {
  * {
    color: $color-white;
    fill: $color-white;
  }
} // .media--inverse

.media__icon {
  margin-right: $spacing-xsmall;

  //to use svg inline, sprites (svg inline must have the .icon class)
  .icon{
    width: 24px;
    height: 24px;
  }

  //to use png,jpg
  img {
    width: 30px;
    height: 30px;
  } // img

  //to use icon font
  i {
    font-size: 26px;
    color: $color-blue;
  }
} // .media__icon

.media__icon--dark {
  i { color: $color-text-default; }
}


.media__icon--attention {

  i {
    color: $color-attention;
    font-size: 26px;
  }
}

.media__text + .media__icon { margin: $spacing-reset $spacing-reset $spacing-reset $spacing-xsmall; } // .media__text + .media__icon

//provisório
.main-footer__sub .media { margin-top: $spacing-xsmall - 6px; }
