// ==========================================================================
// .list
// ==========================================================================
//Components extended:
////../components/formated-text/_text.scss
//
//Components using and changing .list by nesting
////../components/dropdown/_dropdown.scss
////../components/add-tag/_add-tag.scss
////../components/form-component/fields/_lookup-field.scss
////../components/media/_media.scss


//variables
$list-item-padding: 6px 10px;


//
// list Block
// ==========================================================================

//being used as a generic wrapper at farm menu (header)
// .list__wrapper {}

.list {
  @include list-reset;
  display: block;
} // .list


//
// list Elements
// ==========================================================================

.list__item {
  @extend .text--small, .text--semibold;
  font-family: $font-family-primary;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
  line-height: $line-height-reset;

  color: $color-dark;
  border-bottom: $border-width-thin $border-style-default $color-light;
  transition: all $transition-time-xshort $transition-easeInOut;
  display: block;
  margin: 0;
  cursor: text;

  > * {
    padding: $list-item-padding !important;
    display: block;
    align-items: center;
  } // > *

  > * { color: $color-dark; }

  &:hover > * {
    background-color: $color-light;

    *:not(.button__label) { color: $color-blue; }
  } // &:hover > *

  &:last-child { border: none; }
} // .list__item

.list__item--dark {
  background-color: $color-blue;
  padding: 0 !important;
  &:hover > * {
    background-color: $color-blue;

    .text { color: $color-white !important; }
  }
} // .list__item--dark

.list__item--heading {
  padding: 7px 0 0 0 !important;
  &:hover > * {
    background-color: $color-white;

    .text { color: $color-white !important; }
  }
}

.list__item--sum {
  font-size: 18px !important;
  border-bottom-width: 2px;
  border-color: $color-grey;
  padding-bottom: 3px !important;

  &:after {
    content: "(total)";
    font-size: 14px;
    margin-left: 5px;
    color: $color-grey;
  }
}
