// // ==========================================================================
// // .checkbox
// // ==========================================================================
// // It's a checkbox input with button appearance.
// // It uses the same structure of the avarage but with a different class
// // In this case there is no need for modifiers, it's a different component
// // with different children.
//
//
// .button-checkbox { display: inline-block; } // .checkbox
//
// .button-checkbox__input {
//   display: none;
//
//   &:checked + .button-checkbox__token {
//     background-color: $color-blue;
//     box-shadow: inset 1px 1px 4px $color-blue-dark;
//
//     &:after { content: "SIM"; }
//   } // &:checked + .button-checkbox__token
// } // .button-checkbox__input
//
// .button-checkbox__token {
//   @extend .button;
//   min-width: 100px;
//   text-align: center;
//   background-color: $color-grey;
//
//   &:after {
//     content: "NÃO";
//     transition: all $transition-time-default $transition-easeInOut;
//   } // &:after
// } // .checkbox__token
//
// .button-checkbox__label {
//   color: $color-dark;
//   font-size: $font-size-small;
//   font-weight: $font-weight-bold;
//   text-transform: uppercase;
// } // .checkbox__label
