// ==========================================================================
// .daily-graph
// ==========================================================================

.daily-graph {

  + .daily-graph { margin-top: $spacing-xsmall; }

  &.has-scroll {
    .daily-graph__body { overflow: auto; }
  }
} // .daily-graph

.daily-graph--compact {
  .daily-graph__table {
    @include list-reset;
    @extend .clearfix;
    counter-reset: item;
    margin-top: 5px;

    .daily-graph__table-day {
      margin-top: 0 !important;
      padding: 4px 0px;

      &.is-cut:after { height: 30px; }
      &:before { display: none; }
    } // .daily-graph__table-day
  } // .daily-graph__table
} // .daily-graph--compact

.daily-graph__header { margin-bottom: 4px; }

.daily-graph__table {
  @include list-reset;
  @extend .clearfix;
  counter-reset: item;
  margin: 10px 0 0 0;

  .daily-graph__table-day {
    @extend .text;
    display: inline-block;
    border: $border-width-thin $border-style-default $color-light;
    border-right: none;
    padding: 4px 0px;
    margin: 20px 0 0 0 !important;
    float: left;
    width: 26px;
    min-width: 26px !important;
    height: 26px;
    position: relative;
    text-align: center;

    .overflow-box {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: -5px;
      left: 0;
      // box-shadow: -3px 0px 5px #fff inset;
      z-index: 9999;
      height: 26px;
    } // .overflow-box

    .dropdown {
      width: 100%;

      .dropdown__header {
        overflow-x: hidden;
        width: 100%;
        padding: 0 2px;
      } // .dropdown__header
    } // .dropdown

    &.is-cut {
      &:after {
        content: "";
        width: 2px;
        height: 60px;
        background-color: $color-dark;
        position: absolute;
        right: -1px;
        bottom: -5px;
        z-index: 300;
      } // &:after
    } // &.is-cut

    &:last-child {
      border-right: $border-width-thin $border-style-default $color-light;

      &:before { content: counter(item) "+"; }
    } // &:last-child

    &:before {
      content: counter(item) "";
      font-weight: 500;
      font-size: 10px;
      position: absolute;
      top: -26px;
      left: 0;
      counter-increment: item;
      margin-right: 5px;
      margin-bottom: 1px;
      padding: 6px 0px;
      color: $color-grey;
      border-top: $border-width-thin $border-style-default $color-light;
      width: 100%;
      height: 26px;
    } // &:before

    .dropdown__content { max-height: 150px; }
  } // .daily-graph__table-day
} // .daily-graph__table


.daily-graph__table--header {
  .daily-graph__table-day {
    height: 0;
    padding: 0;
    margin-bottom: $spacing-small !important;
    border: none;
    border-bottom: $border-width-thin $border-style-default $color-light;
  } // .daily-graph__table-day
} // .daily-graph__table--header

//accordion used by daily-graph
.accordion.is-active {
  // overflow: hidden;
  .accordion__trigger .daily-graph.daily-graph--hover .daily-graph__table-day {

    // &:hover:after {
    //   content: "";
    //   width: calc(100% + 2px);
    //   height: 1500px;
    //   border: 1px solid $color-light;
    //   border-top: none;
    //   border-bottom: none;
    //   position: absolute;
    //   top: -26px;
    //   left: -1px;
    // } // &:hover:after
  } // .accordion__trigger .daily-graph.daily-graph--hover .daily-graph__table-day
} // .accordion.is-active

.daily-graph--weekly .daily-graph__table:first-child {

  .daily-graph__table-day {

    &:after {
      content: "SEM";
      font-size: 10px;
      position: absolute;
      top: -26px;
      left: -7px;
      margin-bottom: 1px;
      padding: 6px 0px;
      color: $color-grey;
      border-top: $border-width-thin $border-style-default $color-light;
      width: 100%;
      height: 26px;
      font-weight: 700;
    } // &:after

    &:before {
      content: counter(item) "";
      font-size: 10px;
      position: absolute;
      top: -26px;
      left: 13px;
      counter-increment: item;
      margin-right: 5px;
      margin-bottom: 1px;
      padding: 6px 0px;
      color: $color-grey;
      border-top: $border-width-thin $border-style-default $color-light;
      width: 100%;
      height: 26px;
      font-weight: 700;
    } // &:before

    &:last-child {
      border-right: $border-width-thin $border-style-default $color-light;

      &:after {
        content: "SEM";
        font-weight: 500;
        font-size: 10px;
        position: absolute;
        top: -26px;
        left: -9px;
        margin-bottom: 1px;
        padding: 6px 0px;
        color: $color-grey;
        border-top: $border-width-thin $border-style-default $color-light;
        width: 100%;
        height: 26px;
        font-weight: 700;
      } // &:after

      &:before { content: counter(item) "+"; }
    } // &:last-child
  } // .daily-graph__table-day
} // .daily-graph--weekly .daily-graph__table:first-child

.daily-graph__table + .daily-graph__table {
  margin-top: 0;
  border-top: none;

  .daily-graph__table-day {
    margin-top: 0 !important;
    border-top: none;

    &.is-cut {
      &:after {
        height: 26px;
        right: -1px;
        bottom: 0px;
      } // &:after
    } // &.is-cut

    &:last-child {
      border-right: $border-width-thin $border-style-default $color-light;

      &:before { content: counter(item) "+"; }
    } // &:last-child

    &:before { display: none; }
  } // .daily-graph__table-day
} // .daily-graph__table + .daily-graph__table

.daily-graph-food-plan {
  overflow: auto;

  .daily-graph {
    &:nth-child(2) .real { background-color: rgba(42,100,232,1) !important; }
    &:nth-child(3) .real { background-color: rgba(42,100,232,.8) !important; }
    &:nth-child(4) .real { background-color: rgba(42,100,232,.6) !important; }
    &:nth-child(5) .real { background-color: #99DEFD !important; }
    &:nth-child(6) .real { background-color: #99DEFD !important; }
  } // .daily-graph
} // .daily-graph-food-plan

.daily-graph--plan-header {
  padding-bottom: 10px;

  .daily-graph__table-day {
    height: 0px;
    padding: 0;
  } // .daily-graph__table-day
} // .daily-graph--plan-header

.daily-graph--plan {
  .daily-graph__table-day { height: 18px; }

  .daily-graph__table {

    .plan {
      position: relative;
      &:after {
        content: "";
        width: calc(100% + 2px);
        height:  calc(100% + 2px);
        border-top: 2px $border-style-default $color-dark;
        border-bottom: 2px $border-style-default $color-dark;
        position: absolute;
        top: -1px;
        left: -1px;
      } // &:after
    } // .plan

    .plan--start { border-left: 2px $border-style-default $color-dark; }
    .plan--end { border-right: 2px $border-style-default $color-dark; }
  } // .daily-graph__table

  .real { background-color: rgba(42,100,232,1); }
} // .daily-graph--plan
