// ==========================================================================
// .nav
// ==========================================================================

//variables
$nav-icon-size: 18px;
$nav-button-size: 26px;

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} // .nav

.nav__arrow {
  @include button-reset;
  background-color: $color-blue;
  width: $nav-button-size;
  height: $nav-button-size;
  display: inline-block;
  padding: 0;
  border-radius: $border-radius-rounded;
  transition: background $transition-easeInOut $transition-time-default;

  .icon {
    fill: $color-white;
    width: $nav-icon-size;
    height: $nav-icon-size;
  } // .icon

  &:hover { background-color: $color-blue-dark; }
} // .nav__arrow

.nav__label {
  padding: 0 $spacing-small;
  font-size: $font-size-small;
} // .nav__label
