// ==========================================================================
// .accordion
// ==========================================================================


.accordion {
  &.is-active {
    .accordion__trigger:after { transform: translateY(-50%) rotate(180deg); }
    .accordion__body {
      max-height: 10500px;
      opacity: 1;
      overflow: visible;
    } // .accordion__body
  } // .is-active
  &.is-active .accordion__trigger,
  &:hover .accordion__trigger { border-left-color: $color-blue; }

  &+.accordion { margin-top: -2px; }
} // .accordion

.accordion--scroll { overflow: auto; }

.accordion__trigger {
  font-family: $font-family-primary;
  font-weight: $font-weight-normal;
  color: $color-text-default;
  line-height: 1.2;
  transition: all $transition-time-short $transition-easeInOut;
  vertical-align: middle;
  font-size: $font-size-small;
  padding: $spacing-xsmall $spacing-xsmall;
  border: $border-width-thin $border-style-default $color-light;
  border-left: $border-width-thick $border-style-default $color-light;
  cursor: pointer;
  margin: 0 !important;
  position: relative;
  width: 100%;

  &:after {
    font-family: 'FontAwesome';
    content: "\f107";
    position: absolute;
    right: $spacing-xsmall;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  } // &:after
} // .accordion__trigger

.accordion__body {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .4s $transition-easeInOut;
  margin-top: -1px;
  border: $border-width-thin $border-style-default $color-light;
  width: 100%;
} // .accordion__body

.accordion__content {
  padding: $spacing-xsmall $spacing-small;
  width: 100%;
} // .accordion__content


// accordion Modifiers

.accordion--light {
  &.is-active .accordion__trigger:after { transform: translateY(0) rotate(180deg); }

  .accordion__trigger {
    border: none;
    padding-left: 0;
    padding-right: 0;
    border-bottom: $border-width-thin $border-style-default $color-light;

    &:after {
      top: 10px;
      transform: translateY(0);
    } // &:after

    &:hover {
      .heading { color: $color-blue; }
    }
  } // .accordion__trigger

  .accordion__body {
    border: none;
    border-bottom: $border-width-thin $border-style-default $color-light;

    .accordion__content {
      padding-left: 0;
      padding-right: 0;
    } // .accordion__content
  } // .accordion__body

  + .accordion--light { margin-top: $spacing-default; }
} // .accordion--light

.accordion--secondary {

  .accordion__trigger {
    border: none;
    border: $border-width-thin $border-style-default $color-light;
    padding: $spacing-xsmall $spacing-xsmall + 2px;

    &:before {
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $color-blue;
      opacity: 0;
      transition: all .4s $transition-easeInOut;
    } // &:before

    &:hover {
      border-color: $color-light;

      &:before { opacity: 1; }
    } // &:hover
  } // .accordion__trigger

  &.is-active {
    .accordion__trigger {
      border-color: $color-light;
      &:before { opacity: 1; }
    } // .accordion__trigger
  } // &.is-active
} // .accordion--secondary
