// ==========================================================================
// .vr
// ==========================================================================

.vr {
  border: none;
  height: 50px;
  width: $tiny-size;
  border-left: $border-width-thin $border-style-default $color-neutral;
  margin: $spacing-reset !important;
} // .vr

.vr--light {
  border-color: $color-light;
}

.hr {
  border: none;
  border-bottom: $border-width-thin $border-style-default $color-neutral;
  margin: $spacing-default $spacing-reset !important;
} // .vr
