// ==========================================================================
// .tree
// ==========================================================================

.tree {
  @extend .clearfix;
  width: 100%;

  //set the position of the first branch
  &.p1 .tree__branch:first-child { margin-left: 0; }
  &.p2 .tree__branch:first-child { margin-left: 33.3333%; }
  &.p3 .tree__branch:first-child { margin-left: 66.6666%; }
  &.p-sb .tree__branch:last-child { margin-left: 33.3333%; } // position space-between
} // .tree


.tree__branch {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  display: block;
  padding: $spacing-default $spacing-small;

  &:only-child { float: none; }

  // vertical bottom line and horizontal bottom full width line
  .vb-hbf {
    &:after {
      content: "";
      width: 1px;
      height: $spacing-default;
      background-color: $color-dark;
      position: absolute;
      top: calc(100% - 25px);
      left: 50%;
    } // &:after

    &:before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-dark;
      position: absolute;
      top: 100%;
      left: 0;
    } // &:after
  } // .vb-hbf

  // vertical bottom line
  .vb {
    &:after {
      content: "";
      width: 1px;
      height: $spacing-default;
      background-color: $color-dark;
      position: absolute;
      top: calc(100% - 25px);
      left: 50%;
    } // &:after
  } // .vb

  // vertical top line and horizontal top full width line
  .vt-htf {
    &:after {
      content: "";
      width: 1px;
      height: $spacing-default;
      background-color: $color-dark;
      position: absolute;
      bottom: 100%;
      left: 50%;
    } // &:after

    &:before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-dark;
      position: absolute;
      bottom: 100%;
      left: 0;
    } // &:after
  } // .vt-htf

  // vertical top line and horizontal top full width line
  .vt {
    &:after {
      content: "";
      width: 1px;
      height: $spacing-default;
      background-color: $color-dark;
      position: absolute;
      bottom: calc(100% - 25px);
      left: 50%;
    } // &:after
  } // .vt

  // vertical top line and horizontal top half right width line
  .vt-hthr {
    &:after {
      content: "";
      width: 1px;
      height: $spacing-default;
      background-color: $color-dark;
      position: absolute;
      bottom: calc(100% - 25px);
      left: 50%;
    } // &:after

    &:before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-dark;
      position: absolute;
      bottom: calc(100% - 1px);
      left: 50%;
    } // &:after
  } // .vt-hthr

  // vertical top line and horizontal top half left width line
  .vt-hthl {
    &:after {
      content: "";
      width: 1px;
      height: $spacing-default;
      background-color: $color-dark;
      position: absolute;
      bottom: calc(100% - 25px);
      left: 50%;
    } // &:after

    &:before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-dark;
      position: absolute;
      bottom: calc(100% - 1px);
      right: 50%;
    } // &:after
  } // .vt-hthl

  // horizontal left line
  .hl {
    &:after {
      content: "";
      width: 15px;
      height: 1px;
      background-color: $color-dark;
      position: absolute;
      top: 50%;
      right: calc(100% - 15px);
    } // &:after
  } // .hl

  // horizontal right line
  .hr {
    &:after {
      content: "";
      width: 15px;
      height: 1px;
      background-color: $color-dark;
      position: absolute;
      top: 50%;
      left: calc(100% - 15px);
    } // &:after
  } // .hl

  // horizontal left line and vertical half bottom line
  .hl-vhb {
    &:after {
      content: "";
      width: 15px;
      height: 1px;
      background-color: $color-dark;
      position: absolute;
      top: 50%;
      right: calc(100% - 15px);
    } // &:after

    &:before {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-dark;
      position: absolute;
      top: 50%;
      right: calc(100% + 0px);
    } // &:after
  } // .hl

  .arrow-up {
    border: 6px solid transparent;
    border-bottom-color: $color-dark;
    position: absolute;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);
  } // .arrow-up

  .arrow-left {
    border: 6px solid transparent;
    border-right-color: $color-dark;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 9px;
  } // .arrow-up
} // .tree__branch




.tree__branch--50 {
  width: 50%;
  margin: 0 auto;
  padding: 0;
} // .tree__branch

.tree__branch--33 {
  width: 33.3333%;
  margin: 0 auto;
} // .tree__branch
