// ==========================================================================
// .menu
// ==========================================================================

//variables
$menu-item-padding: 15px $spacing-small;
$menu-secondary-padding: 3px 20px;

.menu { display: inline-block; } // .menu

.menu__content {
  @include list-reset;

  &:focus {
    outline: none !important;
    border: none;
  }
} // .menu__content

.menu__item {
  display: inline-block;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    transition: all $transition-time-default $transition-easeInOut;
  }

  &:hover {

    a { color: $color-blue; }

    &:after { background-color: $color-blue; }
  } // &:hover

  a {
    @extend .text, .text--small, .text--semibold;
    height: 50px;
    margin: $spacing-reset;
    padding: $menu-item-padding;
    color: $color-dark;
    line-height: 1.4;
  }

  &.is-active {
    a { color: $color-blue; }

    &:after { background-color: $color-blue; }
  } // a
} // .menu__item

.menu--secondary {
  .menu__item {
    display: inline-block;


    a {
      background-color: $color-light;
      margin: $spacing-reset;
      border: none;
      padding: $menu-secondary-padding;
      cursor: pointer;
      text-transform: uppercase;
      color: #747474;

      &:hover {
        color: $color-white;
        border: none;
        background-color: $color-blue;
      } // &:hover
    }

    &.is-active a {
      color: $color-white;
      border: none;
      background-color: $color-blue;
    } // a

    &:hover, &.is-active {

      &:after { background-color: transparent; }
    } // &:hover
  } // .menu__item
} // .menu--secondary
