// ==========================================================================
// .tabs
// ==========================================================================

.tabs {
  // height: 100%;
}

.modal-container .tabs {
  margin: 20px;
}

.tabs__nav {
  @include list-reset;
  @extend .clearfix;
} // .tabs__nav

.tabs__nav-item {
  display: inline-block;
  background-color: $color-white;
  border: $border-width-thin $border-style-default $color-light;
  border-bottom: $border-width-thin $border-style-default $color-light;
  margin-bottom: -1px;
  z-index: 250;
  position: relative;
  transition: all $transition-time-short $transition-easeInOut;
  cursor: pointer;
  margin-right: 4px;

  float: left;

  .heading, .text {
    margin: 0;
  }

  &:before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: transparent;
    position: absolute;
    top: 0;
    transition: all $transition-time-short $transition-easeInOut;
  } // &:before

  > a {
    @extend .text;
    padding: $spacing-xsmall $spacing-small + 3px;
    display: block;
    cursor: pointer;

    &:focus {
      outline: 0 !important;
      border: none;
    }
  } // a

  &:focus {
    outline: 0 !important;
    border: none;
  }

  &.is-active,
  &:hover {
    border: $border-width-thin $border-style-default $color-light;
    border-bottom: $border-width-thin $border-style-default $color-white;

    &:before { background-color: $color-blue; } // &:before

    a {
      color: $color-blue;
    }
  } // &.is-active, &:hover

  &.is-disabled {
    color: $color-grey;
    a {
      color: $color-grey;
      cursor: default !important;
    }

    &:hover {
      border-bottom: $border-width-thin $border-style-default $color-light;
    } // &:hover

    &:before { background-color: transparent; } // &:before
  }
} // .tabs__nav-item

.tabs__header {
  background-color: $color-white;
  width: 100%;
  padding:  0 $spacing-reset $spacing-regular $spacing-reset;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .form-component {
    // max-width: 300px;
    margin-right: auto;
    display: inline-block;
  }

  .filter + .button {
    margin-left: $spacing-small;
  }
} // .tabs__header

.tabs__filter {
  padding: $spacing-small 0;
} // .tabs__filter

.tabs__header + .tabs__filter { padding-top: 0; }

.tabs__content-wrapper {
  // height: 100%;
  position: relative;

  > * {
    // height: 100%;
  }
} // .tabs__content-wrapper

.tabs__content {
  border: $border-width-thin $border-style-default $color-light;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  height: 0;
  overflow: hidden;
  background-color: $color-white;
  transition: opacity $transition-time-short $transition-easeInOut;
  width: 100%;

  &.is-active {
    position: relative;
    opacity: 1;
    z-index: 200;
    // height: 100%;
    height: auto;
    overflow: visible;
  }

  > .panel {
    padding-top: $spacing-xxsmall;
  }

  // .table {
  //   &:first-child {
  //     margin-top: $spacing-xsmall;
  //   }
  // }

  .container {
    min-height: 305px;
    .form {
      min-height: 265px;
    }
  }

  //tabs modifier to apply when there is a tabs-component
  // inside a tabs-component
  .tabs__nav-item {
    &:before { height: 1px; } // &:before
    > a { padding: $spacing-xxsmall $spacing-small + 3px; } // a
  } // .tabs__nav-item
}

.tabs__content--no-padding {
  padding: 0;
}

.modal .tabs__content { min-height: 400px; }
