// ==========================================================================
// .form-filter
// ==========================================================================

// .form-filter {}

.form-filter__header {
  text-align: center;
  border-bottom: $border-width-thin $border-style-default $color-light;
  padding: $spacing-regular $spacing-small $spacing-small $spacing-small;
  .form-component {
    display: inline-block;
    width: auto;
    margin: 0 $spacing-small;
  }
}
