// ==========================================================================
// .section
// ==========================================================================

.section {
  position: relative;
  // z-index: 1000;
  + .section, + .header-section { margin-top: $spacing-default; }

  // &:only-child { z-index: 80000 !important; }
  // &:nth-child(1) { z-index: 70000; }
  // &:nth-child(2) { z-index: 60000; }
  // &:nth-child(3) { z-index: 50000; }
  // &:nth-child(4) { z-index: 40000; }
  // &:nth-child(5) { z-index: 30000; }
  // &:nth-child(6) { z-index: 20000; }
  // &:nth-child(7) { z-index: 10000; }
} // .section
