// ==========================================================================
// .sidebar
// ==========================================================================

//variables
$closed-sidebar-width: 62px;
$sidebar-toggle-padding: 9px 0;
$sidebar-toggle-spacing: -20px;
$sidebar-list-item-padding: 11px 10px 11px 10px;
$sidebar-box-size: 60px;

.sidebar {
  background-color: $color-white;
  width: 230px;
  border-right: $border-width-thin $border-style-default $color-light;
  position: relative;
  height: 100vh;
  padding-top: 50px;

  display: block;
  height: auto;
  flex-shrink: 0;
} // .sidebar

.sidebar__toggle {
  @include button-reset;;
  background-color: rgba(178, 178, 178, .7);
  width: $xsmall-size - 2px;
  height: $regular-size;
  position: absolute;
  right: $sidebar-toggle-spacing;
  top: 95px;
  text-align: center;
  padding: $sidebar-toggle-padding;
  border-radius: $border-radius-xsmall;
  cursor: pointer;
  z-index: 600;

  svg {
    width: $xxxxsmall-size;
    fill: $color-white;
    // transition: all $transition-time-short $transition-easeInOut;
  }

  i {
    color: $color-white;
    font-size: $xxsmall-size;
    transition: all $transition-time-short $transition-easeInOut;
    transform: rotate(180deg);
  }
} // .sidebar__toggle

.sidebar__list {
  @include list-reset;
  overflow: hidden;
} // .sidebar__list

.sidebar__list-item {
  // border-left: $border-width-regular $border-style-default transparent;
  transition: all $transition-time-short $transition-easeInOut;
  border-bottom: $border-width-thin $border-style-default $color-light;
  width: $xlarge-size + 10px;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    // padding: $sidebar-list-item-padding;
    color: $color-dark;
  }

  &:hover,
  &.is-active  {
    // border-left-color: $color-blue;

    a {

      .sidebar__list-label {
        color: $color-blue;
        // font-weight: $font-weight-semibold;

        &:after { background-color: $color-blue; }
      } // .sidebar__list-label

      .sidebar__list-icon {
        background-color: $color-blue;
        // width: $sidebar-box-size;

        svg { fill: $color-white; }

        i { color: $color-white; }
      } // .sidebar__list-icon
    }
  } // &:hover, &.is-active

  // &:last-child { border-bottom: none; } // &:last-child
} // .sidebar__list-item

.sidebar__list-icon {
  width: 50px;
  height: $sidebar-box-size;
  background-color: $color-white;
  border-right: $border-width-thin $border-style-default $color-light;
  // padding: $spacing-xsmall - 7px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: all $transition-time-short $transition-easeInOut;

  svg {
    width: $xsmall-size - 2px;
    fill: $color-dark;
  }

  i {
    font-size: 24px;
    color: $color-grey;
  }
} // .sidebar__list-icon

.sidebar__list-label {
  @extend .text, .text--small;
  display: inline-block;
  margin-left: 0;
  transition: all $transition-time-short $transition-easeInOut, opacity $transition-time-short $transition-easeInOut $transition-time-short;
  margin-left: $spacing-xsmall;

  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: transparent;
    display: block;
    transition: all $transition-time-short $transition-easeInOut;
  }
} // .sidebar__list-label
