// // ==========================================================================
// // .button
// // ==========================================================================
//
//variables
$button-default-spacing: 0px 10px 0px 10px;
$button-medium-spacing: 3px 10px 4px 10px;
$button-small-spacing: 1px 8px 1px 8px;
$button-small2-spacing: 15px 20px 15px 20px;
$button-margin: 5px 0px 0px 5px;
$tooltip-padding: 4px 8px;
$button-featured-padding: 8px 10px 6px 10px;


.button {
  @include appearance-reset;
  background-color: $color-blue;
  padding: $button-default-spacing;

  //margin set to control behavior when there is more
  //than one button in the same container, at the end
  //there is a pseudo selector to remove margin
  //when the button is the only button inside a container.
  // margin: $button-margin;

  border: $border-width-default $border-style-default $color-blue;
  border-radius: 0;
  z-index: 100;
  display: inline-block;
  cursor: pointer;
  transition: all .3s $transition-easeInOut;
  position: relative;
  vertical-align: bottom;
  text-align: left;

  height: 42px;

  display: inline-flex;
  align-items: center;

  // overflow: hidden;

  &:hover {
    background-color: $color-blue-dark;
    border: $border-width-default $border-style-default $color-blue-dark;
    // overflow: visible;

    .button__tooltip {
      visibility: visible;
      z-index: 99999;
      opacity: 1;
      bottom: calc(50% + 30px);
    } // .button__tooltip

    // .button__tooltip {
    //   max-height: 30px;
    //   opacity: 1;
    //   z-index: 400;
    //
    //   &:before, &:after { opacity: 1;}
    // } // .button__tooltip
  } // &:hover

  &:active {
    background-color: $color-blue;
    border: $border-width-default $border-style-default $color-blue-dark;
    opacity: .9;
  } // &:active

  .button__icon {

    .icon { fill: $color-white; }

    &:only-child { margin: 0; }
  } // .button__icon

  .button__label + .button__icon {
    margin-left: 0;
    margin-right: 5px;
  } // .button__label + .button__icon

  .button__icon + .button__label { margin-left: 0; } // .button__label + .button__icon

  .button__tooltip + .button__icon { margin: 0; } // .button__tooltip + .button__icon

  &:disabled, &.is-disabled {
    background-color: $color-grey;
    border: $border-width-default $border-style-default $color-grey;
    cursor: initial;

    &:hover { background-color: $color-grey; }
  } // &:disabled, &.is-disabled

  &:focus {
    box-shadow: 2px 2px 8px rgba(0,0,0,.3);
  }

  //removes margin when ther is only one button
  //inside a container
  &:only-of-type { margin: 0; } // &:only-of-type
} // .button

//
// Button components (button's children)
// ==========================================================================

.button__label {
  font-family: $font-family-primary;
  font-weight: $font-weight-semibold;
  font-size: $font-size-small;
  text-transform: uppercase;
  color: $color-white;
  vertical-align: middle;
  line-height: 1;
  padding: 0 8px;
  transition: all .3s $transition-easeInOut;

  //line-height fix
  //differences between monotors
  margin-top: 2px;

  input {
    @include appearance-reset;
    font-family: $font-family-primary;
    font-weight: $font-weight-normal;
    font-size: $font-size-small;
    text-transform: uppercase;
    color: $color-white;
    vertical-align: middle;
    line-height: 1;
    padding: 0;
    transition: all .3s $transition-easeInOut;
  } // input
} // .button__label

.button__icon {
  line-height: 0;
  margin-left: 5px;

  .icon {
    width: 26px;
    height: 26px;
  } // .icon

  i, .icon { transition: all .3s $transition-easeInOut; }

  i {
    font-size: 26px;
    line-height: 0;
    position: relative;
    top: 6px;
    color: $color-white;
  } // i

  &:only-child { margin: 0; }
} // .button__icon

.button__tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: $color-dark;
  color: $color-light;
  font-weight: $font-weight-bold;
  text-align: center;
  font-size: $font-size-xsmall;
  padding: $tooltip-padding;
  z-index: 1;
  position: absolute;
  bottom: calc(50% + 20px);
  left: 50%;
  transform: translateX(-50%);
  transition: all $transition-time-default $transition-easeInOut;
  white-space: nowrap;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: $color-dark transparent transparent transparent;
  } // &:after
  // color: $color-light;
  // font-size: $font-size-xsmall;
  // font-weight: $font-weight-semibold;
  // padding: $tooltip-padding;
  // border-radius: 0;
  // position: absolute;
  // bottom: calc(100% + 10px);
  // left: 50%;
  // transform: translateX(-50%);
  // background-color: $color-dark;
  // text-transform: lowercase;
  // max-height: 0;
  // white-space: nowrap;
  // opacity: 0;
  // z-index: -1;
  // transition: all .3s $transition-easeInOut;
  // text-align: center;
  //
  // &:after {
  //   content: "";
  //   border: 5px $border-style-default transparent;
  //   border-top-color: $color-dark;
  //   position: absolute;
  //   top: 100%;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   transition: all .3s $transition-easeInOut;
  //   opacity: 0;
  // } // &:after
} // .button__tooltip



//
// Modifiers by weight (sets the importance of the context)
// ==========================================================================

//fix button inside the filter
.button--left-margin {
  margin-left: 15px !important;
}

.button--rounded {
  width: 50px;
  height: 50px;
  border-radius: $border-radius-rounded;

  .button__icon { margin: 0; }
} // .button--rounded

.button--outline.button--rounded {
  background-color: $color-white;
}

.button--outline {
  background-color: transparent;
  border: 2px $border-style-default $color-blue;

  .button__label { color: $color-blue; } // .button__label

  .button__icon .icon,
  .button__icon i {
    fill: $color-blue;
    color: $color-blue;
  } // .button__icon .icon

  &:hover { background-color: rgba(34  , 31, 83, .22); } // &:hover

  &:disabled, &.is-disabled {
    background-color: transparent;
    border-color: $color-grey;
    .button__label { color: $color-grey; }
    .button__icon .icon,
    .button__icon i {
      fill: $color-grey;
      color: $color-grey;
    } // .button__icon .icon, .button__icon i

    &:hover { background-color: transparent; } // &:hover
  } // &:disabled, &.is-disabled
} // .button--outline

//button--bare is to use side by side other buttons
//it isn't a inline button to use with texts
.button--bare {
  background-color: transparent;
  border: $border-width-default $border-style-default transparent;
  // height: auto;

  &:only-child {
    padding-left: 0;
    padding-right: 0;
  } // &:only-child

  .button__label {
    color: $color-blue;
    text-transform: inherit;
    font-weight: $font-weight-normal;
    text-decoration: underline;

    &:only-child {
      padding-left: 0;
      padding-right: 0;
    } // &:only-child
  } // .button__label
  .button__icon .icon,
  .button__icon i {
    fill: $color-blue;
    color: $color-blue;
  } // .button__icon .icon

  &:hover {
    background-color: transparent;
    border: $border-width-default $border-style-default transparent;
    .button__label { color: $color-blue-dark; }
    .button__icon .icon,
    .button__icon i {
      fill: $color-blue-dark;
      color: $color-blue;
    }
  } // &:hover

  &:disabled, &.is-disabled {
    background-color: transparent;
    border: $border-width-default $border-style-default transparent;
    .button__label { color: $color-grey; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-grey;
      color: $color-grey;
    } // .button__icon .icon, .button__icon i

    &:hover {
      background-color: transparent;
      border: $border-width-default $border-style-default transparent;
    } // &:hover
  } // &:disabled, &.is-disabled
} // .button--bare


//button inline is to be used among the text
//but it still has more weight than the link it-self
.button--inline {
  @extend .button--bare;
  border: none;
  height: auto;
  padding: 0;
  .button__label {
    padding: 0;
    text-transform: initial;
  } // .button__label

  .button__icon + .button__label { margin-left: 5px; }
  .button__label + .button__icon { margin-left: 5px; }

  &:hover {
    border: none;
    .button__label { color: $color-blue-dark; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-blue-dark;
      color: $color-blue-dark;
    } // .button__icon .icon, .button__icon i
  } // &:hover
} // .button--inline


//
// Modifiers by size
// ==========================================================================

.button--medium {
  padding: $button-medium-spacing;
  height: 36px;

  .button__label { font-size: 14px; } // .button__label

  .button__icon {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;

    .icon {
      width: 26px;
      height: 26px;
      line-height: 0;
    } // .button__icon .icon

    i {
      font-size: 20px;
      top: 3px;
    } // i
  } // .button__icon
} // .button--medium

.button--small {
  padding: $button-small-spacing;
  height: 26px;

  .button__label {
    font-size: 12px;

    position: relative;
    bottom: 1px;
  } // .button__label

  .button__icon {
    display: inline-block;
    // vertical-align: -webkit-baseline-middle;

    .icon {
      width: 16px;
      height: 16px;
    } // .button__icon .icon

    i {
      font-size: 16px;
      top: 2px;
    } // i
  } // .button__icon

  .button__icon i:only-child { margin: 4px 0; } // .button__icon .icon:only-child

  .button__label:only-child {
    // display: inline-block;
    // margin: 4px 0 3px 0;
  } // .button__label:only-child

  &.button--bare { height: auto; }
} // .button--small


//
// Modifiers by theme (color)
// ==========================================================================

// to use with dark background
.button--inverse {
  border: 2px $border-style-default $color-white;
  background-color: $color-white;
  .button__label { color: $color-blue; } // .button__label
  .button__icon .icon,
  .button__icon i {
    fill: $color-blue;
    color: $color-blue;
  } // .button__icon .icon, .button__icon i

  &:hover {
    background-color: transparent;
    border-color: $color-white;
    .button__label { color: $color-white; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-white;
      color: $color-white;
    } // .button__icon .icon
  } // &:hover

  &.button--outline {
    background-color: transparent;
    border-color: $color-white;
    .button__label { color: $color-white; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-white;
      color: $color-white;
    } // .button__icon .icon, .button__icon i

    &:hover {
      background-color: transparent;
      border-color: $color-blue;
      .button__label { color: $color-blue; } // .button__label
      .button__icon .icon,
      .button__icon i {
        fill: $color-blue;
        color: $color-blue;
      } // .button__icon .icon
    } // &:hover
  } // &.button--outline

  &.button--bare {
    background-color: transparent;
    border-color: transparent;
    .button__label { color: $color-white; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-white;
      color: $color-white;
    } // .button__icon .icon

    &:hover {
      background-color: transparent;
      .button__label { color: $color-blue; } // .button__label
      .button__icon .icon,
      .button__icon i {
        fill: $color-blue;
        color: $color-blue;
      } // .button__icon .icon, .button__icon i
    } // &:hover
  } // &.button--bare
} // .button--inverse

//button success
.button--success {
  background-color: $color-success;
  border: $border-width-default $border-style-default $color-success;
  .button__label { color: $color-white; }
  .button__icon .icon,
  .button__icon i {
    fill: $color-white;
    color: $color-white;
  } // .button__icon .icon, .button__icon i

  &:hover {
    background-color: $color-success-dark;
    border: $border-width-default $border-style-default $color-success-dark;
    .button__label { color: $color-white; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-white;
      color: $color-white;
    } // .button__icon .icon
  } // &:hover

  &.button--outline {
    background-color: transparent;
    border-color: $color-success;
    .button__label { color: $color-success; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-success;
      color: $color-success;
    } // .button__icon .icon, .button__icon i

    &:hover {
      background-color: transparent;
      border-color: $color-success-dark;
      .button__label { color: $color-success-dark; } // .button__label
      .button__icon .icon,
      .button__icon i {
        fill: $color-success-dark;
        color: $color-success-dark;
      } // .button__icon .icon
    } // &:hover
  } // &.button--outline

  &.button--bare {
    background-color: transparent;
    border: $border-width-default $border-style-default transparent;
    .button__label { color: $color-success; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-success;
      color: $color-success;
    } // .button__icon .icon, .button__icon i

    &:hover {
      background-color: transparent;
      .button__label { color: $color-success-dark; } // .button__label
      .button__icon .icon,
      .button__icon i {
        fill: $color-success-dark;
        color: $color-success-dark;
      } // .button__icon .icon
    } // &:hover
  } // &.button--bare
} // .button--success

//button attention
.button--attention {
  background-color: $color-attention;
  border: $border-width-default $border-style-default $color-attention;
  .button__label { color: $color-white; }
  .button__icon .icon,
  .button__icon i {
    fill: $color-white;
    color: $color-white;
  } // .button__icon .icon

  &:hover {
    background-color: $color-attention-dark;
    border: $border-width-default $border-style-default $color-attention-dark;
    .button__label { color: $color-white; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-white;
      color: $color-white;
    } // .button__icon .icon
  } // &:hover

  &.button--outline {
    background-color: transparent;
    border-color: $color-attention;
    .button__label { color: $color-attention; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-attention;
      color: $color-attention;
    } // .button__icon .icon

    &:hover {
      background-color: transparent;
      border-color: $color-attention-dark;
      .button__label { color: $color-attention-dark; } // .button__label
      .button__icon .icon,
      .button__icon i {
        fill: $color-attention-dark;
        color: $color-attention-dark;
      } // .button__icon .icon
    } // &:hover
  } // &.button--outline

  &.button--bare {
    background-color: transparent;
    border: $border-width-default $border-style-default transparent;
    .button__label { color: $color-attention; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-attention;
      color: $color-attention;
    } // .button__icon .icon

    &:hover {
      background-color: transparent;
      .button__label { color: $color-attention-dark; } // .button__label
      .button__icon .icon,
      .button__icon i {
        fill: $color-attention-dark;
        color: $color-attention-dark;
      } // .button__icon .icon
    } // &:hover
  } // &.button--bare
} // .button--attention

//button danger
.button--danger {
  background-color: $color-danger;
  border: $border-width-default $border-style-default $color-danger;
  .button__label { color: $color-white; }
  .button__icon .icon,
  .button__icon i {
    fill: $color-white;
    color: $color-white;
  } // .button__icon .icon

  &:hover {
    background-color: $color-danger-dark;
    border: $border-width-default $border-style-default $color-danger-dark;
    .button__label { color: $color-white; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-white;
      color: $color-white;
    } // .button__icon .icon
  } // &:hover

  &.button--outline {
    background-color: transparent;
    border-color: $color-danger;
    .button__label { color: $color-danger; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-danger;
      color: $color-danger;
    } // .button__icon .icon

    &:hover {
      background-color: transparent;
      border-color: $color-danger-dark;
      .button__label { color: $color-danger-dark; } // .button__label
      .button__icon .icon,
      .button__icon i {
        fill: $color-danger-dark;
        color: $color-danger-dark;
      } // .button__icon .icon
    } // &:hover
  } // &.button--outline

  &.button--bare {
    background-color: transparent;
    border: $border-width-default $border-style-default transparent;
    .button__label { color: $color-danger; } // .button__label
    .button__icon .icon,
    .button__icon i {
      fill: $color-danger;
      color: $color-danger;
    } // .button__icon .icon

    &:hover {
      background-color: transparent;
      .button__label { color: $color-danger-dark; } // .button__label
      .button__icon .icon,
      .button__icon i {
        fill: $color-danger-dark;
        color: $color-danger-dark;
      } // .button__icon .icon
    } // &:hover
  } // &.button--bare
} // .button--danger




//
// Modifiers by features (icon, behaviors)
// ==========================================================================

.button.button--icon {
  padding: $spacing-reset;
  background: none;
  position: relative;
  border: none;
  // width: 30px;
  overflow: hidden;
  height: auto !important;

  .button__icon {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
  } // .button__icon

  i {
    color: $color-grey;
    font-size: $font-size-regular;
    transition: all $transition-time-default $transition-easeInOut;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } // i

  .icon {
    width: 20px;
    height: 20px;
    fill: $color-grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background: none !important;
    border: none;
    overflow: visible;

    i { color: $color-blue; }
    .icon { fill: $color-blue; }
  } // &:hover
} // .button--icon
