// ==========================================================================
// .wrapper
// ==========================================================================

.wrapper {
  width: $size-default;
  height: $size-default;
} // .wrapper
