// ==========================================================================
// .main-header
// ==========================================================================

.main-header {
  background-color: $color-white;
  // border-top: $border-width-thick2 $border-style-default $color_blue;
  // padding: 7px 0;
  // @include spacing('padding', horizontal, small);
  box-shadow: $box-shadow-spreading-bottom-small $box-shadow-default-color;
  // transition: all 3s $transition-easeInOut;

  position: fixed;
  width: 100%;
  z-index: 99999;

  min-height: 50px;
} // .main-header

// .main-header { z-index: 9999999; }


.main-header__wrapper {
  // @extend .container, .container--xlarge;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .form-component {
    max-width: $xxlarge-size;
    margin-left: auto;
  } // .form-component

  > * {
    margin: $spacing-reset $spacing-small + 5px;
    display: inline-block;
  }
} // .main-header__wrapper

.main-header__brand {
  display: inline-block;
  margin: 0 7px 0 0;
  width: 32px;

  .heading {
    @media(max-width: $media-query-medium) {
      font-size: 13px !important;
    }
  }
} // .main-header__brand

.is-active .main-header__brand .heading { color: $color-blue; }
