// ==========================================================================
// .mega-menu
// ==========================================================================

$mega-menu-content-padding: 50px 0;

.mega-menu {
  background-color: $color-blue;
  margin: 0;
  transition: all .2s $transition-easeInOut;

  &.is-active {
    background-color: $color-white;

    .mega-menu__label { color: $color-blue; }

    .mega-menu__content {
      left: 0;
      opacity: 1;

      &:before { top: -10px; }
    } // .mega-menu__content

    .mega-menu__icon {
      .icon {
        transform: rotate(-90deg);
        fill: $color-blue;
      }
    } // .mega-menu__trigger
  } // &.is-active
} // .mega-menu

.mega-menu__trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 220px;
  min-height: 50px;
  padding: 7px 20px;
  min-width: 195px;
  z-index: 200;
  position: relative;
} // .mega-menu__trigger

.mega-menu__icon {
  display: inline-block;
  margin: 0 7px;

  .icon { fill: $color-white; }
} // .mega-menu__trigger

.mega-menu__label {
  display: inline-block;
  color: $color-white;
  text-transform: uppercase;

  @media(max-width: $media-query-medium) {
    font-size: 12px !important;
  }
} // .mega-menu__label

.mega-menu__container {
  max-width: 100%;
  margin: 0 auto;
}

.mega-menu__content {
  position: fixed;
  top: 50px;
  left: -100%;
  width: 100%;
  min-height: 300px;
  background-color: $color-blue;
  opacity: 0;
  transition: all .2s $transition-easeInOut;
  box-shadow: $box-shadow-spreading-bottom-small $box-shadow-default-color;
  z-index: 190;
  padding: $mega-menu-content-padding;

  &:before {
    content: "";
    border: 5px solid transparent;
    border-bottom-color: $color-blue;
    position: absolute;
    top: -5px;
    left: 131px;
    transition: all .2s $transition-easeInOut .2s;
  }
} // .mega-menu__content


// ==========================================================================
// .mega-menu-nav
// ==========================================================================

.mega-menu-nav {
  ul { @include list-reset; }

  li a {
    color: $color-white;
    font-size: $font-size-small;
    padding: 5px 0;
    display: block;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.is-current {
      text-decoration: underline;
      font-weight: $font-weight-semibold;
    }
  }
} // .mega-menu-nav
