// ==========================================================================
// colapse component
// ==========================================================================

.colapse-trigger {
  @include button-reset;

  i {
    color: $color-grey;
    font-size: 20px;
    vertical-align: middle;
  } // i

  &:hover i, &.is-active i { color: $color-blue; }
} // .colapse-trigger

.colapse-content {
  display: flex;
  padding: 0;
  border-top: $border-width-thin $border-style-default $color-light;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all $transition-time-short $transition-easeInOut;

  &.is-active {
    max-height: 5000px;
    opacity: 1;
    padding: $spacing-small;
  } // &.is-active
} // .colapse-content
