// // ==========================================================================
// // .text
// // ==========================================================================
//
// .text {
//   font-size: $font-size-small;
//   font-family: $font-family-primary;
//   vertical-align: middle;
//
//   // display: flex;
//   // align-items: center;
//
//   &::selection {
//     background: $color-blue;
//     color: $color-white;
//     text-shadow: none;
//   }
//
//   a {
//     color: $color-blue;
//     text-decoration: underline;
//
//     &:hover { color: $color-dark; }
//   }
// } // .text
//
// .text--alternative {}
//
// // By Weight
//
// .text--thin { } // .text--thin
//
// .text--lighter {  } // .text--lighter
//
// .text--light {  } // .text--light
//
// .text--normal {  } // .text--normal
//
// .text--semibold { font-weight: $font-weight-bold; } // .text--semibold
//
// .text--bold { font-weight: $font-weight-bold; } // .text--bold
//
// .text--superbold {  } // .text--superbold
//
// .text--xxbold {  } // .text--xxbold
//
// .text--xxxbold {  } // .text--xxxbold
//
//
//
// // By Size
//
// .text--xsmall { font-size: $font-size-xsmall; } // .text--xsmall
//
// .text--small { font-size: $font-size-small; } // .text--small
//
// .text--default { font-size: $font-size-default; } // .text--default
//
// .text--medium { font-size: $font-size-default; } // .text--medium
//
// .text--large { font-size: $font-size-large; } // .text--large
//
// .text--xlarge { font-size: $font-size-xlarge; } // .text--xlarge
//
//
// // By Theme, feature
//
// .text--inverse { color: $color-white; } // .text--inverse
//
// .text--icon {
//     display: flex;
//     align-items: center;
//
//     i {
//         margin-right: 12px;
//         font-size: 19px;
//     }
// } // .text--icon
//
// .text--light { color: $color-neutral; } // .text--light
//
// .text--primary {} // .text--primary
//
// .text--secondary {} // .text--secondary
//
// .text--tertiary {} // .text--tertiary
//
// .text--uppercase { text-transform: uppercase; }
