// ==========================================================================
// .mapa
// ==========================================================================

.mapa-container-scroll {
  width: 100%;
  overflow-x: auto;
} // .mapa-container-scroll

// .mapa-container-wrapper { width: 2000px; }

.mapa-container-scroll__content {
  display: inline-block;
  max-width: calc(100% - 130px);
  overflow-x: auto;

  // .mapa-container { min-width: 2000px; }

  .mapa-container__body .mapa-grid { border-bottom: $border-width-thin $border-style-default $color-light; }
} // .mapa-container-scroll__content

.mapa-container-scroll__fixed-topbar { margin-right: 17px; }

.mapa-container-scroll__bottom-content {
  max-height: calc(100vh - 390px);
  overflow: auto;
} // .mapa-container-scroll__bottom-content

.mapa-container__header {
  border-bottom: $border-width-thin $border-style-default $color-light;
  height: 46px;
  // .mapa-grid { display: flex; }
  .mapa-grid__col--2-30, .mapa-grid__col--3-30 {
    margin: auto;
    min-height: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } // .mapa-grid__col
} // .mapa-container__header


.mapa-container__body .mapa-grid__col--2-30,
.mapa-container__body .mapa-grid__col--3-30 {
  margin: auto;
  min-height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
} // .mapa-grid__col




// ==========================================================================
// .mapa-grid
// ==========================================================================

.mapa-grid {
  @extend .clearfix;
  width: 100%;
  padding: 5px 0;
  border-bottom: $border-width-thin $border-style-default $color-light;
  display: block;
  // display: flex;
  // position: relative;
  // padding-left: 130px;

  .mapa-grid {
    padding: 0;
    border: none !important;
  } // .mapa-grid

  .mapa-box-mate__item {

    .popover-button {
      width: 100%;
      .button__label {
        color: $color-dark;
        text-decoration: none;
        font-size: $font-size-xsmall;
      } // .button__label

      .popover {
        bottom: initial;
        top: -6px;
        left: 16px;
        width: auto;
        padding: 10px;

        max-height: 200px;
        overflow: auto;

        &:after {
          // background-color: red;
          top: 8px;
          bottom: initial;
          left: -6px;
          border: none;
          border-left: $border-width-thin $border-style-default $color-grey;
          border-top: $border-width-thin $border-style-default $color-grey;
        } // &:after
      } // .popover
    } // .popover-button
  } // .mapa-box-mate__item

  &:nth-last-child(2), &:last-child {

    .mapa-grid {

      .popover-button {

        .popover {
          bottom: -6px;
          top: initial;
        } // .popover
      } // .popover-button
    } // .mapa-grid
  } // &:nth-last-child(2), &:last-child
} // .mapa-grid

.mapa-grid__col {
  display: inline-block;
  float: left;
  padding: 3px;
  background-color: $color-white;
  width: 100%;


  .text {
    margin: 0;
    text-align: center;
  } // .text

  .mapa-grid__col {
    // padding: 0px;
  } // .mapa-grid__col
} // .mapa-grid__col

$totalCols: 30;

.mapa-grid__col--1-30 { width: 2000px * 1 / $totalCols; }
.mapa-grid__col--2-30 { width: 2000px * 2 / $totalCols; }
.mapa-grid__col--3-30 {
  width: 2000px * 3 / $totalCols;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.mapa-grid__col--13-30 { width: 2000px * 13 / $totalCols; }
.mapa-grid__col--14-30 { width: 2000px * 14 / $totalCols; }
.mapa-grid__col--15-30 { width: 2000px * 15 / $totalCols; }
.mapa-grid__col--16-30 {
  width: 2000px * 16 / $totalCols;
  padding: 0;
}
.mapa-grid__col--17-30 { width: 2000px * 17 / $totalCols; }

.mapa-grid__col--1-16 { width: 2000px * 16 / $totalCols * 1 / 16; }


// ==========================================================================
// .mapa-box-date
// ==========================================================================

// variables
$mapa-box-height: 52px;

.mapa-box-date {
  border: $border-width-thin $border-style-default $color-dark;
  min-width: 120px;
  height: $mapa-box-height;
  display: block;
  display: flex;
  flex-direction: column;
} // .mapa-box-date

.mapa-box-date__header {
  border-bottom: $border-width-thin $border-style-default $color-dark;
  font-size: $font-size-xsmall;
  line-height: 1;

  .mapa-week {
    font-weight: $font-weight-semibold;
    display: inline-block;
    border-right: $border-width-thin $border-style-default $color-dark;
    padding: 2px 3px;
    width: 22px;
    float: left;
  } // .mapa-week

  .mapa-date {
    display: inline-block;
    padding: 2px 3px;
    text-align: center;
    width: calc(100% - 22px);
  } // .mapa-date
} // .mapa-box-date__header

.mapa-box-date__body {
  font-size: $font-size-xxsmall;
  line-height: 1;
  text-align: center;
  padding: 3px 3px;
  margin: auto;

  .mapa-link {
    display: inline-block;
    color: $color-blue;
    text-decoration: underline;
    font-weight: $font-weight-semibold;
    margin-bottom: 4px;
    font-size: $font-size-xsmall;
  } // .mapa-link

  .mapa-meta {
    font-weight: $font-weight-semibold;

    &.is-success { color: $color-success; }
    &.is-danger { color: $color-danger; }
    &.is-attention { color: $color-attention; }
  } // .mapa-meta
} // .mapa-box-date__body


// ==========================================================================
// .mapa-box-mate
// ==========================================================================

.mapa-box-mate {
  width: 55px;
  height: $mapa-box-height;
} // .mapa-box-mate

.mapa-box-mate__item {
  display: inline-block;
  width: 25px;
  height: 33.3333%;
  border: $border-width-thin $border-style-default $color-dark;
  float: right;
  font-size: $font-size-xsmall;
  text-align: center;
  padding: 2px;
  line-height: 1;

  &.is-success { background-color: $color-success; }
  &.is-danger { background-color: $color-danger; }
  &.is-attention { background-color: $color-attention; }
  &.is-marked { background-color: $color-grey; }

  .popover-button {
    width: 100%;
    .button__label {
      color: $color-dark;
      text-decoration: none;
      font-size: $font-size-xsmall;
    } // .button__label
  } // .popover-button
} // .mapa-box-mate__item

.mapa-box-mate__item--rep-cio {
  border-bottom: none;
} // .mapa-box-mate__item--rep-cio

.mapa-box-mate__item--aborto {
  border-left: none;
  border-bottom: none;
} // .mapa-box-mate__item--aborto

.mapa-box-mate__item--cobert {
  width: 30px;
  font-weight: $font-weight-semibold;
} // .mapa-box-mate__item--cobert

.mapa-box-mate__item--fals-pre {
  border-left: none;
} // .mapa-box-mate__item--fals-pre

.mapa-box-mate__item--morte {
  border-top: none;
} // ..mapa-box-mate__item--morte

.mapa-box-mate__item--desc {
  border-left: none;
  border-top: none;
} // .mapa-box-mate__item--desc

.add-arrow-right {
  position: relative;
  padding-right: 10px;

  &:after {
    font-family: "FontAwesome";
    content: "\f0da";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    font-size: 20px;
  } // &:after
} // .add-arrow-right


// ==========================================================================
// .legend
// ==========================================================================

.legend {
  display: inline-block;
  margin-left: 40px;
} // .legend

.legend__box {
  display: inline-block;
  vertical-align: middle;

  .mapa-box-mate {
    height: 30px;
    width: 34px;
  }

  .mapa-box-mate__item {
    width: 14px;
    height: 33.3333%;
  }

  .mapa-box-mate__item--cobert {
    width: 18px;
  }



} // .legend__box

.legend__label {
  display: inline-block;
  font-size: $font-size-xsmall;
  vertical-align: middle;
}
