// ==========================================================================
// .progress-bar
// ==========================================================================

.progress {
  margin: 3px 0;
  + .progress { margin-top: $spacing-large; } // .progress + .progress
}

.progress__bar {
  width: 100%;
  height: 4px;
  background-color: $color-light;
  position: relative;
} // .progress__bar

.progress__goal-line {
  width: 1px;
  height: 30px;
  background-color: $color-dark;
  position: absolute;
  top: -3px;
}

.progress__label {
  @extend .text, .text--xsmall;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: $spacing-xxsmall;
  span {
    @extend .text--xxsmall, .text--semibold;
    display: block;
    margin-top: $spacing-xxsmall;
  }
} // .progress__label

.progress__goal {
  @extend .text;
  font-size: $font-size-large - 5px!important;
  margin-bottom: $spacing-xxsmall;
  float: right;
} // .progress__label

.progress__bar-fill {
  background-color: $color-blue;
  height: 4px;
  display: block;
} // .progress__bar-fill

.progress__sub {
  margin-top: $spacing-xxsmall;
  font-size: 10px;
  color: $color-dark;
} // .progress__sub

.progress__sub-end { float: right; }

//themes
.progress--danger .progress__bar-fill { background-color: $color-red; } // .progress
.progress--attention .progress__bar-fill { background-color: $color-attention; } // .progress
.progress--success .progress__bar-fill { background-color: $color-success; } // .progress

.progress--thick {
  .progress__bar { height: 24px; } // .progress__bar
  .progress__bar-fill { height: 24px; } // .progress__bar-fill
}
