// ==========================================================================
// .pill
// ==========================================================================

//variables
$padding-pill: 3px 5px 2px 5px;


// ==========================================================================
// .pill
// ==========================================================================

.pill {
  @extend .tag-2;
  display: inline-block;
  margin: 0 5px 5px 0 !important;
  background-color: $color-light !important;
  border-radius: 0 !important;

  span { display: inline-block !important; }

  &:only-child { margin: 0 !important; }

  // +.pill { margin-left: 5px; }
} // .pill



// ==========================================================================
// .pill Children
// ==========================================================================

.pill__label {
  @extend .text--xxsmall;

  font-family: $font-family-primary;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
  color: $color-text-default !important;
  line-height: 1.2;
  transition: all $transition-time-short $transition-easeInOut;

  font-weight: $font-weight-semibold;
  margin: 0;
  padding: $padding-pill;
  display: inline-block;
} // .pill__label

.pill__button {
  @include appearance-reset;
  cursor: pointer;
  padding-right: 5px;
  // vertical-align: middle;

  i {
    color: $color-white;
    vertical-align: top;
    transition: all $transition-time-short $transition-easeInOut;
  } // i

  .icon {
    width: 10px;
    height: 10px;
    fill: green;
    margin-left: 10px;
  } // .icon

  &:hover {
    i { color: $color-red; }
    .fa-check { color: $color-success; }
    .icon { fill: $color-red; } // &:hover .icon
  } // &:hover
} // .pill__button


// ==========================================================================
// .pill Modifiers
// ==========================================================================

.pill--secondary {
  background-color: $color-1 !important;
  .fa-check { color: $color-success; }
  .pill__label { color: $color-white !important; }
} // .pill--secondary

.pill--tertiary {
  background-color: $color-2 !important;
  .fa-check { color: $color-success; }
  .pill__label { color: $color-white !important; }
} // .pill--tertiary

.pill--quarternary {
  background-color: $color-3 !important;
  .fa-check { color: $color-success; }
  .pill__label { color: $color-white !important; }
} // .pill--quarternary

.pill--danger {
  background-color: $color-red !important;
  .pill__button {
    &:hover {
      i { color: $color-attention; }
      .fa-check { color: $color-success; }
      .icon { fill: $color-attention; } // &:hover .icon
    } // i
  } // .pill__button
  .pill__label { color: $color-white !important; }
} // .pill--danger

.pill--success {
  background-color: $color-success !important;
  .fa-check { color: $color-blue; }
  .pill__label { color: $color-white !important; }
} // .pill--success

.pill--attention {
  background-color: $color-attention !important;
  .fa-check { color: $color-success; }
  .pill__label { color: $color-white !important; }
} // .pill--attention

.pill--disabled {
  background-color: $color-light !important;

  .pill__button {
    cursor: inherit;
    &:hover {
      i { color: $color-white; }
      .fa.fa-check { color: $color-success; }
      .icon { fill: $color-white; } // &:hover .icon
    } // &:hover
  } // .pill__button
  .pill__label { color: $color-white !important; }
} // .pill--disabled
