// ==========================================================================
// Align
// ==========================================================================


.f-align-left {
  text-align: left !important;
  justify-content: flex-start !important;
  margin-left: 0 !important;

  * {
    text-align: left !important;
    justify-content: flex-start !important;
    margin-left: 0 !important;
  }
}

.f-align-right {
  text-align: right !important;
  justify-content: flex-end;
}

.f-align-center {
  text-align: center;
  justify-content: center;
}
