// ==========================================================================
// Arrange helpers
// ==========================================================================

.u-arrange--raise-top { z-index: 999999; }

.u-arrange--raise { z-index: 999990; }

.u-arrange--lower-bottom { z-index: 0; }

.u-arrange--lower { z-index: 1; }

.u-arrange--back { z-index: -1; }

.is-block {
  display: block;
}

.f-inline {
  display: inline-block !important;
  width: auto !important;
  margin-right: 15px;
}
