// ==========================================================================
// .clearfix
// ==========================================================================

.clearfix {
  &:before {
    content: "";
    display: table !important;
  }

  &:after {
    content: "";
    display: table !important;
    clear: both !important;
  }
}
