// ==========================================================================
// Text helpers
// ==========================================================================

.u-text-align-center { text-align: center; }

.u-text-align-right { text-align: right; }

.u-text-align-left { text-align: left; }

.u-text-assistive {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.u-text-truncate {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
