// ==========================================================================
// Vertical space helpers
// ==========================================================================

%vspace-base {
  width: 100%;
  clear: both;
}

.u-vspace--default {
  @extend %vspace-base;
  height: $spacing-default;
}

.u-vspace--xsmall {
  @extend %vspace-base;
  height: $spacing-xxsmall;
}

.u-vspace--small {
  @extend %vspace-base;
  height: $spacing-small;
}

.u-vspace--medium {
  @extend %vspace-base;
  height: $spacing-medium;
}

.u-vspace--large {
  @extend %vspace-base;
  height: $spacing-large;
}

.u-vspace--xlarge {
  @extend %vspace-base;
  height: $spacing-xlarge;
}
