// ==========================================================================
// Visibility helpers
// ==========================================================================
.u-visible--false { display: none; }

.u-visible--sm-false {
  @include breakpoint('small') { display: none; }
}

.u-visible--sm-true {
  display: none;
  @include breakpoint('small') { display: initial; }
}

.u-visible--md-false {
  @include breakpoint('medium') { display: none; }
}

.u-visible--md-true {
  display: none;
  @include breakpoint('medium') { display: initial; }
}

.u-visible--lg-false {
  @include breakpoint('large') { display: none; }
}

.u-visible--lg-true {
  display: none;
  @include breakpoint('large') { display: initial; }
}

.u-visible--xl-false {
  @include breakpoint('xlarge') { display: none; }
}

.u-visible--xl-true {
  display: none;
  @include breakpoint('xlarge') { display: initial; }
}

.no-overflow {
  overflow: visible !important;
}
