// ==========================================================================
// .popover
// ==========================================================================

.popover-button {
  @include button-reset;
  position: absolute;
  top: -3px;
  right: 0;
  // width: 18px;
  // height: 18px;
  padding: 0px;
  overflow: hidden;
  bottom: 1px;
  transition: opacity $transition-time-short $transition-easeInOut;

  i {
    font-size: 16px;
    color: $color-light-2;
    transition: all $transition-time-short $transition-easeInOut;
  }

  &:hover {
    overflow: visible;
    z-index: 99999;
    .popover {
      z-index: 9999;
      opacity: 1;
      transform: translateY(0);
    }

    i { color: $color-blue; }
  }
} // .popover-button

* + .popover-button {
  margin-left: 5px;
}

.popover-button + * {
  margin-right: 5px;
}

.popover-button--success {
  .popover {
    border-color: $color-success;

    * { color: $color-success; }
    &:after { border-color: $color-success; }
  }
  i {
    color: $color-success;
    // &:before { content: "\f058"; }
  }

  &:hover i { color: $color-success; }
}

.popover-button--attention {
  .popover {
    border-color: $color-success;

    * { color: $color-success; }
    &:after { border-color: $color-success; }
  }

  i {
    color: $color-success !important;
    // &:before { content: "\f06a"; }
  }

  &:hover i { color: $color-attention; }
}


.popover-button--danger {
  .popover {
    border-color: $color-danger;

    * { color: $color-danger; }
    &:after { border-color: $color-danger; }
  }

  i {
    color: $color-danger;
    // font-size: 14px;
    // &:before { content: "\f071"; }
  }

  &:hover i { color: $color-danger; }
}

.form-component {
  .popover-button {
    float: right;
  }
}

.popover {
  border: $border-width-thin $border-style-default $color-grey;
  background-color: $color-white;
  padding: 4px 8px;
  border-radius: 2px;
  width: 160px;
  position: relative;
  margin: $spacing-small;
  display: inline-block;
  box-shadow: $box-shadow-spreading-light $box-shadow-default-color;

  position: absolute;
  top: 10px;
  left: -30px;
  opacity: 0;
  transform: translateY(-10px);
  z-index: -1;

  transition: opacity,
              transform .3s;

  &:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: $color-white;
    border-bottom: $border-width-thin $border-style-default $color-grey;
    border-left: $border-width-thin $border-style-default $color-grey;
    position: absolute;
    left: 17px;
    top: -6px;
    transform: translateX(0) rotate(135deg);
  }
}

// by size
.popover--small { width: 130px; }

//form-component feedbacks
.popover--feedback {
  left: initial;
  top: 24px;
  right: 0px;
  margin: 0;
  &:after {
    left: inherit;
    right: 3px;
    top: -6px;
    transform: translateX(0) rotate(135deg);
  }
}

.popover--top-left {
  left: initial;
  top: auto;
  bottom: 30px;
  left: -15px;
  margin: 0;

  transform: translateY(10px);
  &:after {
    left: 17px;
    top: auto;
    bottom: -6px;
    transform: translateX(0) rotate(-45deg);
  }
}

.popover--top-right {
  left: initial;
  top: calc(-100% + 10px);
  bottom: initial;
  right: -15px;
  margin: 0;

  transform: translateY(10px);
  &:after {
    left: inherit;
    right: 17px;
    top: auto;
    bottom: -6px;
    transform: translateX(0) rotate(-45deg);
  }
}

.popover--top-right2 {
  left: initial;
  top: calc(-100% + 14px);
  bottom: initial;
  right: -15px;
  margin: 0;

  transform: translateY(10px);
  &:after {
    left: inherit;
    right: 17px;
    top: auto;
    bottom: -6px;
    transform: translateX(0) rotate(-45deg);
  }
}

.popover--bottom-left {
  top: inherit;
  bottom: 20px;
  left: -30px;
  &:after {
    left: 17px;
    top: inherit;
    bottom: -6px;
    transform: translateX(0) rotate(-45deg);
  }
}

.popover--bottom-right {
  top: 11px;
  left: inherit;
  right: -30px;
  &:after {
    left: auto;
    right: 17px;
    top: -6px;
    transform: translateX(0) rotate(-225deg);
  }
}

.popover--large {
  width: 260px;
  left: calc(50% - 30px);
}
