// ==========================================================================
// .form-fieldset
// ==========================================================================

//
// fieldset Block
// ==========================================================================

//It's a default fieldset tag with its own children
.fieldset {
  background-color: $color-white;
  width: 100%;
  margin-top: $spacing-xxsmall;
  // z-index: 999;
  +.fieldset { margin-top: $spacing-default; }

  &:last-of-type { margin-bottom: $spacing-small; }
} // .fieldset


//
// fieldset Children
// ==========================================================================

.fieldset__header {
  @extend .heading, .heading--semibold;
  font-size: 15px;
  width: 100%;
  text-transform: initial !important;
  padding: $spacing-xxsmall 0 0 0;
  margin: 0 0 4px 0 !important;
  color: $color-text-default;
  border-bottom: $border-width-thin $border-style-default $color-grey;
  display: flex;
  align-items: center;

  i {
    font-size: 26px;
    color: $color-blue;
    vertical-align: middle;
    margin-right: $spacing-xxsmall;
    padding: 3px 0;
  } // i

  .info {
    @extend .text, .text--small;
    color: $color-grey;
    margin-left: auto;
    text-transform: initial;
  } // .info
} // .fieldset__header

.fieldset__header + .fieldset__description { margin-top: 5px; }

.fieldset__description {
  font-family: $font-family-primary;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  color: #636363;
  line-height: $line-height-reset;
  display: inline-block;
  margin: 0 0 $spacing-small + 5px 0;

  > a {
    color: $color-blue;
    text-decoration: underline;
    cursor: pointer;
  } // > a
} // .fieldset__description


//
// fieldset Modifiers
// ==========================================================================

//this modifiers gives the fieldset a accordion behavior
//it must have a fieldset__header to be used as a accordion trigger
.fieldset--collapse {

  .fieldset__header {
    position: relative;
    cursor: pointer;
    transition: all $transition-time-short $transition-easeInOut;
    padding-right: 30px;

    &:after {
      font-family: 'FontAwesome';
      content: "\f107";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 30px;
    } // &:after

    &:hover { color: $color-blue; }
  } // .fieldset__header

  .fieldset__body {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all $transition-time-short $transition-easeInOut;
  } // .fieldset__body

  &.is-active {

    .fieldset__header {

      &:after { transform: translateY(-50%) rotate(180deg); }

      &:hover { color: $color-blue; }
    } // .fieldset__header

    .fieldset__body {
      max-height: 1500px;
      opacity: 1;
      overflow: visible;
    } // .fieldset__body
  } // &.is-active
} // .fieldset--collapse

.fieldset__body + .fieldset__body { margin-top: $spacing-default; }

.fieldset__header + .fieldset__body { margin-top: 10px; }

.fieldset__row {

  > * {
    display: inline-block;
    width: auto !important;
    margin-left: $spacing-default;

    &:first-child { margin-left: 0; }
  } // > *
} // .fieldset__row
