// ==========================================================================
// .form-output
// ==========================================================================

//
// form Block
// ==========================================================================

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  // padding-bottom: 74px;
  position: relative;
} // .form


//
// form Children
// ==========================================================================

.form__footer {
  padding: $spacing-small $spacing-reset $spacing-reset $spacing-reset;
  padding-top: $spacing-small !important;
  margin-top: auto;
  text-align: right;
  border-top: $border-width-thin $border-style-default $color-light;
  display: block;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  // position: absolute;
  // bottom: 0;
  // left: 0;
} // .form__footer

// form__footer combination
.form__footer + .form__footer {
  padding: $spacing-small $spacing-reset $spacing-reset $spacing-reset;
  border-top: none;
} // .form__footer + .form__footer


//
// form Modifiers
// ==========================================================================

.form--special-bottom-padding { padding-bottom: 0px; }


//
// S3Air Custom style
// ==========================================================================

.form__footer {
  .button + .button { margin-left: $spacing-xsmall; }
  .button, .button-group:only-child { margin-left: auto; }
} // .form__footer
