// ==========================================================================
// Borders
// ==========================================================================

$border-none: none;
$border-width-thin: 1px;
$border-width-default: 2px;
$border-width-regular: 4px;
$border-width-thick: 6px;
$border-width-thick2: 5px;
$border-width-large: 10px;

$border-style-default: solid;
