// ==========================================================================
// Borders radius
// ==========================================================================

$border-radius-rounded: 100%;
$border-radius-xsmall: 1px;
$border-radius-small: 2px;
$border-radius-medium: 5px;
$border-radius-default: 50px;
