// ==========================================================================
// Box Shadows
// ==========================================================================

$box-shadow-spreading-bottom: 1px 7px 20px;
$box-shadow-spreading-bottom-small: 1px 2px 8px;
$box-shadow-spreading-light: 1px 7px 20px;
$box-shadow-default-color: rgba(0, 0, 0, 0.2);
