// ==========================================================================
// Colors
// ==========================================================================

// Brand
$color-blue: #2A64E8;
$color-blue-dark: #214DB5;

$color-1: #79DDC8;
$color-2: #FF8EB7;
$color-3: #B48ED0;

$color-red: #F03228;
$color-red-dark: #BD2820;

$color-yellow: #FFBE00;
$color-yellow-dark: #CC9900;

$color-green: #00962D;
$color-green-dark: #00631E;

$color-orange: #FF7100;

// Common States
$color-success: #00962D;
$color-success-dark: #005f1d;
$color-attention: #ffcd0a;
$color-attention-dark: #d27409;
$color-danger: #F03228;
$color-danger-dark: #a2231c;
$color-active: #FFF8E6;

$color-neutral: #B2B2B2;

// Basics
$color-white: #fff;
$color-black: #000;

// Greys
$color-dark: #353939;
$color-grey: #B2B2B2;
$color-light: #E5E5E5;
$color-light-2: #c2c4c4;
$color-lighter: #F6F6F6;

// Color Text
$color-text-default: $color-dark;
