// ==========================================================================
// Font settings
// ==========================================================================

// Family
$font-family-primary: 'FS Elliot';

// Root Size
$font-size-root: 16px;

// Sizes
// $font-size-default: $font-size-root;

$font-size-xxxsmall: 9px;
$font-size-xxsmall: 10px;
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-default: 16px;
$font-size-regular: 18px;
$font-size-medium: 25px;
$font-size-large: 32px;
$font-size-xlarge: 40px;

// Line Heights
$line-height-zero: 0;
$line-height-small: 20px;
$line-height-reset: 1;
$line-height-default: 1.25;
$line-height-medium: 26px;
$line-height-large: 28px;

// Weights
$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-semibold: 600;
