// ==========================================================================
// Media Queries
// ==========================================================================

$media-query-small: 415px;
$media-query-medium: 768px;
$media-query-large: 1024px;
$media-query-xlarge: 1280px;


// ==========================================================================
// @mixin breakpoint
// Usage: {
//   @include breakpoint('small/medium/large/xlarge');
// }
// ==========================================================================

$breakpoints: (
  small: $media-query-small,
  medium: $media-query-medium,
  large: $media-query-large,
  xlarge: $media-query-xlarge
);

@mixin breakpoint($breakpoint) {
  @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}
