// ==========================================================================
// Sizes
// ==========================================================================

// Objects sizes

$tiny-size: 1px;
$xxxxsmall-size: 12px;
$xxxsmall-size: 14px;
$xxsmall-size: 16px;
$xsmall-size: 22px;
$small-size: 30px;
$regular-size: 35px;
$medium-size: 40px;
$large-size: 51px;
$xlarge-size: 200px;
$xxlarge-size: 250px;

$size-default: 100%;
$overlaid-size: 120%;
