// ==========================================================================
// Spacing
// Use for margins and paddings
// ==========================================================================

$spacing-default: 25px;

$spacing-reset: 0;
$spacing-xxxsmall: 1px;
$spacing-xxsmall: 5px;
$spacing-xsmall: 10px;
$spacing-small: 15px;
$spacing-regular: 20px;
$spacing-medium: 40px;
$spacing-large: 60px;
$spacing-xlarge: 80px;


// ==========================================================================
// @mixin spacing
// Usage:
// @include spacing('padding/margin', 'xsmall/small/medium/large/xlarge', all/vertical/horizontal/top/right/bottom/left/);
// ==========================================================================

@mixin spacing($type: padding, $directions: all, $size: 'default') {

  $directions-map: (
    all: ('top', 'right', 'bottom', 'left'),
    vertical: ('top', 'bottom'),
    horizontal: ('right', 'left'),
    top: ('top'),
    right: ('right'),
    bottom: ('bottom'),
    left: ('left')
  );

  $sizes-map: (
    default: $spacing-default,
    xsmall: $spacing-xsmall,
    small: $spacing-small,
    medium: $spacing-medium,
    large: $spacing-large,
    xlarge: $spacing-xlarge
  );

  @each $direction in map-get($directions-map, $directions) {
    #{$type}-#{$direction}: map-get($sizes-map, $size);
  } // @each $direction

} // @mixin spacing
