// ==========================================================================
// Transitions
// ==========================================================================

//transition animation
$transition-ease: cubic-bezier(.25, .1, .25, 1);
$transition-easeIn: cubic-bezier(.42, 0, 1, 1);
$transition-easeOut: cubic-bezier(0, 0, .58, 1);
$transition-easeInOut: cubic-bezier(.42, 0, .58, 1);


//transition time
$transition-time-default: .2s;
$transition-time-short: .2s;
$transition-time-xshort: .2s;
$transition-time-reset: 0s;
