// ==========================================================================
// Widths
// ==========================================================================

$max-width-xsmall: 480px;
$max-width-small: 540px;
$max-width-medium: 700px;
$max-width-large: 980px;
$max-width-xlarge: 1280px;
$max-full-width: 100%;


// ==========================================================================
// @mixin max-width
// Usage:
// @include max-width('small/medium/large/xlarge');
// ==========================================================================

$widths: (
  xsmall: $max-width-xsmall,
  small: $max-width-small,
  medium: $max-width-medium,
  large: $max-width-large,
  xlarge: $max-width-xlarge
);

@mixin max-width($max-width) {
  max-width: #{map-get($widths, $max-width)};
}
