// ==========================================================================
// .panel
// ==========================================================================
// ==========================================================================
// .panel
// ==========================================================================

.panel {
  display: flex;
  flex-direction: column;
} // .panel

.panel--bordered {
  .panel { border: $border-width-thin $border-style-default $color-light; }
  .panel__header {
    border-bottom: $border-width-thin $border-style-default $color-light;
    padding: $spacing-xsmall $spacing-xsmall $spacing-xsmall $spacing-small;
  }
} // .panel--bordered


.panel__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    z-index: 100;
    position: relative;
  }

  &.is-active {
    .panel__hidden-box {
      width: 100%;
      opacity: 1;
      overflow: visible;
    }
  }
}

.panel__hidden-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xsmall $spacing-default;
  z-index: 300;

  width: 0;
  overflow: hidden;
  opacity: 0;

  transition: all $transition-time-short $transition-easeInOut;
} // .panel__hidden-box

.panel__body {

  img {
    width: 100%;
  }
} // .panel__body

.panel__footer {
  display: flex;
  justify-content: space-between;
  margin: 0 $spacing-xsmall;
  padding: $spacing-xsmall 0;
  border-top: $border-width-thin $border-style-default $color-light;
  margin-top: auto;
}





* + .panel {
  margin-top: $spacing-default;
}


.tabs .panel__footer {
  padding-top: $spacing-small;
  margin-top: auto;
  text-align: right;
  border-top: $border-width-thin $border-style-default $color-light;
}

.panel__header--bottom-line {
  border-bottom: $border-width-thin $border-style-default $color-light;
  padding-bottom: $spacing-xsmall;
} // .panel__header--bottom-line

.panel__header + .panel__body { margin-top: $spacing-default; } // .panel__header + .panel__body

.panel__body + .panel__body { margin-top: $spacing-default; } // .panel__body + .panel__body

// .panel__footer { margin-top: $spacing-default; } // .panel__footer

.panel--compact {
  .panel__header {
    border-bottom: $border-width-thin $border-style-default $color-light;
    padding-bottom: 5px;
  }
  .panel__body { margin-top: $spacing-xsmall; }
}
