// ==========================================================================
// .tag
// ==========================================================================
$tag-padding: 3px 5px 2px 5px;

// .tags { display: inline-flex; }




// .tag-2, .tag {
.tag-2 {
  @extend .text, .text--xxsmall;
  font-weight: $font-weight-semibold;
  padding: $tag-padding;
  color: $color-white;

  font-family: $font-family-primary;
  margin: 0 4px 4px 0;
  line-height: 1.2;
  transition: all $transition-time-short $transition-easeInOut;

  border-radius: 6px;
  text-transform: uppercase;
  background-color: $color-blue;
  display: inline-block !important;

  a, span {
    color: $color-white !important;
    text-decoration: none !important;
  }

  &:only-child { margin: 0; }
} // .tag


.tag--primary {
  background-color: $color-1;
  cursor: pointer;
} // .tag

.tag--secondary { background-color: $color-2; } // .tag

.tag--tertiary { background-color: $color-3; } // .tag

.tag--danger { background-color: $color-danger; } // .tag

.tag--success { background-color: $color-success; } // .tag

.tag--attention { background-color: $color-attention; } // .tag

.tag--disabled {
  background-color: $color-light;
  a, span {
    color: $color-dark !important;
  } // a
} // .tag
