// ==========================================================================
// .scroll-box
// ==========================================================================

.scroll-box {
  max-height: 600px;
  overflow-y: scroll;
  overflow: auto;
  padding-right: 5px;

  .table {
    margin: 0 !important;
  }
}
