// ==========================================================================
// .text
// ==========================================================================

.text {
  font-family: $font-family-primary;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  color: $color-text-default;
  margin: 4px 0;
  line-height: 1.2;
  transition: all $transition-time-short $transition-easeInOut;
  vertical-align: middle;

  .link-inline {
    text-decoration: underline;
    color: $color-blue;
    cursor: pointer
  }

  &::selection {
    background: $color-blue;
    color: $color-white;
    text-shadow: none;
  }

  a {
    color: $color-blue;
    text-decoration: underline;

    &:hover { color: $color-dark; }
  }
}
.text--inline {
  display: inline-block;
}

.grid__col > .text:only-child { margin: 0; }

.text--success {
  font-weight: $font-weight-semibold;
  color: $color-success;
}

.text--attention {
  font-weight: $font-weight-semibold;
  color: $color-attention;
}

.text--danger {
  font-weight: $font-weight-semibold;
  color: $color-danger;
}

.text + .text {}

.text--alternative {
  font-style: italic;
  color: $color-blue;
}

// By Weight

.text--thin { font-weight: $font-weight-light; }

.text--lighter {  }

.text--light {  }

.text--normal { font-weight: $font-weight-normal; }

.text--semibold { font-weight: $font-weight-bold; }

.text--bold { font-weight: $font-weight-bold; }

.text--superbold {  }

.text--xxbold {  }

.text--xxxbold {  }



// By Size

.text--xxsmall { font-size: $font-size-xxsmall !important; }

.text--xsmall { font-size: $font-size-xsmall; }

.text--small { font-size: $font-size-small; }

.text--default { font-size: $font-size-default; }

.text--medium { font-size: 20px; }

.text--large { font-size: $font-size-large; }

.text--xlarge { font-size: $font-size-xlarge; }

.text--xxlarge { font-size: $font-size-xlarge + 10px !important; }


// By Theme, feature

.text--inverse {
  color: $color-white;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--icon {
  display: flex;
  align-items: center;

  i {
    margin-right: 12px;
    font-size: 19px;
  }
}

.text--light { color: $color-neutral; } // .text--light

.text--primary {}

.text--secondary {}

.text--tertiary {}
