// ==========================================================================
// .button-group
// ==========================================================================

.button-group {
  transition: $transition-time-short $transition-easeInOut;
  // display: flex;
  // align-items: center;

  > * { display: inline-block; }

  .text {
    margin: 0 $spacing-xsmall;
  }
}

.button-group--table-spacing {
  .button {
    padding: 5px 5px 5px 5px !important;
  }
}

.button-group--spacing {
  .button {
    padding: 5px 8px 5px 5px !important;
  }
}

.media + .button-group {
  margin: $spacing-xsmall 0 0 0;
}
