// ==========================================================================
// .dropdown
// ==========================================================================
//Components changed by nesting:
////../components/list/_list.scss
//
//Components extended:
////../components/formated-text/_text.scss
//
//Components using and changing .dropdow by nesting
////../components/daily-graph/_daily-graph.scss
///../components/form-component/_form-component.states.scss
//../containers/main-container/_main-container.scss

//variables
$fm-negative-top-spacing: -7px;
$fm-regular-spacing: 20px;

//
// dropdown Block
// ==========================================================================

.dropdown {
  position: relative;
  width: 100%;
  transition: all $transition-time-short $transition-easeInOut;

  &.is-active,
  &.dropdown--hover:hover {
    // z-index: 999999;

    .dropdown__content {
      top: calc(50% + 25px);
      opacity: 1;
      transform: scaleY(1);
    } // .dropdown__content

    .dropdown__header i { color: $color-blue; }
  } // &.is-active

  //when it is the last element on screen
  &.is-last {
    .dropdown__content {
      right: $spacing-reset;
      left: inherit;

      &:before {
        left: inherit;
        right: $spacing-small + 5px;
      } // &:before

      &:after {
        left: inherit;
        right: $spacing-small + 2px;
      } // &:after
    } // .dropdown__content
  } // &.is-last

  &.is-beta {
    text-align: left;
    display: inline-block;
    margin-top: 10px;
    .dropdown__content {
      top: inherit !important;
      bottom: 100%;
      max-height: 200px;
      overflow: auto;

      .text {
        margin: 0;

        strong { margin-right: 5px; }
      }
    } // .dropdown__content
  } // &.is-last
} // .dropdown


//
// dropdown Elements
// ==========================================================================

//dropdown__header is the trigger of the dropdown component and it may
//contain any other element (button, avatar, text, etc...)
.dropdown__header {
  @include appearance-reset;
  @extend .text, .text--small, .text--semibold;
  width: 100%;
  min-height: inherit;
  position: relative;
  z-index: 100;
  cursor: pointer;
  margin: 0 !important;
  text-align: left;
  padding: 0;
  display: inline-block !important;

  background-image: url(http://dev.workandcode.com/agriness/arrow_dropdown.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) calc(50% + 0px);
  background-size: 10px;

  padding-right: 30px;


  > .icon {
    width: 20px;
    height: 20px;
    fill: $color-grey;

    &:hover { fill: $color-blue; }
  }
} // .dropdown__header

//dropdown__content is the collapsible part of the component
.dropdown__content {
  width: auto;
  min-width: 310px !important;
  z-index: 99999;
  text-align: left;

  position: absolute;
  top: 90%;
  left: 0;

  max-height: 300px;
  overflow-y: scroll;
  overflow: auto;

  transform: scaleY(0);
  transform-origin: top;

  opacity: 0;

  //theme
  border: $border-width-thin $border-style-default $color-light;
  background-color: $color-white;
  box-shadow: $box-shadow-spreading-bottom $box-shadow-default-color;
  min-width: $xlarge-size;

  //../components/list/_list.scss
  .list {
    padding: 0 10px;

    .list__item {
      padding: 7px 0;
      cursor: pointer;
      font-size: 14px;
    }
  } // .list

  * { transition: all $transition-time-default $transition-easeInOut; }
} // .dropdown__content

.dropdown__content--large {
  max-height: 400px;
}

.dropdown__content--fixed {
  max-height: 100vh;


  .scroll-list {
    border-top: 1px solid $color-light;
    border-bottom: 1px solid $color-light;
    max-height: 150px; overflow-y: auto;
  }
}

.modal .dropdown__content { max-height: 190px; }

//
// dropdown Modifiers
// ==========================================================================

.dropdown--up {}

.dropdown--autocomplete {
  position: absolute;
  top: 15px;

  .dropdown__content {
    .list__item {
      font-size: 14px;

      &:focus {
        outline: none;
        > * { background-color: $color-light; }
      }
    }
  }

  .feedback-autocomplete {
    display: block;
    font-size: $font-size-xsmall;
    color: $color-dark;
    display: block;
    padding: 16px 0;
  }
}


.dropdown--box {
  .dropdown__header {
    // @extend .input-text;
    border: $border-width-thin $border-style-default $color-grey;
    width: 100%;
    padding: 10px 30px 10px 10px;
    background-color: $color-white;
  } // .dropdown__header

  .dropdown__content {
    top: 100% !important;
    width: 100%;
    &:before, &:after, { opacity: 0; }
  } // .dropdown--box

  &.is-active {
    .dropdown__content {
      top: calc(100% + 9px);

      &:before, &:after, { opacity: 0; }
    } // .dropdown__content
  } // .dropdown--box.is-active
} // .dropdown--box


.dropdown__content.dropdown__content--align-right {
  left: auto;
  right: $spacing-reset;
  transform: scaleY(0);
} // .dropdown__content--align-right


.dropdown--light {
  width: auto;
  display: inline-block;

  .dropdown__header {
    height: auto;
    width: auto;
    text-align: center;
    background: none;
    padding: 5px;

    i {
      font-size: 20px;
      color: $color-grey;
      vertical-align: middle;
    } // i

    &:after { opacity: 0; }
  } // .dropdown__header

  .dropdown__content {
    // left: -14px;
    top: calc(100% + 5px) !important;

    //../list/_list.scss
    // .list {
    //
    //   .list-item {
    //     margin-bottom: 5px;
    //     padding-bottom: 5px;
    //     border-bottom: $border-width-thin $border-style-default $color-light;
    //
    //     &:last-child {
    //       margin-bottom: 0;
    //       padding-bottom: 0;
    //       border-bottom: none;
    //     } // &:last-child
    //
    //     .form-component, .checkbox { padding: 5px 0 !important; }
    //   } // .list-item
    // } // .list

    &:before { opacity: 0; }
  } // .dropdown__content
} // .dropdown--light


//gives dropdown the lookup appearance, with icon em spacings
.dropdown--lookup {

  .dropdown__header {
    @extend .input-text;
    border: $border-width-thin $border-style-default $color-grey;
    background-image: none;
    white-space: nowrap;

    //overflow to keep the before pseudo element shadow inside the dropdown__header
    overflow: hidden;

    &:after {
      font-family: 'icomoon';
      content: "\e906";
      font-size: 24px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: $color-light;
      transition: all $transition-time-short $transition-easeInOut;
    } // &:after

    &:before {
      content: "";
      width: 40px;
      height: 100%;
      background-color: $color-white;
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: -15px 0 25px $color-white;
    }
  } // .dropdown__header

  .dropdown__content {
    overflow: visible;

    //../components/list/list.scss
    .list {
      overflow-y: scroll;
      overflow: auto;
      max-height: 210px;
      margin-top: $spacing-xsmall;
    } // .list
  } // .dropdown__content
} // .dropdown--lookup


//gives dropdown the date component appearance, with icon em spacings
.dropdown--date {

  .dropdown__header {
    @extend .input-text;
    border: $border-width-thin $border-style-default $color-grey;
    background-image: none;
    padding: 10px 37px 10px 10px;
    position: relative;

    &:after {
      font-family: 'icomoon';
      content: "\e903";
      font-size: 24px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: $color-light;
      transition: all $transition-time-short $transition-easeInOut;
    } // &:after
  } // .dropdown__header

  .dropdown__content {
    max-height: 500px;
    text-align: center;
    width: auto;
  } // .dropdown__content
} // .dropdown--date
