// // ==========================================================================
// // .dropdown
// // ==========================================================================
// //Components changed by nesting:
// ////../components/list/_list.scss
// //
// //Components extended:
// ////../components/formated-text/_text.scss
// //
// //Components using and changing .dropdow by nesting
// ////../components/daily-graph/_daily-graph.scss
// ///../components/form-component/_form-component.states.scss
// //../containers/main-container/_main-container.scss
//
// //variables
// $fm-negative-top-spacing: -7px;
// $fm-regular-spacing: 20px;
//
// //
// // dropdown Block
// // ==========================================================================
//
// .dropdown {
//   position: relative;
//   width: 100%;
//   transition: all $transition-time-short $transition-easeInOut;
//
//   &.is-active,
//   &.dropdown--hover:hover {
//     z-index: 999999;
//
//     .dropdown__content {
//       top: calc(50% + 25px);
//       opacity: 1;
//       transform: scaleY(1);
//     } // .dropdown__content
//
//     .dropdown__header i { color: $color-blue; }
//   } // &.is-active
//
//   //when it is the last element on screen
//   &.is-last {
//     .dropdown__content {
//       right: $spacing-reset;
//       left: inherit;
//
//       &:before {
//         left: inherit;
//         right: $spacing-small + 5px;
//       } // &:before
//
//       &:after {
//         left: inherit;
//         right: $spacing-small + 2px;
//       } // &:after
//     } // .dropdown__content
//   } // &.is-last
// } // .dropdown
//
//
// //
// // dropdown Elements
// // ==========================================================================
//
// //dropdown__header is the trigger of the dropdown component and it may
// //contain any other element (button, avatar, text, etc...)
// .dropdown__header {
//   @include appearance-reset;
//   @extend .text, .text--small, .text--semibold;
//   width: 100%;
//   min-height: inherit;
//   position: relative;
//   z-index: 100;
//   cursor: pointer;
//   margin: 0 !important;
//   text-align: left;
//   padding: 0;
//
//   background-image: url(http://dev.workandcode.com/agriness/arrow_dropdown.svg);
//   background-repeat: no-repeat;
//   background-position: calc(100% - 12px) calc(50% + 0px);
//   background-size: 10px;
//
//   padding-right: 30px;
// } // .dropdown__header
//
// //dropdown__content is the collapsible part of the component
// .dropdown__content {
//   width: auto;
//   min-width: 304px !important;
//   z-index: 999;
//   text-align: left;
//
//   position: absolute;
//   top: 90%;
//   left: 0;
//
//   max-height: 300px;
//   overflow-y: scroll;
//   overflow: auto;
//
//   transform: scaleY(0);
//   transform-origin: top;
//
//   opacity: 0;
//
//   //theme
//   border: $border-width-thin $border-style-default $color-light;
//   background-color: $color-white;
//   box-shadow: $box-shadow-spreading-bottom $box-shadow-default-color;
//   min-width: $xlarge-size;
//
//
//   * { transition: all $transition-time-default $transition-easeInOut; }
// } // .dropdown__content
//
// //
// // dropdown Modifiers
// // ==========================================================================
//
// .dropdown--box {
//   .dropdown__header {
//     // @extend .input-text;
//     border: $border-width-thin $border-style-default $color-grey;
//     width: 100%;
//     padding: 10px 30px 10px 10px;
//     background-color: $color-white;
//   } // .dropdown__header
//
//   .dropdown__content {
//     top: 100% !important;
//     width: 100%;
//     &:before, &:after, { opacity: 0; }
//   } // .dropdown--box
//
//   &.is-active {
//     .dropdown__content {
//       top: calc(100% + 9px);
//
//       &:before, &:after, { opacity: 0; }
//     } // .dropdown__content
//   } // .dropdown--box.is-active
// } // .dropdown--box
//
//
// .dropdown__content.dropdown__content--align-right {
//   left: auto;
//   right: $spacing-reset;
//   transform: scaleY(0);
// } // .dropdown__content--align-right
//
//
// .dropdown--light {
//   width: auto;
//   display: inline-block;
//
//   .dropdown__header {
//     height: auto;
//     width: auto;
//     text-align: center;
//     background: none;
//     padding: 0;
//
//     //when using icon fonts (lihk FortAwesome)
//     i {
//       font-size: 20px;
//       color: $color-grey;
//       vertical-align: middle;
//     } // i
//
//     &:after { opacity: 0; }
//   } // .dropdown__header
//
//   .dropdown__content {
//     left: -14px;
//     top: calc(100% + 5px) !important;
//
//     &:before { opacity: 0; }
//   } // .dropdown__content
// } // .dropdown--light
//
//
// //gives dropdown the lookup appearance, with icon em spacings
// .dropdown--lookup {
//
//   .dropdown__header {
//     padding: 0;
//
//     &:after {
//       font-family: 'icomoon';
//       content: "\e906";
//       font-size: 24px;
//       position: absolute;
//       right: 14px;
//       top: 5px;
//       color: $color-light;
//       transition: all $transition-time-short $transition-easeInOut;
//     } // &:after
//   } // .dropdown__header
// } // .dropdown--lookup
//
//
// //gives dropdown the date component appearance, with icon em spacings
// .dropdown--date {
//
//   .dropdown__header {
//     @extend .input-text;
//     border: $border-width-thin $border-style-default $color-grey;
//     background-image: none;
//     padding: 10px 37px 10px 10px;
//     position: relative;
//
//     &:after {
//       font-family: 'icomoon';
//       content: "\e903";
//       font-size: 24px;
//       position: absolute;
//       right: 14px;
//       top: 7px;
//       color: $color-light;
//       transition: all $transition-time-short $transition-easeInOut;
//     } // &:after
//   } // .dropdown__header
//
//   .dropdown__content {
//     max-height: 500px;
//     text-align: center;
//     width: auto;
//   } // .dropdown__content
// } // .dropdown--date
//
//
// //
// // S3Air Custom style
// // ==========================================================================
//
// //dropdown__content is the collapsible part of the component
// .dropdown__content {
//
//   //../components/list/_list.scss
//   .list {
//     padding: 0 10px;
//
//     .list__item { padding: 7px 0; }
//   } // .list
//
// } // .dropdown__content
//
// .dropdown--light .dropdown__content {
//
//   //../list/_list.scss
//   .list {
//
//     .list-item {
//       margin-bottom: 5px;
//       padding-bottom: 5px;
//       border-bottom: $border-width-thin $border-style-default $color-light;
//
//       &:last-child {
//         margin-bottom: 0;
//         padding-bottom: 0;
//         border-bottom: none;
//       } // &:last-child
//
//       .form-component, .checkbox { padding: 5px 0 !important; }
//     } // .list-item
//   } // .list
// } // .dropdown--light
