// ==========================================================================
// .form-component States
// ==========================================================================

//form-component behavior with inline-validation and its modifiers
.form-component {
  // z-index: 300;

  .validation-tips {
    position: absolute;
    width: 0px;
    height: 36px;
    opacity: 0;
    display: inline-block;
    vertical-align: bottom;
    transition: all $transition-time-short $transition-easeInOut;
    position: absolute;
    bottom: -13px;
    right: 0px;
    z-index: 999;

    &:hover { z-index: 99999 !important; }

    .popover-button {
      display: none;
      margin: 0;
      transition: all $transition-time-short $transition-easeInOut;
      i { font-size: 22px; }
    } // .popover-button
  } // .validation-tips

  //only works inside a form-component__field
  .validation-message {
    opacity: 0;
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
    transition: all $transition-time-short $transition-easeInOut;

    .text { color: $color-danger; }
  } // .validation-error


  &:hover {
    // z-index: 400;
  }
} // .form-component

//this nesting is being used to keep the popover icon inside the table__col
.table__col .validation-tips { right: 0px !important; }

.dropdown__content .form-component > .form-component__field:after { margin-top: 0px; }

.form-component.is-not-empty {

  > .form-component__field {
    > .input-text {
      color: $color-dark;
      border-color: $color-blue;
    } // > .input-text
  } // > .form-component__field
} // &.is-not-empty

.form-component.is-valid {

  > .field-state { width: 35px; }
  > .field-state .field-state__success {
    opacity: 1;

    i {
      font-size: 20px;
      color: $color-success;
      margin-left: 4px;
    }
  } // > .field-state .field-state__success

  .validation-tips {
    z-index: 9999;
    // position: relative;
    width: 22px;
    height: 36px;
    opacity: 1;
    .popover-button--success {
      display: block;

      i { font-size: 19px; }
    }
  } // .validation-tips

  > .form-component__field {
    > .input-text, .select, .dropdown__header {  border-color: $color-success; }
    > input, > .input-text, > .select, > .dropdown { width: calc(100% - 27px); }
  } // > .form-component__field
} // &.is-valid

.form-component.is-invalid {

  .validation-message { opacity: 1; }

  > .field-state { width: 35px; }
  > .field-state .field-state__error {
    opacity: 1;

    i {
      font-size: 16px;
      color: $color-danger;
      margin-left: 4px;
    }
  } // > .field-state .field-state__error

  .validation-tips {
    z-index: 9999;
    // position: relative;
    width: 22px;
    height: 36px;
    opacity: 1;
    .popover-button--danger {
      display: block;

      i { font-size: 18px; }
    }
  } // .validation-tips
  > .form-component__field {
    > .input-text, .select, .dropdown__header { border-color: $color-danger; }
    > input, > .input-text, > .select, > .dropdown { width: calc(100% - 27px); }
  } // > .form-component__field
} // &.is-invalid

.form-component.is-attention {

  // .validation-attention { opacity: 1; }

  > .field-state { width: 35px; }
  > .field-state .field-state__attention {
    opacity: 1;

    i {
      font-size: 20px;
      color: $color-success;
      margin-left: 4px;
    }
  } // > .field-state .field-state__attention
  > .field-state .field-state__success { opacity: 0; } // > .field-state .field-state__success

  .validation-tips {
    z-index: 9999;
    // position: relative;
    width: 22px;
    height: 36px;
    opacity: 1;
    .popover-button--attention {
      display: block;

      i { font-size: 18px; }
    } // .popover-button--attention
  } // .validation-tips
  > .form-component__field {
    > .input-text, .select, .dropdown__header { border-color: $color-success; }
    > input, > .input-text, > .select, > .dropdown { width: calc(100% - 27px); }
  } // > .form-component__field

  .field-output__attention {
    opacity: 1;
    max-height: 100px;
    position: relative;
  } // .field-output__attention
} // &.is-attention
