// ==========================================================================
// .form-component
// ==========================================================================

//
// form-component Block
// ==========================================================================

.form-component {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-align: left;

  + .form-component { margin-top: $spacing-small + 5px; }

  //this helper (is-block) is being used to keep the radio group in columns
  &.is-block .form-component__field { display: block; }

  form-component { width: 100%; }
} // .form-component


//
// form-component Children
// ==========================================================================

//this is the main container, inside a form-component__field
//is expected all the fields and the dropdown
.form-component__field {
  display: flex;
  position: relative;
} // .form-component__field

.form-component__field--autocomplete {
  position: relative;
  &:after {
    font-family: 'icomoon';
    content: "\e906";
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-light;
    transition: all $transition-time-short $transition-easeInOut;
    z-index: 999;
  } // &:after

  &:before {
    content: "";
    width: 36px;
    height: 26px;
    background-color: $color-white;
    position: absolute;
    top: 5px;
    right: 4px;
    box-shadow: -15px 0 25px $color-white;
    z-index: 99;
  }
}

.form-component.is-valid, .form-component.is-invalid, .form-component.is-attention {
  .form-component__field--autocomplete { &:after, &:before { opacity: 0; } }
}

.form-component__label {
  color: $color-dark;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  margin-bottom: $spacing-xsmall - 6px;
  display: block;

  .mark {
    color: $color-red;
    font-size: $font-size-small;
  } // .mark

  .light {
    color: $color-grey;
    text-transform: initial;
    // float: right;
    margin-right: 5px;
  } // .light
} // .form-component__label

//short description to be used as the last element of a form-component
.form-component__description {
  @extend .text;
  display: block;
  color: $color-grey;
  margin: 0;
} // .form-component__description


//
// form-component Modifiers
// ==========================================================================

.form-component--light {
  margin: 0 !important;
  // border: $border-width-thin $border-style-default $color-light;

  .input-text:not(.input-text--line), .dropdown__header, .select, .ui-select-search {
    border: $border-width-thin $border-style-default $color-light !important;
    margin: 0;
    &:focus {
      border-color: $color-blue !important;
    } // &:focus
  }

  .dropdown__header:after { color: $color-blue; }

  &.is-empty .dropdown__header:after { color: $color-light; }
} // .form-component--light


// .input-text--line {
//   border-bottom: $border-width-thin $border-style-default $color-light;
// }

//gives to form-component a flex and align-center properties
//to keep the label side-by-side with the field
.form-component--side-label {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 10px;

  .form-component__label { margin: 0; }
} // .form-component--side-label

.form-component--inline {
  display: inline-block;
  width: auto;

  + .form-component { margin-top: 0; } // + .form-component, + [class]

  .validation-tips {
    height: auto !important;
    top: 0 !important;
    right: 0 !important;
  } // .validation-tips
} // .form-component--inline


//by combinations
form-component + form-component {
  display: block;
  margin-top: $spacing-small + 5px;
} // form-component + form-component


//by size
.form-component--medium .form-component__field {  width: 130px; }

.form-component--small .form-component__field {  width: 60px; }


// ==========================================================================
// classes temporárias
// ==========================================================================

.form-component {

  &.is-disabled .form-component__field {
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    } // &:after
    > * { color: $color-grey; }
  } // &.is-disabled

  &.is-last .dropdown {
    .dropdown__content {
      right: $spacing-reset;
      left: inherit;

      &:before {
        left: inherit;
        right: $spacing-small + 5px;
      } // &:before

      &:after {
        left: inherit;
        right: $spacing-small + 2px;
      } // &:after
    } // .dropdown__content
  } // &.is-last .dropdown
} // .form-component
