// ==========================================================================
// .off-canvas
// ==========================================================================

.off-canvas {
  width: auto;
  height: auto;
  position: fixed;
  transition: $transition-time-short $transition-easeInOut;
}.off-canvas

.off-canvas.off-canvas--top {
  width: $size-default;
  top: $spacing-reset;
  left: $spacing-reset;
  transform: translateY(-100%);

  &.is-visible {
    transform: translateY(0%);
  } // .is-visible
} // .off-canvas.off-canvas--top

.off-canvas.off-canvas--right {
  height: $size-default;
  top: $spacing-reset;
  right: $spacing-reset;
  transform: translateX(100%);

  &.is-visible {
    transform: translateX(0%);
  } // .is-visible
} // .off-canvas.off-canvas--right

.off-canvas.off-canvas--bottom {
  width: $size-default;
  bottom: $spacing-reset;
  left: $spacing-reset;
  transform: translateY(100%);

  &.is-visible {
    transform: translateY(0%);
  } // .is-visible
} // .off-canvas.off-canvas--bottom

.off-canvas.off-canvas--left {
  height: $size-default;
  top: $spacing-reset;
  left: $spacing-reset;
  transform: translateX(-100%);

  &.is-visible {
    transform: translateX(0%);
  } // .is-visible
} // .off-canvas.off-canvas--left
