// ==========================================================================
// .header-section
// ==========================================================================

.header-section {
  border-bottom: $border-width-thin $border-style-default $color-light;
  margin-bottom: $spacing-small;
  padding: 0 0 5px 0;
} // .header-section
