// ==========================================================================
// Functions
// ==========================================================================

// Remove the unit of a length
// @param {Number} $number - Number to remove unit from
// @return {Number} - Unitless number
// https://css-tricks.com/snippets/sass/strip-unit-function/
// ==========================================================================
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}


// Return percentage
// @param {Number} $number - Number to calculate
// @param {Number} $percentage - The percentage amount to return
// @return {Number} - The percentage
// ==========================================================================
@function get-percentage($number, $percentage) {
  @return (($number / 100) * $percentage);
}


// Convert pixel to rem
// @param {Number} $px - Pixel value
// @return {Number} - Rem value
// ==========================================================================
@function px2rem($px) {
    @return ($px * 1rem) / $font-size-root;
}
