// ==========================================================================
// Mixins
// ==========================================================================

// Reset ul, ol and li
@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
  // > li { padding: 0; }
}

// Reset the appearance
@mixin appearance-reset {
  appearance: none;
  background: none;
  border-radius: 0;
  border: none;
  line-height: 1;
  &:focus { outline: none; }
}

// Reset button and a with button behavior
@mixin button-reset {
  @include appearance-reset;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
}

// Set pseudo element with content none and display block, if you pass "true" as
// parameter, they set position absolute for the pseudo element
@mixin pseudo-block($absolute: false) {
  content: "";
  display: block;

  @if $absolute {
    position: absolute;
  } // @if
}
