// ==========================================================================
// .card-object
// ==========================================================================

.card-object {
  max-width: 100%;
  width: auto;
  min-width: 160px;
  border: $border-width-thin $border-style-default $color-light;
  padding: 6px 10px 10px 10px;
  overflow: hidden;
  display: inline-block;

  display: inline-flex;
  flex-flow: wrap;
  align-items: center;

  .text {
    display: inline-block;
    margin: 0;
  } // .text
} // .card-object

.card-object--compact {
  flex-grow: 0;

  .card-object__body {
    margin-left: 5px;
    width: calc(100% - 41px);
  } // .card-object__body
} // .card-object--compact

.card-object--mini {
  padding: 1px 5px 2px 5px;
  flex-wrap: nowrap;

  .card-object__body {
    margin-left: 5px;
    width: auto;
  } // .card-object__body
} // .card-object--mini

.card-object--inline {
  border: none;
  display: flex;
  align-items: center;

  .text { line-height: 1; }

  .card-object__figure { padding: 0; }
  .card-object__body {
    padding: 0;
    display: flex;
    align-items: center;

    * { display: inline-block; }
  } // .card-object__body
} // .card-object--inline

.card-object__figure {
  display: inline-block;
  width: auto;
  // padding: 3px 0;
  vertical-align: top;

  .icon { fill: $color-dark; }

  i {
    vertical-align: middle;
    font-size: 24px;
  } // i
} // .card-object__figure

.card-object__body {
  display: inline-block;
  width: calc(100% - 72px);
  margin-left: 22px;
} // .card-object__body

.card-object__footer {
  @extend .clearfix;
  margin-top: auto;
  position: relative;
  padding-top: $spacing-xsmall - 3px;
  margin-bottom: -6px;

  flex-basis: 100%;
  display: flex;

  &:before {
    content: "";
    width: calc(100% + 30px);
    height: 1px;
    background-color: $color-light;
    position: absolute;
    top: 0;
    left: -15px;
  } // &:before

  .button { height: auto; }

  .button {
    position: relative;
    margin-right: 10px;
    &:last-child {
      margin-left: auto;
      position: relative;

      &:after {
        content: "";
        width: 1px;
        height: 30px;
        background-color: $color-light;
        position: absolute;
        top: -3px;
        left: -13px;
      } // &:after
    } // &:last-child
  } // > * > *
} // .card-object__footer

// ==========================================================================
// .card-object Modifiers
// ==========================================================================

.card-object--light {
  border: none;
  padding: 0;
  margin: 0;
  flex: initial !important;
} // .card-object--light

.cl-info--obs { @extend .text--light; }

// ==========================================================================
// card-object-grid
// ==========================================================================

.cl-row {
  display: block;
  width: 100%;
  line-height: 0;
} // .cl-row

.cl-row__item {
  display: inline-block;
  width: auto;

  &+.cl-row__item { margin-left: 3px; }

  &.is-full { width: 100%; }
} // .cl-row__item

.cl-info {
  @extend .text, .text--small, .text--semibold;
  margin: 0 !important;
  display: flex;
  align-items: center;

  i { margin: 0 5px; }
} // .cl-info
