<app-loading is-loaded="appIsLoaded"></app-loading>

<app-wrapper>

  <app-header brand-image="./media/agriness_barra_branco.svg" default-title="My Account" label="Senhor do Mar">
    <user-menu user-data="userData" on-click-logout="logout">
      + opções
    </user-menu>
  </app-header>

  <app-content>

    <sidebar>
      <avatar
        label="{{userData.name}}"
        subtext="{{userData.email}}"
        picture="{{userData.picture}}"
        size="large"
        style="stacked">
      </avatar>
      <sidebar-item link="#" icon-name="tags" on-click="clickSidebar">
        Link 1
      </sidebar-item>
      <sidebar-item link="#" icon-name="binoculars" active="true">
        Link 2
      </sidebar-item>
      <sidebar-item link="#" icon-name="snowflake-o" on-click="clickSidebar">
        Link 3
      </sidebar-item>
      <sidebar-item link="#" icon-name="line-chart">
        Link 4
      </sidebar-item>
      <sidebar-item link="#" icon-name="paper-plane" on-click="clickSidebar">
        Link 5
      </sidebar-item>
    </sidebar>

    <main-container>

      <main-container-header>
        <breadcrumbs path="['Home', 'Demo']"></breadcrumbs>
        <page-title title="Demo"></page-title>
      </main-container-header>

      <main-container-body>

        <inline-navigation
          name="countries"
          links="inlineNavigationLinks"
          on-click="clickInlineNavigation">
        </inline-navigation>

        <!-- <container>

          {{dateValue}} || {{weightValue}}

          <switch-field-date-days
            event-date="{{modalForm.eventDate}}"
            ng-model="dateValue">
          </switch-field-date-days>

          </hr>

          <switch-field-weight ng-model="weightValue"></switch-field-weight>

          <formfield-text
            title="Campo de texto"
            name="Data"
            mask="date"
            validator=""
            ng-model="data"
            placeholder="Placeholder do campo">
          </formfield-text>

          <formfield-text
            title="Campo de texto"
            name="Dias"
            mask=""
            validator=""
            ng-model="dias"
            placeholder="Placeholder do campo">
          </formfield-text>

        </container>

        <container title="Container">
          <grid>
            <grid-col size="4" ng-repeat="card in cardList">
              <card
                title="{{card.title}}"
                description="{{card.description}}"
                callback-data="card"
                on-click-secondary="openAlert"
                secondary-button-label="Detalhes"
                on-click-primary="cardClickPrimary"
                primary-button-label="{{card.situation === 'bought' ? 'Entrar' : 'Comprar' }}">
                <label-component color="#666">Com cor customizada</label-component>
                <label-component>Normal</label-component>
                <label-component style="brand">Alternativa</label-component>
                <label-component on-close="cardClickPrimary">
                  <icon name="hand-spock-o"></icon> Ícone
                </label-component>
              </card>
            </grid-col>
          </grid>
        </container>

        <container>

          Sem título <br/>

          <alert
            style="success"
            is-active="alertIsOpen"
            on-close="onCloseAlert">
            Atenção! Sucesso. :)
          </alert>

        </container> -->

        <tabs tabs-initial="tab3" tabs-name="tabs">
          <tab-header tab-header-id="tab1">Aba 1</tab-header>
          <tab-header tab-header-id="tab2">Aba 2</tab-header>
          <tab-header tab-header-id="tab3">Aba 3</tab-header>
          <tab-content tab-content-header="tab1">
            <include ng-controller="tabsController" include-src="./app/routes/root/tabs/tab1.html"></include>
          </tab-content>
          <tab-content tab-content-header="tab2">
            <include ng-controller="tabsController" include-src="./app/routes/root/tabs/tab2.html"></include>
          </tab-content>
          <tab-content tab-content-header="tab3">
            <include ng-controller="tabsController" include-src="./app/routes/root/tabs/tab3.html"></include>
          </tab-content>
        </tabs>

        <modal title="Foo" is-active="openModal" on-close="onCloseModal" type="danger" size="small">
          <include include-src="./app/routes/root/templates/modal.html"></include>
        </modal>

      </main-container-body>

    </main-container>

  </app-content>

  <app-footer></app-footer>

</app-wrapper>
