// ==========================================================================
// .calendar-card
// ==========================================================================

//variables
$calendar-card-padding: 5px 5px 5px 8px;

.calendar-card {
  border: $border-width-thin $border-style-default $color-light;
  padding: 5px;
  position: relative;
  margin-top: $spacing-xxsmall;
  background-color: $color-white;
  height: 100%;
  cursor: grab;
} // .calendar-card

.calendar-card__label {
  display: block;

  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $color-dark;

  + .calendar-card__label { margin-top: 2px; }

  @media(max-width: $media-query-large) {
    white-space: normal;
    overflow: visible;
  } // @media(max-width: $media-query-large)
} // .calendar-card__label


//
// .calendar-card Modifiers
// ==========================================================================

.calendar-card--success {
  padding: $calendar-card-padding;
  height: auto;

  &:before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: $color-success;
    position: absolute;
    top: 0;
    left: 0;
  } // &:before
} // .calendar-card--success

.calendar-card--attention {
  @extend .calendar-card--success;

  &:before { background-color: $color-attention; } // &:before
} // .calendar-card--attention

.calendar-card--danger {
  @extend .calendar-card--success;

  &:before { background-color: $color-danger; } // &:before
} // .calendar-card--danger

.calendar-card--primary {
  @extend .calendar-card--success;

  &:before { background-color: $color-1; } // &:before
} // .calendar-card--primary

.calendar-card--secondary {
  @extend .calendar-card--success;

  &:before { background-color: $color-2; } // &:before
} // .calendar-card--secondary

.calendar-card--tertiary {
  @extend .calendar-card--success;

  &:before { background-color: $color-3; } // &:before
} // .calendar-card--tertiary
