// ==========================================================================
// .calendar
// ==========================================================================

//variables
$calendar-padding: 8px 15px;

.calendar {
  width: 100%;
  border-collapse: collapse;
  table-layout:fixed;
} // .calendar

//
// .calendar Children
// ==========================================================================

.calendar__header {
  background-color: $color-dark;
  color: $color-white;
  text-transform: uppercase;
  font-size: $font-size-xsmall;
  text-align: left;
} // .calendar__header

.calendar__day {
  padding: $calendar-padding;
  width: 14.2857%;
  transition: all $transition-easeInOut $transition-time-default;
  position: relative;

  &.other-month { background-color: $color-lighter; }

  &:before {
    content: attr(data-label);
    font-size: $font-size-xsmall;
    line-height: $line-height-default;
    color: $color-dark;
    text-transform: uppercase;
    display: block;
    position: absolute;
    top: 6px;
    right: 10px;
    opacity: 0;
    width: 0;
    overflow: hidden;
    font-weight: 600;
  } // &:before
} // .calendar__day

.calendar__body {
  .calendar__day {
    border: $border-width-thin $border-style-default $color-light;
    vertical-align: top;
    padding: 6px;
    font-size: $font-size-xsmall;
    height: 130px;

    &:hover { background-color: $color-light; }
  } // .calendar__day
} // .calendar__body

.calendar__day-container {
  height: 100%;
  overflow-y: scroll;
  overflow: auto;
} // .calendar__day-container


//
// .calendar Modifiers
// ==========================================================================

.calendar--secondary {

  .calendar__body {
    border-bottom: $border-width-thin $border-style-default $color-light;

    .calendar__week:first-child {
      .calendar__day {
        padding: 10px 6px 10px 6px;
        height: auto;

        .calendar-card { min-height: 130px; }
      } // .calendar__day
    } // .calendar__week:first-child

    .calendar__day { padding: 0 6px; } // .calendar__day
  } // .calendar__body
} // .calendar--secondary


@media(max-width: $media-query-large) {

  .calendar__header { display: none; }

  .calendar__body {

    .calendar__week .calendar__day {
      &:nth-child(7n+1) {
        background-color: rgba(42,100,232,.8);
        color: $color-white;
        &:before {
          color: $color-white;
        } // &:before
      } // &:nth-child(7n+1)
      &:nth-child(7n+2) { background-color: $color-lighter; }
      &:nth-child(7n+3) { background-color: $color-white; }
      &:nth-child(7n+4) { background-color: $color-lighter; }
      &:nth-child(7n+5) { background-color: $color-white; }
      &:nth-child(7n+6) { background-color: $color-lighter; }
      &:nth-child(7n+7) { background-color: $color-white; }
    } // .calendar__week .calendar__day

    .calendar__day {
      height: auto;

      &:hover { background-color: $color-light; }
    } // .calendar__day
  } // .calendar__body

  .calendar__day {
    width: 100%;
    display: block;
    height: auto;

    &:before {
      opacity: 1;
      width: auto;
    } // &:before
  } // .calendar__day

  .calendar--secondary {
    .calendar__day {
      height: auto !important;
      padding: 20px 5px 5px 5px !important;

      .calendar-card {
        height: auto;
        min-height: 0 !important;
      } // .calendar-card

      &:before {
        right: inherit;
        left: 10px;
      } // &:before
    } // .calendar__day
  } // .calendar--secondary
} // @media(max-width: $media-query-large)
