// ==========================================================================
// .heading Sizes
// ==========================================================================

.heading.heading--xlarge { font-size: $font-size-xlarge; } // .heading--xlarge

.heading.heading--large { font-size: $font-size-large; } // .heading--large

.heading.heading--medium { font-size: $font-size-medium; } // .heading--medium

.heading.heading--regular {
  font-size: $font-size-regular;
} // .heading--regular

.heading.heading--small {
  font-size: $font-size-default;
} // .heading.heading--small

.heading.heading--xsmall {
  font-size: $font-size-small;
} // .heading--xsmall
