// ==========================================================================
// .heading
// ==========================================================================

.heading {
  margin: $spacing-xsmall $spacing-reset;
  font-weight: $font-weight-normal;
  margin: 0;
  text-transform: initial !important;
  transition: all $transition-time-default $transition-easeInOut;

  &:first-letter {
    text-transform: uppercase;
  }
} // ..heading

.heading--dark { color: $color-dark; } // .heading--dark

.heading--inverse { color: $color-white; }

.heading--semibold { font-weight: $font-weight-semibold; }

.heading--uppercase { text-transform: uppercase !important; }

.heading--regular {
  font-size: 20px !important;
  font-weight: $font-weight-semibold;
}
