// ==========================================================================
// .blurb
// ==========================================================================

.blurb { text-align: center; }

.blurb__header {
  cursor: pointer;
  .icon {
    margin: 0 auto;
    margin-bottom: 5px;
  } // .icon
} // .blurb__header

a:hover > .blurb__header {

  .icon {
    background-color: $color-white;
    fill: $color-blue;
  } // .icon
} // a:hover > .blurb__header

.blurb__body .form-component { max-width: 100% !important; }

.blurb__divisor {
  border:  none;
  border-bottom: $border-width-thin $border-style-default $color-white;
  margin: 30px 0;
} // .blurb__divisor

.blurb__header + .blurb__body { margin-top: $spacing-small; }
