ng-transclude {
  width: 100%;
}


.form-component-wrapper {}

.form-component__field ng-transclude {
  display: block;
  width: 100%;
}

.form-component-wrapper + .form-component-wrapper {
  margin-top: 10px;
}

.form-component--light .ui-select-search {
  height: 42px !important;
  margin: 0;
}

.link.link--bare {
  text-decoration: none;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
}

.mega-menu__trigger {
  min-width: auto;
  width: auto;
}

.mega-menu__content:before {
  left: 72px;
}

.main-header {
  position: static;
}

.apps-navigation {
  flex: 1;
}

.main-container {
  min-height: auto;
  flex: 1;
}

.button + .button {
  margin-left: 8px;
}

.main-container__content {
  min-height: auto;
  flex: 1;
  display: flex;
  padding: 30px 30px 60px;
  overflow-y: scroll;
}

.main-container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

[ng-transclude-slot="header"] {

}

[ng-transclude-slot="body"] {
  flex: 1;
}

.breadcrumbs {
  margin: -5px 0 10px;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumbs__label {
  font-size: 13px;
}

.breadcrumbs__list-item.is-current .breadcrumbs__label {
  font-weight: bold;
  color: $color-blue;
}

.breadcrumbs__arrow {
  text-align: center;
}

.media__icon {
  margin-right: 0;
}

.media__description {
  margin-left: 10px;
}

.dropdown .dropdown__content.dropdown__content--fixed {
  min-width: auto !important;
}

a {
  cursor: pointer;
}

.tabs__content-wrapper {
  // border: 1px solid transparent;
  background-color: #fff;
}

.main {

}

.tabs + .container,
.container + .tabs,
.tabs + .tabs,

.form-component--inline-navigation + .tabs,
.tabs + .form-component--inline-navigation,
.form-component--inline-navigation + .container,
.container + .form-component--inline-navigation,
.form-component--inline-navigation + .form-component--inline-navigation {
  margin-top: 25px;
}

.form-component.form-component--inline-navigation {
  height: auto;
}

.user-menu {
  padding: 15px;
}

.user-menu__header {
  min-width: 200px;
}

.user-menu__body {
  margin-top: 15px;
}

.user-menu__footer {
  margin-top: 15px;
  margin-bottom: -5px;
  padding: 10px 0 0;
  border-top: 1px solid #ccc;
}


.main-header__tools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px 0 12px;
}

.notifications {
  margin-left: 10px;
  margin-right: 20px;
}

//moment-picker
.moment-picker-input {
  display: block;
  border: $border-width-thin $border-style-default $color-light;
  height: 42px;
  padding: 14px 40px 14px 10px;
  font-size: 14px;
  line-height: 1;
  color: #a9a9a9;

  &:after {
    font-family: icomoon;
    content: "\e903";
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-light;
    transition: all $transition-time-short $transition-easeInOut;
    z-index: 999;
  }

  &:focus {
    outline: none;
    &:after { color: $color-blue; }
  }

  &.is-picked { color: $color-dark; }


} // .moment-picker-input

.moment-picker {

}






//
// Melhorias!!!
//
//
// Melhorias!!!
//
//
// Melhorias!!!
//

// Os botões com ícones quando estavam com foco, tinham uma sombra feia que só funciona nos botões padrão
.button.button--icon {
  box-shadow: none;
}

// O select não estava com a borda azul no focus
select:focus {
  border: 1px solid $color-blue;
}

// O botão estava por cima de tudo, inclusive do dropdown do usuário
.floating-menu {
  z-index: 100;
}

.heat-link {
  @include button-reset;
  color: $color-blue;
  text-decoration: underline !important;

  &:hover { color: darken($color-blue,10); }
}

.footer-info {
  color: $color-white;
  margin: 0;
  font-size: $font-size-small;
}

.card-central__body {
  height: auto;
}

.main-container__body {
  position: relative;
}

// Tornei o status da tabela mais interessante
.table-status {
  font-size: 14px;
  font-style: italic;
  color: #666;
  margin-bottom: -6px;
}

// O mesmo para os locais onde o componente não tem dados suficientes para mostrar
.box-null {
  font-size: 14px;
  font-style: italic;
  color: #666;
}

// .floating-menu {
//   position: absolute;
//   top: -50px;
//   right: 20px;
// }


.sidebar__list-label {
  text-transform: capitalize;
}

.tabs__nav-item a {
  display: block;
}

.form-component.is-validating {
  .validation-validating {
    display: block;
  }
}

.form-component {
  .validation-validating {
    position: absolute;
    display: none;
    > p {
      margin-top: 1px;
    }
  }
}

.group-inline {
  display: flex;
  justify-content: center;
  align-items: baseline;
}


// .form__footer {
//   // margin-top: 20px;
//   position: relative;
//   z-index: 1;
// }

.button-radio + .button-radio {
  margin-left: 6px;
}

*.has-cursor { cursor: pointer; }




.heat-list + .heat-list { margin-top: 15px; }

@keyframes spinag {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.growth-table {
  td, th, input {
    text-align: right !important;
  }
}

.is-processing {
  position: relative;

  &:after {
    font-family: "fontAwesome";
    content: "\f013";
    width: 16px;
    height: 16px;
    animation: spinag 2s infinite;
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -8px;
    color: $color-blue;
    font-size: 16px;
    line-height: 1;
  }
}

[ng-controller="modalSelectNewActiveFarm"],
[ng-repeat="account in User.accounts"],
[ng-repeat="farm in dropdownFarms"] {
  a {
    text-decoration: none !important;
    text-transform: initial;
  }
}

.input-radio input[type="radio"] {
    margin: 0;
    padding: 0;
    opacity: 0;
    display: none;
}


.sidebar.is-active + .main-container__content {
  width: 100vw !important;
  // transition: all $transition-time-short $transition-easeInOut .2s;
}

.sidebar + .main-container__content {
  width: calc(100vw - 240px);
}

.main-container__content {
  display: flex;
  flex-direction: column;
  // transition: all $transition-time-short $transition-easeInOut;
  > ui-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    > .main-container__body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      height: auto;
    }
    .tabs,
    .tabs__content-wrapper,
    [ng-transclude="content"],
    .tabs__content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      > .container:not(.no-flex) {
        margin: initial;
        display: flex;
        flex-direction: column;
        flex: 1;
        > ng-transclude:not(.no-flex), {
          display: flex;
          flex-direction: column;
          flex: 1;
          > include:not(.no-flex) {
            display: flex;
            flex-direction: column;
            flex: 1;
            > ng-include:not(.no-flex) {
              display: flex;
              flex-direction: column;
              flex: 1;
              > form:not(.no-flex) {
                display: flex;
                flex-direction: column;
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}

.ui-select-container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  > span {
    display: block;
    order: 2;
  }
  > input {
    width: 100%;
    margin-bottom: 6px;
    order: 1;
  }
}

.ui-select-choices {
  top: 36px;
  font-size: 14px !important;
  padding: 4px 6px;
  color: #666;
}


.text-danger {
  color: $color-danger;
}


.pager-counter {
  font-size: 14px;
  color: #666;
}


[data-options-column="true"] {
  text-align: right !important;
}

.table-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modal__content {
  // overflow: auto;
}

.modal__body {
  overflow: auto;
}

.splash-screen {
  background-color: #FFF;
  position: fixed;
  z-index: 9999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > :first-child {
    width: 50px;
    height: 50px;
    padding: 2px;
    border-width: 6px;
    animation: fadeinout 1s infinite linear;
  }
  .icon {
    width: 20px;
    height: 20px;
    animation: spin 1s infinite linear;
  }
}

.block-layer {
  background-color: #FFF;
  z-index: 9999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  > :first-child {
    width: 50px;
    height: 50px;
    padding: 2px;
    border-width: 6px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}

.processing-icon {
  border: 9px solid #fff;
  width: 107px;
  height: 107px;
  border-radius: 100%;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeinout 1s infinite linear;
  > .icon {
    width: 20px;
    height: 20px;
    fill: #2A64E8;
    animation: spin 1s infinite linear;
  }
  &.processing-icon--small {
    width: 25px;
    height: 25px;
    padding: 4px;
    border-width: 3px;
    left: inherit;
    right: 36px;
    > .icon {
      width: 10px;
      height: 10px;
    }
  }
}


.modal__block {
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  opacity: 0;
  transition: opacity $transition-time-short $transition-easeInOut;

  &.is-blocked {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.link {
  text-transform: uppercase;
  font-size: $font-size-xsmall;
  display: block;
  text-decoration: underline;
  color: $color-blue;
}

.text + .link {
  margin-top: 5px;
}

.flex-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .dropdown { margin: 0; }

  .dropdown__header { padding: 0; }

  .button { margin: 6px 0 0 10px !important;     }
}


.inconsistency {
  display: flex;
  align-items: center;

  i { margin-right: 10px; }
}

.inconsistency--danger i { color: $color-danger; }

.inconsistency--attention i { color: $color-attention; }


.badges {
  z-index: 0;
  position: relative;
}


.sidebar {
  width: auto;
  padding-top: 0px;
  display: block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-wrapper {
  position: relative;
}

.sidebar__toggle {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar__list-icon {
  width: 58px;
  padding-right: 1px;
}

.main-header__brand {
  min-width: 32px;
  width: auto;
}

.mega-menu__content:before {
  display: none;
}

.mega-menu__label {
  margin-left: 8px;
}

.sidebar__list-item a {
  padding-right: 20px;
}

.main.is-active .sidebar {
  width: 57px;
}

.sidebar__list-item:first-of-type {
  border-top: 1px solid #e5e5e5;
}

.media.media--large.media--stacked {
  margin: 20px;
  flex-direction: column;
  text-align: center;
  .media__icon {
    display: block;
    .avatar__picture,
    img {
      width: 70px;
      height: 70px;
    }
    .avatar.avatar--large {
      width: 70px;
      height: 70px;
      .avatar__picture {}
      .avatar__placeholder {
        font-family: FS Elliot;
        font-size: 35px;
      }
    }
  }
  .media__description {
    text-align: center;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

.button.button--full {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  text-align: center;
}

.card-central {
  min-height: 160px;
}

.label {
  padding: 4px 6px;
  color: #FFF;

  font-family: $font-family-primary;
  font-size: 11px;

  margin: 2px 2px 2px 0;

  border-radius: 6px;
  text-transform: uppercase;

  &.label--secondary {
    background-color: $color-blue;
  }

  background-color: #888;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .label__close {
    margin-left: 6px;
    opacity: 1;
    position: relative;
    cursor: pointer;
    &:hover {
      opacity: .4;
    }
  }

}

.alert {
  padding: 15px 35px 15px 20px;
  color: #FFF;
  font-size: 13px;
  background-color: #888;
  display: block;

  position: fixed;
  z-index: 999999;
  top: 60px;
  right: 0;
  transform: translateX(100%);
  transition: all .2s ease-in-out .1s;

  &.is-active {
    transform: translateX(0%);
  }

  &.alert--secondary {
    background-color: $color-blue;
  }

  &.alert--danger {
    background-color: $color-danger;
  }

  &.alert--attention {
    background-color: $color-attention;
  }

  &.alert--success {
    background-color: $color-success;
  }

  .alert__close {
    opacity: 1;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    &:hover {
      opacity: .4;
    }
  }

}


select, input {
  padding-top: 7px !important;
  padding-bottom: 6px !important;
  font-size: 13px !important;
}


select {
  padding-top: 8px !important;
  padding-bottom: 6px !important;
  padding-left: 6px !important;
}

.modal__content {
  min-width: 420px;
  min-height: 300px;
  .modal__body {
    padding: 15px;
  }
}

.modal-alert__icon-loading {
  position: relative;
  z-index: 900;
}

.modal-alert .button, .modal-alert .button-radio__token {
  margin-top: 25px !important;
}

[data-options-column="true"] {
  text-align: right!important;
  width: 1px;
}

.table__col--small-width {
  width: 1px;
}

.table__col--align-right {
  text-align: right;
}

.table__col--align-center {
  text-align: center;
}

.apps-navigation > span {
  font-size: 14px;
  font-weight: bold;
}

.swiper-slide {
  width: 100% !important;
}

.main-header__brand {
  h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

th { white-space: nowrap; }

.card-central__footer--align-left {
  justify-content: flex-start;
}

.card-central__footer--align-center {
  justify-content: center;
}

.card-central__header {
  .heading--regular {
    font-weight: 500;
  }
}

.table__header .table__col {
  padding: 5px 15px;
}
