// ==========================================================================
// .table
// ==========================================================================

//variables
$table-element-spacing: 2px;
$table-element-spacing-lg: 8px;
$table-element-spacing-md: 5px;


.table {
  border-collapse: collapse;
  width: $size-default;
} // .table

.table-wrapper {
  width: 100%;
  // NOTE: Quando ver isso, favor falar comigo. @cspilhere
  overflow-x: scroll;
  overflow: auto;

  + .table-wrapper { margin-top: $spacing-large; }
} // .table-wrapper

.modal .table-wrapper { overflow: visible !important; }

.table__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;

  .button-group { margin-left: auto; }

  .table__top-wrapper {

    > * {
      display: inline-block;

      &:first-child { margin-left: 0; }
    } // > *
    &:only-child { margin-left: auto; }
  } // .table__top-wrapper

  .button-group .button { border: none }
} // .table__top

.table__header {
  background-color: $color-dark;

  .table__col {
    padding: 0;
    color: $color-white;
    font-size: $font-size-small;
    text-transform: uppercase;
    position: relative;
    padding: $spacing-xsmall - 5px $spacing-small - 5px;
    color: $color-white;
    font-size: $font-size-xsmall;
    position: relative;
    cursor: pointer;

    .more-up {

      &:before {
        content: "";
        border: $border-width-thick2 $border-style-default transparent;
        border-bottom: $border-width-thick2 $border-style-default $color-white;
        opacity: 1;
        position: absolute;
        top: $table-element-spacing;
        transition: all $transition-time-default $transition-easeInOut;
        margin-left: $spacing-xsmall;
      } // &:before

      &:after {
        content: "";
        border: $border-width-thick2 $border-style-default transparent;
        border-top: $border-width-thick2 $border-style-default $color-white;
        opacity: .2;
        position: absolute;
        bottom: $table-element-spacing;
        transition: all $transition-time-default $transition-easeInOut;
        margin-left: $spacing-xsmall;
      } // &:after
    } // .more-up

    .more-down {
      @extend .more-up;
      &:before { opacity: .2; }

      &:after { opacity: 1; }
    } // .more-down
  } // .table__col

  @media(max-width: $media-query-large) { display: none; }
} // .table__header

.table__header.table__header--top-info {
  background-color: transparent;
  * { color: $color-dark; }

  .table__col {
    border: $border-width-thin $border-style-default $color-light;
    border-bottom: none;

    &:first-child { border: none; }
  } // .table__col
} // .table__header--top-info

// arrange teble__col contant
.spread-content {
  display: flex;
  justify-content: space-between;
}

.table__body {

  .table__row:hover { background-color: #F6F6F6 !important; }

  .table__col {
    border-bottom: $border-width-thin $border-style-default $color-light;
    position: relative;
    color: $color-text-default;
    font-size: $font-size-small;
    min-width: 90px;
    // max-width: 200px;

    * { white-space: nowrap; }

    p { margin: 0; }

    .button-group {
      white-space: nowrap;
      float: right;
    } // .button-group

    &:before {
      content: attr(data-label);
      font-size: $font-size-xsmall;
      line-height: $line-height-default;
      color: $color-grey;
      text-transform: uppercase;
      display: block;
      position: absolute;
      top: $table-element-spacing-md;
      left: $table-element-spacing-lg;
      opacity: 0;
      width: 0;
      overflow: hidden;
    } // &:before
  } // .table__col

  @media(max-width: $media-query-large) {
    width: $size-default;

    .table__row {
      border-bottom: $border-width-default $border-style-default $color-grey;

      &:nth-child(odd) { background-color: $color-lighter; } // &:nth-child(odd)
    } // .table__row

    .table__col {
      display: block;
      width: $size-default;
      margin-bottom: -$spacing-xxxsmall;
      padding: $spacing-small + 7px $spacing-small - 2px $spacing-xsmall - 3px $spacing-small - 2px;
      overflow: hidden;

      &:before {
        opacity: 1;
        width: auto;
        overflow: visible;
      } // &:before
    } // .table__col
  } // @media(max-width: $media-query-large)
} // .table__body

.table__row {
  transition: all $transition-time-default $transition-easeInOut;

  .text {
    margin: 0;
    line-height: 1;
  } // .text

  .button-group { opacity: 0; } // .button-group

  .dropdown .button-group {
    opacity: 1;
    float: none;
  } // .dropdown .button-group

  &:hover .button-group { opacity: 1; }

  &.highlight-last-row, &.highlight-first-row {
    background-color: #F6F6F6;

    * { font-weight: $font-weight-semibold; }
  } // &.highlight-last-row, &.highlight-first-row

  .table__col.table__col--options .button { opacity: 0; }
  &:hover .table__col.table__col--options .button { opacity: 1; }

} // .table__row

//table__row total style
.table__body.table__body .table__row.table__row--total {
  background-color: $color-grey;

  * {
    font-weight: $font-weight-semibold;
    white-space: nowrap;
  } // *

  &:hover { background-color: $color-grey !important; }
} // .table__row--total

// table__col content status
.table__col {
  padding: 10px 15px 8px;
  text-align: left;

  .button { height: auto; }

  &.is-clickable { cursor: pointer; }

  &.is-success {
    font-weight: $font-weight-semibold;
    color: $color-success;
  } // &.is-success

  &.is-danger {
    font-weight: $font-weight-semibold;
    color: $color-danger;
  } // &.is-danger

  &.is-attention {
    font-weight: $font-weight-semibold;
    color: $color-attention;
  } // &.is-attention

  &.is-up {
    position: relative;
    font-weight: $font-weight-semibold;
    color: $color-success;

    &:after {
      font-family: "FontAwesome";
      content: "\f118";
      font-size: 16px;
      color: $color-success;
      margin-left: 5px;
    } // &:after
  } // &.is-up

  &.is-down {
    position: relative;
    font-weight: $font-weight-semibold;
    color: $color-danger;

    &:after {
      font-family: "FontAwesome";
      content: "\f119";
      font-size: 16px;
      color: $color-danger;
      margin-left: 5px;
    } // &:after
  } // &.is-down
} // .table__col

.table__col--sub-head {
  font-weight: $font-weight-semibold;
  * { font-weight: $font-weight-semibold; }
} // .table__col--sub-head

.table__row--primary { background-color: $color-active; } // .table__row--primary

//dropdown__content leak fix
.table__row {
  &:nth-last-child(3), &:nth-last-child(2), &:last-child {
    .dropdown__content--last3 {
      top: inherit !important;
      bottom: calc(100% + 15px) !important;
    } // .dropdown__content--last3
  } // &:nth-last-child(3), &:nth-last-child(2), &:last-child
} // .table__row
