



.pm-title {
  display: inline-block;
  width: 25%;
  float: left;

  h1 {
    margin: 0;
    font-size: 28px;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: 12px;
    margin-top: 8px;
  }
} // .pm-title

.pm-form {
  display: inline-block;
  width: 75%;
} // .pm-form

.pm-form__box {
  display: inline-block;
  height: 65px;
  border: 1px solid #b0b1b5;
  vertical-align: middle;

  + .pm-form__box { border-left: none; }
}

.pm-form__box-legend {
  font-size: 9px;
  text-transform: uppercase;
  padding: 4px 5px;
}

.pm-form__box--3 {
  width: 37.5%;
  float: left;
}

.pm-form__box--2 {
  width: 25%;
}

.pm-form-component {
  display: inline-block;

  + .pm-form-component .pm-form-component__field { border-left: 1px solid #b0b1b5; }
}

.pm-form-component__label {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 5px;
}

.pm-form-component__field {
  height: 20px;
  padding: 4px 5px;
}

.pm-form-component--3 {
  width: 33.3333%;
  float: left;
}

.pm-form-component--2 {
  width: 50%;
  float: left;
}
