// ==========================================================================
// production map
// ==========================================================================

.pm {
  box-shadow: 0px 0px 20px rgba(#000,.3);
  padding: 20px 30px;
  overflow: auto;
  width: 1456px;
}

.pm__header {

  + .pm__body { margin-top: 20px; }
}



.pm-table {
  border-collapse: collapse;
  width: 100%;
} // .pm-table

.pm-table__col {
  border: 1px solid #c2c3c6;
  font-size: 10px;
  min-height: 30px;
  max-height: 30px;
}




.pm-table__header {
  .pm-table__col {
    background-color: #d5d6d8;
  }
}

.pm-table__col.pm-table__col--featured {
  background-color: transparent;
  border: none;
  font-weight: 800;

  * { font-weight: 800; }
}


// ==========================================================================
// pm-table-content
// ==========================================================================


.pm-table-content {
  font-size: 10px;
  min-height: 26px;
  padding: 3px 3px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.sm {
    min-width: 20px;
    justify-content: center;
  }

  &.sm2 {
    min-width: 32px;
    justify-content: center;
  }

  &.md { min-width: 138px; }

  &.lg { min-width: 170px; }

  span { text-transform: initial; }
}

.pm-table__header .pm-table-content {
  font-weight: 700;
}

.pm__footer {
  text-align: right;
  margin-top: 10px;
}

.pm__footer-info {
  color: #333838;
  vertical-align: middle;

  a {
    color: #333838;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: #2A64E8;
    }
  }
}

.pm__footer-logo {
  width: 110px;
  height: auto;
  vertical-align: middle;
  margin-left: 40px;

  img { width: 100%; }
} // .pm__footer-logo
