// ==========================================================================
// .icon
// ==========================================================================
$icon-regular-size: 50px;
$icon-badge-padding: 2px 5px;
$icon-xsmall-size: 18px;

.icon {
  width: $xsmall-size;
  height: $xsmall-size;
  fill: #6e6e6e;
  vertical-align: middle;
  transition: all $transition-time-default $transition-easeInOut;
  position: relative;
} // .icon

.icon--tooltip {
  display: inline-block;
  width: $icon-xsmall-size;
  height: $icon-xsmall-size;
  vertical-align: middle;
  // margin-left: 3px;
  fill: $color-blue;
} // .icon--tooltip

.icon + .icon {
  margin-top: $spacing-small;
}

.icon--rounded {
  display: inline-block;
  width: $icon-regular-size;
  height: $icon-regular-size;
  border-radius: $border-radius-rounded;
  border: $border-width-default $border-style-default $color-light;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 30px;
    height: 30px;
  }

  i {
    font-size: 25px;
  }
}

.icon--large {
  width: $large-size !important;
  height: $large-size !important;
} // .icon--large

.icon.icon--small {
  width: 36px;
  height: 36px;
} // .icon--large

.icon--rounded.icon--small {
  width: 40px;
  height: 40px;
} // .icon--rounded.icon--small


.icon--inverse { fill: $color-white; } // .icon--inverse

.icon--success { color: $color-green; } // .icon--success

.icon--danger { color: $color-red; }

.icon--attention {
  fill: $color-attention;
}

.icon--solid {
  background-color: $color-white;
  fill: $color-blue;
  // border: none;
}


.icon__sign {
  position: absolute;
  top: -4px;
  right: -15px;

  i {
    font-size: 16px;
    color: red;
  }

  .icon {
    width: 20px;
    height: 20px;
    fill: $color-green;
  } // .icon
} // .icon__sign

.icon__badge {
  @extend .text, .text--xsmall;
  font-weight: $font-weight-semibold;
  border-radius: $border-radius-default;
  padding: $icon-badge-padding;
  // background-color: $color-attention;
  color: $color-white;
  position: absolute;
  bottom: -6px;
  right: -15px;
} // .icon__badge

.icon__badge--1  { background-color: $color-blue; } // .badge--1
.icon__badge--2  { background-color: $color-text-default; } // .badge--2
.icon__badge--3  { background-color: $color-red; } // .badge--3
.icon__badge--4  { background-color: $color-green; } // .badge--4
.icon__badge--5  { background-color: $color-attention; } // .badge--5
.icon__badge--6  { background-color: $color-grey; } // .badge--6
.icon__badge--7  { background-color: #FF7100; } // .badge--5

.icon__sign--success i,
.icon__sign--success .icon {
  color: $color-success;
  fill: $color-success;
}

.icon__sign--attention i,
.icon__sign--attention .icon {
  color: $color-attention;
  fill: $color-attention;
}

.icon__sign--danger i,
.icon__sign--danger .icon {
  color: $color-danger;
  fill: $color-danger;
}
