// ==========================================================================
// .main-footer
// ==========================================================================

.main-footer {
  background-color: $color-dark;
  padding: 10px 15px;
  z-index: 9999;
  position: relative;

  a {
    color: $color-white;
    transition: all $transition-time-short $transition-easeInOut;
    cursor: pointer;

    &:hover {
      color: $color-blue;
    }
  }
}

.main-footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 6px;
  > * {
    display: inline-block;
  }
}

.main-footer__brand {
  width: 210px;
  padding-right: 15px;

  .image-container {
    height: 20px;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }

  a {
    display: block;
  }
}
