// ==========================================================================
// .container
// ==========================================================================

.container {
  width: 100%;
  // height: 100%;
  // margin: auto;
  padding: 20px 20px 20px 20px;

  + .container { margin-top: $spacing-default; }
} // .container

.container--primary {
  background-color: $color-white;
  border: $border-width-thin $border-style-default $color-light;
}

.container--full { padding: 0; }

//
// .container.container--xsmall { @include max-width(xsmall); } // .container--xsmall
//
// .container.container--small { @include max-width(small); } // .container--small
//
// .container.container--medium { @include max-width(medium); } // .container--medium
//
// .container.container--large { @include max-width(large); } // .container--large
//
// .container.container--xlarge { @include max-width(xlarge); } // .container--xlarge
