// ==========================================================================
// .container-box
// ==========================================================================

.container-box {
  background-color: $color-white;
  border: $border-width-thin $border-style-default $color-light;

  .container {
    min-height: 305px;
  }
}
