{{content}}<br />

<button-component is-submit="true">Botão</button-component>

<button-component style="outline">Botão</button-component>

<button-component style="danger">Botão</button-component>

<button-component style="icon"><icon name="hand-spock-o"></icon></button-component>

<button-component size="full">Botão Full Width</button-component>
