{{content}}<br />

<formfield-text
  title="Campo de texto"
  name="name"
  placeholder="Placeholder do campo">
</formfield-text>

<formfield-text
  title="Campo de senha"
  name="name"
  type="password"
  placeholder="Placeholder do campo">
</formfield-text>

<formfield-select
  title="Campo de senha"
  name="name"
  type="password"
  placeholder="Escolha uma opção"
  options="['item1', 'item2', 'item3']">
</formfield-text>
