{{content}}<br />
<br />


<carousel>

  <carousel-content>
    Milho
  </carousel-content>

  <carousel-content>
    Foo
  </carousel-content>

  <carousel-content>
    Bar
  </carousel-content>

</carousel>

<br /><br />

<datatable model="tableModel" show-options="false" hide-controls="false" hide-columns-visibility="true">

  <datatable-row>

    <datatable-column column-name="Nome" column-path="name">
      <col-wrapper>
        {{$row.name}}
      </col-wrapper>
    </datatable-column>

    <datatable-column column-name="Type" column-path="type">
      <col-wrapper>
        {{$row.type}}
      </col-wrapper>
    </datatable-column>

    <datatable-column column-name="Status" column-path="status">
      <col-wrapper>
        {{$row.status}}
      </col-wrapper>
    </datatable-column>

    <datatable-column column-name="{{'Relation' + 123}}" column-path="!holding_user" align="right" width="small">
      <col-wrapper>
        {{$row.holding_user[0].relation_type}}
      </col-wrapper>
    </datatable-column>

    <datatable-column column-name="Ações" column-path="status" align="right">
      <col-wrapper>
        {{$row.holding_user[0].relation_type}}
        <button-component style="icon">
          <icon name="pencil"></icon>
        </button-component>
        <button-component style="icon">
          <icon name="trash"></icon>
        </button-component>
      </col-wrapper>
    </datatable-column>

  </datatable-row>

</datatable>
