// ==========================================================================
// .grid
// ==========================================================================

// ==========================================================================
// Setup and configurations

$col-number: 12;

$gutter: 15px;
$gutter-xsm: 1px;
$gutter-sm: 10px;
$gutter-md: 20px;
$gutter-lg: 30px;
$gutter-xl: 60px;

// ==========================================================================

.grid, .alm-reveal {
  @extend .clearfix;
  // height: 100%;
  width: 100%;

  display: block;

  padding: 0;
  margin: 0 0 (-$gutter) (-$gutter);

  position: relative;
  // z-index: 0;

  // display: flex;

  &:before,
  &:after {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    max-width: 100%;
  } // &:before, &:after

  *:before,
  *:after {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
  } // *:before, *:after

  @media(max-width: $media-query-large) { display: block; }

} // .grid

.grid--flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  > .grid__col {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    > * { flex: 1; }
    &:nth-child(2) { margin-left: auto; }
  }
} // .grid--flex



.alm-reveal { margin-left: 0 !important; }

// .grid-- modifiers
// //////////////////////////////////////////////////////////////////////////

// Gutter spacing variations

.grid.grid--no-gutter {
  margin: 0;
  > .grid__col { padding: 0; } // .grid__col
} // .grid.grid--no-gutter

.grid.grid--gutter-xsm {
  margin: (-$gutter-xsm) 0 0 (-$gutter-xsm);
  > .grid__col { padding: ($gutter-xsm) 0 0 ($gutter-xsm); } // > .grid__col
} // .grid.grid--gutter-sm

.grid.grid--gutter-sm {
  margin: (-$gutter-sm) 0 0 (-$gutter-sm);
  > .grid__col { padding: ($gutter-sm) 0 0 ($gutter-sm); } // > .grid__col
} // .grid.grid--gutter-sm


.grid.grid--gutter-md {
  margin: (-$gutter-md) 0 0 (-$gutter-md);
  width: calc(100% + 20px);
  > .grid__col { padding: ($gutter-md) 0 0 ($gutter-md); } // > .grid__col
} // .grid.grid--gutter-md

.grid.grid--gutter-lg {
  margin: (-$gutter-lg) 0 0 (-$gutter-lg);
  width: calc(100% + 30px);
  .grid__col {
    padding: ($gutter-lg) 0 0 ($gutter-lg) !important;

    .grid--gutter-md {
      margin: (-$gutter-md) 0 0 (-$gutter-md);
      .grid__col { padding: ($gutter-md) 0 0 ($gutter-md) !important; } // > .grid__col
    } // .grid.grid--gutter-md

    .grid--gutter-sm {
      margin: (-$gutter-sm) 0 0 (-$gutter-sm);
      .grid__col { padding: ($gutter-sm) 0 0 ($gutter-sm) !important; } // > .grid__col
    } // .grid.grid--gutter-sm

    .grid.grid--no-gutter {
      margin: 0;
      .grid__col { padding: 0 !important; } // .grid__col
    } // .grid.grid--no-gutter

  } // > .grid__col
} // .grid.grid--gutter-lg

.grid.grid--gutter-xl {
  margin: (-$gutter-xl) 0 0 (-$gutter-xl);
  width: calc(100% + 60px);
  .grid__col {
    padding: ($gutter-xl) 0 0 ($gutter-xl);

  } // > .grid__col
} // .grid.grid--gutter-xl



// Alignment

// Center horizontally
.grid.grid--align-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .grid__col { align-self: flex-start; }
} // .grid.grid--align-center

// Center vertically
.grid.grid--align-vcenter { align-items: center; } // .grid.grid--valign-center



// .grid--equalizer {
//   display: flex;
//   flex-wrap: wrap;
//   // justify-content: space-between !important;
//
//   > .grid__col {
//     display: block;
//     height: auto;
//     // margin-bottom: auto;
//
//     > * { height: 100% !important; }
//   }
//
//   .grid { height: auto; }
// }

.grid--equalizer {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  > .grid__col {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;

    -ms-flex-positive: 1;
    -webkit-box-flex: 1;

    > * { height: 100% !important; }

    // Pela estrutura não é filho direto do grid__col
    .card-central { height: 100%; }
  }
}

//
// .grid__col
// ==========================================================================

.grid__col {
  width: 100%;
  // height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: ($gutter) 0 0 ($gutter);
  float: left;
  // align-self: flex-end;
  text-align: left;
  line-height: 1;
} // .grid__col

.grid__col--break {
  width: 100%;
  padding: 0 !important;
}

.grid__col.grid__col--align-right {
  align-items: flex-end;
}

.grid__col--align-center {
  align-items: center;
}

.grid__col.grid__col_fix_height {
    height: 52px;
    margin-top: 21px;
}


// ==========================================================================
// .grid-wrapper
// This is a helper to use when need to deal with the grid negative margin
// ==========================================================================

.grid-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
} // .grid-wrapper


// ==========================================================================
// Loop to create all .grid__col variants
// ==========================================================================

// ==========================================================================
// Setup and configurations

$sizes-label: (small, medium, large, xlarge);
$sizes-shortlabel: (small: 'sm', medium: 'md', large: 'lg', xlarge: 'xl');

// ==========================================================================


//
// Regular columns
// ==========================================================================

@for $number from $col-number through 1 {
  $col-count: $col-number - ($number - 1);
  .grid__col--#{$col-count} {
    width: (100% / $col-number) * $col-count;
    flex-basis: (100% / $col-number) * $col-count;
  }
} // @for

@each $size in $sizes-label {
  @include breakpoint($size) {
    @for $number from $col-number through 1 {
      $col-count: $col-number - ($number - 1);
      .grid__col--#{map-get($sizes-shortlabel, $size)}-#{$col-count} {
        width: (100% / $col-number) * $col-count;
        flex-basis: (100% / $col-number) * $col-count;
      }
    } // @for
  } // @include breakpoint(small)
} // @each $direction


//
// 5 columns grid
// ==========================================================================

.grid__col--5o {
  width: (100% / 5);
  flex-basis: (100% / 5);
} // .grid__col--5o

@each $size in $sizes-label {
  @include breakpoint($size) {
    .grid__col--#{map-get($sizes-shortlabel, $size)}-5o {
      width: (100% / 5);
      flex-basis: (100% / 5);
    }
  } // @include breakpoint()
} // @each $direction


// // ==========================================================================
// // .grid
// // ==========================================================================
//
// // ==========================================================================
// // Setup and configurations
//
// $col-number: 12;
//
// $gutter: 15px;
// $gutter-xsm: 3px;
// $gutter-sm: 10px;
// $gutter-md: 20px;
// $gutter-lg: 30px;
//
// // ==========================================================================
//
//
// .grid, .alm-reveal {
//   @extend .clearfix;
//   height: 100%;
//
//   display: block;
//
//   padding: 0;
//   margin: 0 0 (-$gutter) (-$gutter);
//
//   position: relative;
//   z-index: 0;
//
//   &:before,
//   &:after {
//     letter-spacing: normal;
//     word-spacing: normal;
//     white-space: normal;
//     max-width: 100%;
//   } // &:before, &:after
//
//   *:before,
//   *:after {
//     letter-spacing: normal;
//     word-spacing: normal;
//     white-space: normal;
//   } // *:before, *:after
//
// } // .grid
//
// .alm-reveal {
//   margin-left: 0 !important;
// }
//
//
// // .grid-- modifiers
// // //////////////////////////////////////////////////////////////////////////
//
// // Gutter spacing variations
//
// .grid.grid--no-gutter {
//   margin: 0;
//   > .grid__col { padding: 0; } // .grid__col
// } // .grid.grid--no-gutter
//
// .grid.grid--gutter-xsm {
//   margin: (-$gutter-xsm) 0 0 (-$gutter-xsm);
//   > .grid__col { padding: ($gutter-xsm) 0 0 ($gutter-xsm); } // > .grid__col
// } // .grid.grid--gutter-sm
//
// .grid.grid--gutter-sm {
//   margin: (-$gutter-sm) 0 0 (-$gutter-sm);
//   > .grid__col { padding: ($gutter-sm) 0 0 ($gutter-sm); } // > .grid__col
// } // .grid.grid--gutter-sm
//
//
// .grid.grid--gutter-md {
//   margin: (-$gutter-md) 0 0 (-$gutter-md);
//   width: calc(100% + 20px);
//   > .grid__col { padding: ($gutter-md) 0 0 ($gutter-md); } // > .grid__col
// } // .grid.grid--gutter-md
//
//
// .grid.grid--gutter-lg {
//   margin: (-$gutter-lg) 0 0 (-$gutter-lg);
//   > .grid__col { padding: ($gutter-lg) 0 0 ($gutter-lg); } // > .grid__col
// } // .grid.grid--gutter-lg
//
// .grid.grid--gutter-xl {
//   margin: (-$gutter-xl) 0 0 (-$gutter-xl);
//   > .grid__col { padding: ($gutter-xl) 0 0 ($gutter-xl); } // > .grid__col
// } // .grid.grid--gutter-xl
//
//
// // Alignment
//
// // Center horizontally
// .grid.grid--align-center { justify-content: center; } // .grid.grid--align-center
//
// // right horizontally
// .grid.grid--align-right { justify-content: flex-end; } // .grid.grid--align-right
//
// // Center vertically
// .grid.grid--valign-center { align-items: center; } // .grid.grid--valign-center
//
//
// //
// // .grid__col
// // ==========================================================================
//
// .grid__col {
//   width: 100%;
//   height: 100%;
//
//   display: inline-block;
//
//   vertical-align: top;
//
//   position: relative;
//
//   padding: ($gutter) 0 0 ($gutter);
//
//   float: left;
// } // .grid__col
//
// .grid__col.grid__col--align-right {
//   align-items: flex-end;
// }
//
// .grid__col.grid__col--align-center {
//   align-items: center;
// }
//
//
// // ==========================================================================
// // .grid-wrapper
// // This is a helper to use when need to deal with the grid negative margin
// // ==========================================================================
//
// .grid-wrapper {
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// } // .grid-wrapper
//
//
// // ==========================================================================
// // Loop to create all .grid__col variants
// // ==========================================================================
//
// // ==========================================================================
// // Setup and configurations
//
// $sizes-label: (small, medium, large, xlarge);
// $sizes-shortlabel: (small: 'sm', medium: 'md', large: 'lg', xlarge: 'xl');
//
// // ==========================================================================
//
//
// //
// // Regular columns
// // ==========================================================================
//
// @for $number from $col-number through 1 {
//   $col-count: $col-number - ($number - 1);
//   .grid__col--#{$col-count} {
//     width: (100% / $col-number) * $col-count;
//     flex-basis: (100% / $col-number) * $col-count;
//   }
// } // @for
//
// @each $size in $sizes-label {
//   @include breakpoint($size) {
//     @for $number from $col-number through 1 {
//       $col-count: $col-number - ($number - 1);
//       .grid__col--#{map-get($sizes-shortlabel, $size)}-#{$col-count} {
//         width: (100% / $col-number) * $col-count;
//         flex-basis: (100% / $col-number) * $col-count;
//       }
//     } // @for
//   } // @include breakpoint(small)
// } // @each $direction
//
//
// //
// // 5 columns grid
// // ==========================================================================
//
// .grid__col--5o {
//   width: (100% / 5);
//   flex-basis: (100% / 5);
// } // .grid__col--5o
//
// @each $size in $sizes-label {
//   @include breakpoint($size) {
//     .grid__col--#{map-get($sizes-shortlabel, $size)}-5o {
//       width: (100% / 5);
//       flex-basis: (100% / 5);
//     }
//   } // @include breakpoint()
// } // @each $direction
//
//
//
//
//
//
//
