// ==========================================================================
// .card-central
// ==========================================================================

.card-central {
  background-color: $color-white;
  border: $border-width-thin $border-style-default $color-light;
  display: flex;
  flex-direction: column;
  min-height: 200px;
} // .card-central

.card-central__header {
  padding: 10px 13px 5px 13px;
  border-bottom: $border-width-thin $border-style-default $color-light;
} // .card-central__header

.card-central__body {
  padding: 10px 13px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .tags { margin-top: auto; }
} // .card-central__body

.card-central__header + .card-central__body {
  padding-top: 5px;
} // .card-central__header + .card-central__body

.card-central__footer {
  padding: 10px 13px;
  border-top: $border-width-thin $border-style-default $color-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
} // .card-central__footer
