// ==========================================================================
// .pager
// ==========================================================================
$pager-button-size: 24px;
$pager-padding: 8px;
$pager-icon-size: 12px;

.pager-container {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(max-width: $media-query-large) {
    text-align: center;
  }
} // .pager-container

.table + .pager-container, datatable + .pager-container { padding-top: $spacing-regular; }

.pager {
  display: inline-block;
  > .pager__number {
    display: inline-block;
    background-color: transparent;
    border-radius: $border-radius-rounded;
    width: $pager-button-size;
    height: $pager-button-size;
    vertical-align: bottom;
    transition: all $transition-time-short $transition-easeInOut;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    .pager__link {
      @include appearance-reset;
      @extend .text;
      cursor: pointer;
      font-size: 16px !important;
      padding: $pager-padding;
      display: block;
      color: $color-text-default;
    } // a

    &:hover,
    &.is-active {
      background-color: $color-blue;
      .pager__link { color: $color-white; } // a
    } // &:hover
  } // > *
} // .pager

.pager-counter {
  margin-left: auto;
}

.pager-select {
  display: inline-block;
  float: right;
}

.pager__dots {
  display: inline-block;
  vertical-align: bottom;
  width: $pager-button-size;
  height: $pager-button-size;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pager__number {
  margin-left: $spacing-xsmall;

  &:first-of-type { margin-left: 0; } // &:first-of-type
} // .pager__number

.pager__nav {
  @include button-reset;

  .icon {
    width: $pager-icon-size;
    height: $pager-icon-size;
  } // .icon

  i {
    font-size: $font-size-regular;
    color: $color-text-default;
    transition: all $transition-time-short $transition-easeInOut;
  }

  &:hover {
    i { color: $color-blue; }
    .icon { fill: $color-white; } // a
  } // &:hover
} // .pager__nav

.pager__nav--left { margin-right: $spacing-default; } // .pager__nav--left
.pager__nav--right { margin-left: $spacing-default; } // .pager__nav--left
