// ==========================================================================
// .link-media
// ==========================================================================

.link-media {
  cursor: pointer;
  padding: 5px 0;
  display: block;

  *, .media__icon i { color: $color-grey; }

  &:hover {
    *, .media__icon i { color: $color-blue; }
  }
}
