// ==========================================================================
// .badge
// ==========================================================================
//Components extended:
////../components/formated-text/_text.scss

//variables
$top-badge-space: -5px;
$left-badge-space: -7px;
$font-size-badge: 20px;
//

.badges {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.badge {
  position: relative;
  display: inline-block;

  .badge__label {
    position: relative;
    font-size: 11px;
  } // .badge__label
} // .badge


.badge__icon {
  z-index: 10;
  display: inline-block;

  .icon {
    width: 20px;
    height: 20px;
    fill: $color-success;
  } // .icon

  i { font-size: $font-size-badge; }
} // badge__icon

.badge__label {
  font-family: $font-family-primary;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  margin: 4px 0;
  line-height: 1.2;
  transition: all $transition-time-short $transition-easeInOut;
  vertical-align: middle;

  background-color: $color-attention;
  height: $xxsmall-size;
  min-width: $xxsmall-size;
  border-radius: $border-radius-default;
  display: inline-block;
  padding: 2px 5px 2px 5px;
  text-align: center;
  color: $color-white !important;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
} // .badge__label


// badge Modifiers

.badge--icon {
  margin-top: $spacing-reset !important;

  .badge__label {
    position: absolute;
    top: $top-badge-space;
    right: $left-badge-space;
  } // .badge__label
} // .badge--icon

.badge--1 .badge__label { background-color: $color-blue; } // .badge--1
.badge--2 .badge__label { background-color: $color-text-default; } // .badge--2
.badge--3 .badge__label { background-color: $color-red; } // .badge--3
.badge--4 .badge__label { background-color: $color-green; } // .badge--4
.badge--5 .badge__label { background-color: $color-attention; } // .badge--5
.badge--6 .badge__label { background-color: $color-grey; } // .badge--6
.badge--7 .badge__label { background-color: $color-orange; } // .badge--7
