// ==========================================================================
// .filter-detail
// ==========================================================================

.filter-detail {

}

.filter-detail__item {
  font-size: $font-size-small - 2px;
  color: $color-grey;

  &:after {
    content: ", ";
    margin-right: 5px;
  }

  &:first-child {
    font-weight: 600;
    &:after { content: ": "; }
  }

  &:last-child:after { content: ". "; }
}
