// ==========================================================================
// .alert-box
// ==========================================================================

.alert-box {
  background-color: $color-light;
  padding: $spacing-xsmall $spacing-large $spacing-xsmall $spacing-small;
  border-left: $border-width-thick $border-style-default $color-blue;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: $box-shadow-spreading-light $box-shadow-default-color;
  transition: all .4s $transition-easeInOut;
  z-index: 9999999999;

  position: fixed;
  top: 80px;
  right: -100%;

  > * { display: inline-block; }

  &.is-active {
    &.alert-box--highlight-error { right: 0; }
    &.alert-box--highlight-success,
    &.alert-box--highlight-attention { right: 0; }
  } // &.is-active
} // .alert-box

@keyframes notDanger {
  0% { right: 0; }
  100% { right: -100%; }
} // @keyframes notDanger


// ==========================================================================
// .alert-box Children
// ==========================================================================

.alert-box__icon i { color: $color-blue; } // .alert-box__icon

.alert-box__message {
  font-family: $font-family-primary;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  margin: 4px 0;
  line-height: 1.2;
  transition: all $transition-time-short $transition-easeInOut;
  vertical-align: middle;

  color: $color-blue !important;
  padding: 0 $spacing-xsmall;
  max-width: 200px;
} // .alert-box__message

.alert-box__button { margin-left: auto; }

.alert-box__close {
  position: absolute;
  right: $spacing-small;
  top: 5px;

  .button .button__icon .icon { fill: $color-blue; } // .alert-box__close
  .button__icon i { color: $color-blue; }
} // .alert-box__close


// alert-box Modifiers

.alert-box--success {
  border-color: $color-success;
  .alert-box__message { color: $color-success !important; } // .alert-box__message

  .alert-box__icon i { color: $color-success; }
  .alert-box__close .button__icon .icon { fill: $color-success; } // .alert-box__close
  .alert-box__close .button__icon i { color: $color-success; } // .alert-box__close

  //hover
  .alert-box__close .button__icon .icon:hover { fill: $color-success-dark; } // .alert-box__close
  .alert-box__close .button__icon i:hover { color: $color-success-dark; } // .alert-box__close
} // .alert-box--success

.alert-box--error {
  border-color: $color-red;
  .alert-box__message { color: $color-danger !important; } // .alert-box__message

  .alert-box__icon i { color: $color-danger; }
  .alert-box__close .button__icon .icon { fill: $color-danger; } // .alert-box__close
  .alert-box__close .button__icon i { color: $color-danger; } // .alert-box__close

  //hover
  .alert-box__close .button__icon .icon:hover { fill: $color-danger-dark; } // .alert-box__close
  .alert-box__close .button__icon i:hover { color: $color-danger-dark; } // .alert-box__close
} // .alert-box--success

.alert-box--attention {
  border-color: $color-attention;
  .alert-box__message { color: $color-attention !important; } // .alert-box__message

  .alert-box__icon i { color: $color-attention; }
  .alert-box__close .button__icon .icon { fill: $color-attention; } // .alert-box__close
  .alert-box__close .button__icon i { color: $color-attention; } // .alert-box__close

  //hover
  .alert-box__close .button__icon .icon:hover { fill: $color-attention-dark; } // .alert-box__close
  .alert-box__close .button__icon i:hover { color: $color-attention-dark; } // .alert-box__close
} // .alert-box--success


//highlight

.alert-box--highlight {
  padding: $spacing-small $spacing-large $spacing-small $spacing-small;
  border: none;
  background-color: $color-blue;
  .alert-box__message { color: $color-white !important; } // .alert-box__message

  .alert-box__icon i { color: $color-white; }
  .alert-box__close .button__icon .icon { fill: $color-white; } // .alert-box__close
  .alert-box__close .button__icon i { color: $color-white; } // .alert-box__close

  //hover
  .alert-box__close .button__icon .icon:hover { fill: $color-dark; } // .alert-box__close
  .alert-box__close .button__icon i:hover { color: $color-dark; } // .alert-box__close

} // .alert-box--success

.alert-box--highlight-success {
  @extend .alert-box--highlight;
  background-color: $color-success;
} // .alert-box--success

.alert-box--highlight-error {
  @extend .alert-box--highlight;
  background-color: $color-red;
} // .alert-box--success

.alert-box--highlight-attention {
  @extend .alert-box--highlight;
  background-color: $color-attention;
} // .alert-box--success
