// ==========================================================================
// .modal-alert
// ==========================================================================

// variables
$alert-icon-size: 130px;
$alert-icon-size-elem: 50px;

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.alert-container {
  overflow: hidden;
}

.modal-alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  padding: 100px 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &:before {
    content: "";
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,.9);
    position: absolute;
    top: 0;
    left: 0;
  }

  .button { margin-top: $spacing-medium !important; }
} // .modal-alert

@keyframes fadeinout {
  0% { border-color: $color-white; }
  50% { border-color: $color-blue; }
  100% { border-color: $color-white; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-alert__icon-loading {
  border: 9px solid $color-white;
  width: 107px;
  height: 107px;
  border-radius: 100%;
  padding: 20px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: fadeinout 2s infinite linear;

  .icon {
    width: $alert-icon-size-elem;
    height: $alert-icon-size-elem;
    fill: $color-blue;
    animation: spin 3s infinite linear;
  } // .icon
} // .modal-alert__icon

.modal-alert__icon {
  opacity: 0;
  animation: fadeIn .3s forwards;
  flex-shrink: 0;

  .icon {
    width: $alert-icon-size;
    height: $alert-icon-size;
    fill: $color-blue;
  } // .icon
}

.modal-alert__title {
  display: block;
  font-size: $font-size-large;
  font-weight: $font-weight-semibold;
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn .2s forwards .2s;
} // .modal-alert__title

.modal-alert__description {
  display: block;
  // font-size: $font-size-large;
  font-weight: $font-weight-light;
  margin-top: 5px;
  opacity: 0;
  animation: fadeIn .2s forwards .2s;
} // .modal-alert__description

.modal-alert__footer {
  opacity: 0;
  animation: fadeIn .2s forwards .2s;

  .button {
    margin: 0 10px 10px 0;

    &:last-child {
      margin-right: 0;
    }
  }
} // .modal-alert__footer

.modal-alert--loading {
  .modal-alert__title { animation: fadeIn .2s forwards 0s; }

  .modal-alert__description { animation: fadeIn .2s forwards .2s; }

  .modal-alert__footer {
    animation: fadeIn .2s forwards 6s;
  } // .modal-alert__footer
} // .modal-alert--loading

.modal-alert--success {
  .modal-alert__icon .icon { fill: $color-success; }
} // .modal-alert--success

.modal-alert--attention {
  .modal-alert__icon .icon { fill: $color-attention; }
} // .modal-alert--success

.modal-alert--danger {
  .modal-alert__icon .icon { fill: $color-danger; }
} // .modal-alert--success

.modal-alert--small {
  .modal-alert__icon {
    .icon {
      width: $alert-icon-size / 2;
      height: $alert-icon-size / 2;
    } // .icon
  }

  .modal-alert__title {
    font-size: $font-size-large / 1.5;
  } // .modal-alert__title

  .modal-alert__icon-loading {
    border: 4px solid $color-white;
    width: 53px;
    height: 53px;
    padding: 10px;

    .icon {
      width: $alert-icon-size-elem / 2;
      height: $alert-icon-size-elem / 2;
    } // .icon
  } // .modal-alert__icon
} // .modal-alert--small
