// ==========================================================================
// .row
// ==========================================================================

.row {
  display: block;
} // .row

.row--spacing-small {
  margin: $spacing-small 0;
  &:first-child { margin-top: 0; }
  &:last-child {margin-bottom: 0; }
} // .row

.row--spacing-medium {
  @extend .row--spacing-small;
  margin: $spacing-medium 0;
} // .row

.row--spacing-large {
  @extend .row--spacing-small;
  margin: $spacing-large 0;
} // .row
