// ==========================================================================
// .data
// ==========================================================================

.data {
  @extend .text, .text--small;
  display: block;
  margin-top: $spacing-xxsmall !important;
}

.data__info {
  font-weight: $font-weight-normal;
  margin-left: $spacing-xsmall;
  margin-right: $spacing-small;
  display: inline-block;
  text-transform: uppercase;
}
