// ==========================================================================
// .timeline
// ==========================================================================

.timeline-table {
} // .timeline

.timeline-table__header {

  .timeline-table-col {
    padding: $spacing-xsmall $spacing-default;
    border: none;
  }

  .timeline-table-col--sm {
    padding: $spacing-xsmall $spacing-xxxsmall;
  }
} // .timeline__header

.timeline-table__body {
  border: $border-width-thin $border-style-default $color-light;
  border-bottom: none;

} // .timeline__body

.timeline-table-row {
  display: flex;
  align-items: center;
  border-bottom: $border-width-thin $border-style-default $color-light;
}

.timeline-table-col {
  padding: $spacing-small $spacing-default;
  display: inline-block;
}

.timeline-table-col--sm {
  width: 70px;
  text-align: center;
}

.timeline-table-col--lg {
  width: calc(100% - 70px);
  border-left: $border-width-thin $border-style-default $color-light;
}

// ==========================================================================
// .timeline-reference
// ==========================================================================

.timeline-reference {
  display: inline-block;
  display: inline-flex;
  align-items: center;

  .normal-event {
    width: 30px;
    height: 4px;
    background-color: $color-grey;
    display: inline-block;
  }

  .danger-event {
    width: 30px;
    height: 4px;
    background-color: $color-danger;
    display: inline-block;
  }

  .estimate-event {
    width: 30px;
    height: 2px;
    border: 2px dashed $color-grey;
    display: inline-block;
  }

  .text {
    display: inline-block;
    margin-left: $spacing-xxsmall;
  }

  + .timeline-reference { margin-left: $spacing-default; }
} // .timeline-reference



// ==========================================================================
// .timeline
// ==========================================================================

//variables
$icon-size: 36px;
$knot-size: 14px;
$knot-border: 2px solid $color-grey;

.timeline {
  text-align: left;
  display: flex;
  align-items: center;
}

.timeline-component {
  width: $icon-size;
  height: $icon-size;
  border: $knot-border;
  border-radius: 100%;
  padding: 3px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 25px 0;

  &.is-attention {
    border-color: $color-attention;
  }

  &.is-success {
    border-color: $color-success;
  }

  &.is-danger {
    border-color: $color-danger;
  }

  &.is-estimate { border-style: dashed; }

  .icon { fill: $color-dark; }

  .popover-button {
    line-height: 1;
    top: 0;
    .text { margin: 0; }
  } // .popover-button

  .popover {
    left: calc(50% - 23px);
    padding: 10px;
  }

} // .timeline-component

.timeline-period-line {
  height: 2px;
  border: 1px solid $color-grey;
  position: relative;
  display: inline-block;
  min-width: 80px;

  &.is-danger { border-color: $color-danger; }

  &.is-estimate { border-style: dashed; }
} // .timeline-period-line

.timeline-knot {
  width: $knot-size;
  height: $knot-size;
  position: relative;
  background-color: $color-white;
  border: 2px solid $color-grey;

  &.is-danger {
    background-color: $color-danger;
    border-color: $color-danger;
  }

  &.is-estimate {
    background-color: $color-white;
    border: 2px dotted $color-grey;
  }
} // .timeline-knot

.timeline-component__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-component__label {
  font-family: $font-family-primary;
  font-size: $font-size-xxxsmall;
  text-align: center;
  display: block;
  padding: 2px;
  position: absolute;
  bottom: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  transition: all .1s $transition-easeInOut;

  a {
    text-decoration: underline;
    color: $color-blue;
    cursor: pointer;
  }

  // &:hover {
  //   transform: translateX(-50%) scale(1.3);
  //   background-color: $color-white;
  //   box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
  // }
} // .timeline-component__label

.timeline-component__label--bottom {
  position: absolute;
  bottom: inherit;
  top: calc(100% + 2px);
} // .timeline-component__label--bottom
