// ==========================================================================
// .filter-alpha
// ==========================================================================

.filter-alpha {
  display: flex;
  align-items: center;
  border-left: $border-width-thin $border-style-default $color-light;
  padding: 0px 5px 0px 0px;
  margin-right: -1px;
  height: 40px;

  &:first-child {
    border: none;
  }
} // .filter-alpha

// .filter-alpha__icon {
//   padding: 5px 10px 5px 5px;
//
//   i {
//     color: $color-light;
//     vertical-align: middle;
//     font-size: 20px;
//   }
// } // .filter-alpha__icon

.filter-alpha__content {
  color: $color-grey;
  font-size: $font-size-small;

  white-space: nowrap;
} // .filter-alpha__content
