// ==========================================================================
// .filter
// ==========================================================================

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 9999;

  &.is-active {

    .filter-box {
      max-height: 1000px;
      overflow: visible;
      opacity: 1;
    } // .filter-box

    .filter__trigger {
      .icon { fill: $color-blue; }
    }
  } // &.is-active
} // .filter

.filter__wrapper {
  width: 100%;
  position: relative;
  background-color: $color-white;
  z-index: 10;
} // .filter__wrapper

.filter__bar {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border-right: none;

  .form-component, .input-text:not(.input-text--line), .dropdown__header, .select { height: 42px !important; }
  .form-component__field, .dropdown__header { height: 100% !important; }

  .filter__collapsed {
    .form-component, .input-text:not(.input-text--line), .dropdown__header, .select { height: auto !important; }
  }

} // .filter__bar


.filter__trigger {
  @include button-reset;
  padding: 0px 7px;
  margin-left: auto;
  cursor: pointer;
  border: $border-width-thin $border-style-default $color-light;
  height: 100%;
  height: 42px;

  .icon {
    width: 26px;
    height: 26px;
    fill: $color-light;
    transition: all $transition-time-short $transition-easeInOut;
  } // i

  &.is-valid, &:hover {
    .icon { color: $color-blue; }
  } // &.is-valid, &:hover
} // .filter__trigger

.filter__options {
  @include button-reset;
  padding: 0px 7px;
  margin-left: auto;
  cursor: pointer;
  height: 100%;
  height: 42px;

  .icon {
    width: 26px;
    height: 26px;
    fill: $color-light;
    transition: all $transition-time-short $transition-easeInOut;
  } // i

&:hover {
    .icon { color: $color-blue; }
  } // &.is-valid, &:hover
} // .filter__trigger

.filter__collapsed { z-index: 100; }


// ==========================================================================
// .filter-box
// ==========================================================================

// variables
$filter-box-icon-size: 28px;


.filter-box {
  border: $border-width-thin $border-style-default $color-light;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-white;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
} // .filter-box

.filter-box__header {
  padding: $spacing-xsmall $spacing-small;
  border-bottom: $border-width-thin $border-style-default $color-light;

  .filter-box__header-label {
    vertical-align: middle;
    margin-left: $spacing-xsmall;
  }

  .icon {
    fill: $color-blue;
    width: $filter-box-icon-size;
    height: $filter-box-icon-size;
    vertical-align: middle;
  } // .icon
} // .filter-box__header

.filter-box__body {
  padding: $spacing-default $spacing-small;
} // .filter-box__body

.filter-box__footer {
  padding: $spacing-xsmall $spacing-small;
  border-top: $border-width-thin $border-style-default $color-light;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    display: inline-block;
    &:first-child { padding-left: 0; }
  } // > *
} // .filter-box__footer
