// ==========================================================================
// .tab-filter
// ==========================================================================

//variables
$tab-filter-element-border: 8px;
$tab-filter-bottom-padding: -8px;
$tab-filter-padding: 10px 18px;
//

.tab-filter {
  background-color: $color-light;
  margin-bottom: 10px;
} // .tab-filter

.tab-filter__nav { @include list-reset; } // .tab-filter__nav

.tab-filter__nav-item {
  display: inline-block;

  a {
    @extend .text;
    padding: $tab-filter-padding;
    margin: $spacing-reset;
    display: inline-block;
    position: relative;
    color: $color-dark;
    transition: all $transition-time-default $transition-easeInOut;
    cursor: pointer;

    &:after {
      content: "";
      border: $tab-filter-element-border $border-style-default transparent;
      border-bottom: $tab-filter-element-border $border-style-default transparent;
      position: absolute;
      bottom: $tab-filter-bottom-padding;
      left: 50%;
      transform: translateX(-50%);
      transition: all .15s $transition-easeInOut;
    } // &:after

    &:hover {
      background-color: $color_blue;
      color: $color-white;

      &:after {
        border-bottom-color: $color-lighter;
        bottom: $spacing-reset;
      } // &:after
    } // &:hover
  }

  &.is-active a {
    background-color: $color_blue;
    color: $color-white;

    &:after {
      border-bottom-color: $color-lighter;
      bottom: $spacing-reset;
    } // &:after
  } // &.is-active
} // .tab-filter__nav-item

.tab-filter__header {
  background-color: $color-lighter;
  padding: $spacing-medium $spacing-reset $spacing-small $spacing-reset;

  display: flex;
  justify-content: space-between;
}

.tab-filter__content {
  background-color: $color-lighter;
  @include spacing('padding', vertical, small);
}
