// ==========================================================================
// .data-slider
// ==========================================================================

.data-slider {
  @extend .clearfix;
  display: flex;
  align-items: center;
} // .data-slider

.data-slider__number {
  @include appearance-reset;
  display: inline-block;
  font-family: $font-family-primary;
  font-size: $font-size-small;
  background-color: transparent;
  color: $color-text-default;
  border: $border-width-thin $border-style-default $color-grey;
  border-radius: $border-radius-rounded;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 3px 0;
  cursor: pointer;
  margin: 3px;
  float: left;
  flex-shrink: 0;

  &.is-current, &:hover {
    background-color: $color-blue;
    color: $color-white;
  }

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
} // .data-slider__number

.data-slider__label {
  @extend .text, .text--small;
  margin-left: 3px !important;
  display: inline-block;
}

.card__result-text .text {
  line-height: 1;
  margin: 0;
}
