// ==========================================================================
// .rating
// ==========================================================================
$row-rating-icon-size: 20px;
$row-rating-icon-small-size: 14px;


.rating {
  display: inline-block;

  &.is-20 .rating__icon:first-child .icon, &.is-20 .rating__icon:first-child i {
    fill: $color-dark;
    color: $color-dark;
  }
  &.is-40 .rating__icon:nth-child(-n+2) .icon , &.is-40 .rating__icon:nth-child(-n+2) i {
    fill: $color-dark;
    color: $color-dark;
  }
  &.is-60 .rating__icon:nth-child(-n+3) .icon, &.is-60 .rating__icon:nth-child(-n+3) i {
    fill: $color-dark;
    color: $color-dark;
  }
  &.is-80 .rating__icon:nth-child(-n+4) .icon, &.is-80 .rating__icon:nth-child(-n+4) i {
    fill: $color-dark;
    color: $color-dark;
  }
  &.is-100 .rating__icon .icon, &.is-20 .rating__icon i {
    fill: $color-dark;
    color: $color-dark;
  }
} // .rating

.rating + .rating { margin-top: $spacing-xlarge; }

.rating__icon {
  display: inline-block;

  .icon {
    width: $row-rating-icon-size;
    height: $row-rating-icon-size;
    fill: $color-light;
  } // icon

  i {
    font-size: $row-rating-icon-size;
    color: $color-light;
  }
} // rating__icon

.rating--small {
  .icon {
    width: $row-rating-icon-small-size;
    height: $row-rating-icon-small-size;
    fill: $color-grey;
  } // icon

  i {
    font-size: $row-rating-icon-small-size;
  }
} // .rating--small


.rating--secondary {
  &.is-20 .rating__icon:first-child .icon, &.is-20 .rating__icon:first-child i {
    fill: $color-attention;
    color: $color-attention;
  }
  &.is-40 .rating__icon:nth-child(-n+2) .icon, &.is-40 .rating__icon:nth-child(-n+2) i {
    fill: $color-attention;
    color: $color-attention;
  }
  &.is-60 .rating__icon:nth-child(-n+3) .icon, &.is-60 .rating__icon:nth-child(-n+3) i {
    fill: $color-attention;
    color: $color-attention;
  }
  &.is-80 .rating__icon:nth-child(-n+4) .icon, &.is-80 .rating__icon:nth-child(-n+4) i {
    fill: $color-attention;
    color: $color-attention;
  }
  &.is-100 .rating__icon .icon, &.is-20 .rating__icon i {
    fill: $color-attention;
    color: $color-attention;
  }
} // .rating

.rating--brand {
  &.is-20 .rating__icon:first-child .icon, &.is-20 .rating__icon:first-child i {
    fill: $color-blue;
    color: $color-blue;
  }
  &.is-40 .rating__icon:nth-child(-n+2) .icon, &.is-40 .rating__icon:nth-child(-n+2) i {
    fill: $color-blue;
    color: $color-blue;
  }
  &.is-60 .rating__icon:nth-child(-n+3) .icon, &.is-60 .rating__icon:nth-child(-n+3) i {
    fill: $color-blue;
    color: $color-blue;
  }
  &.is-80 .rating__icon:nth-child(-n+4) .icon, &.is-80 .rating__icon:nth-child(-n+4) i {
    fill: $color-blue;
    color: $color-blue;
  }
  &.is-100 .rating__icon .icon, &.is-20 .rating__icon i {
    fill: $color-blue;
    color: $color-blue;
  }
} // .rating

.rating--light {
  &.is-20 .rating__icon:first-child .icon, &.is-20 .rating__icon:first-child i {
    fill: $color-grey;
    color: $color-grey;
  }
  &.is-40 .rating__icon:nth-child(-n+2) .icon, &.is-40 .rating__icon:nth-child(-n+2) i {
    fill: $color-grey;
    color: $color-grey;
  }
  &.is-60 .rating__icon:nth-child(-n+3) .icon, &.is-60 .rating__icon:nth-child(-n+3) i {
    fill: $color-grey;
    color: $color-grey;
  }
  &.is-80 .rating__icon:nth-child(-n+4) .icon, &.is-80 .rating__icon:nth-child(-n+4) i {
    fill: $color-grey;
    color: $color-grey;
  }
  &.is-100 .rating__icon .icon, &.is-20 .rating__icon i {
    fill: $color-grey;
    color: $color-grey;
  }
} // .rating
