// ==========================================================================
// .floating-menu
// ==========================================================================

// variables
$floating-button-size: 50px;
$floating-button-icon-size: 26px;

.floating-menu {
  position: fixed;
  top: 80px;
  right: 30px;
  z-index: 99999;
  // display: flex;

  > .button {
    opacity: 1;
    transition: all .3s $transition-easeInOut 1s;
  } // > .button

  .button {
    box-shadow: 1px 2px 5px rgba(0,0,0,.3);
  }

  > * { display: inline-block; }

  &.is-active {

    > .button {
      opacity: 0;
      transition: all .3s $transition-easeInOut 0s;
    } // > .button

    .floating-menu-context__wrapper {
      // right: 52px;
      // left: calc(100% - 50px);
      transform: translateX(calc(-100% - 0px));
      transition: all .5s $transition-easeInOut .5s;

      .button {
        transform: scale(1);
        transition: all .3s $transition-easeInOut 1s;
      } // .button
    } // .floating-menu-context__wrapper

    .floating-menu-context__trigger {
      transform: scale(.7);
      transition: all .3s $transition-easeInOut 1s;
    } // .floating-menu-context__trigger
  } // &.is-active
} // .floating-menu

.floating-menu-context {
  position: relative;

  &:after {
    content: "";
    width: 1500px;
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: $color-lighter;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  } // &:after
} // .floating-menu-context

.floating-menu-context__wrapper {
  display: inline-block;
  height: 50px;
  position: absolute;
  transform: translateX(calc(100% + 100px));
  top: 0;

  display: flex;

  transition: all .5s $transition-easeInOut .5s;

  .button {
    transform: scale(.7);
    transition: all .3s $transition-easeInOut 0s;
    display: inline-block !important;
    margin: 0 4px;
  } // .button
} // .floating-menu-context__wrapper

.floating-menu-context__trigger {
  display: inline-block;
  z-index: 200;
  position: relative;
  transition: all .3s $transition-easeInOut 0s;
} // .floating-menu-context__trigger
