// ==========================================================================
// .angular-date-picker
// ==========================================================================

.angular-date-picker {
  padding: 8px 3px 3px 3px !important;
  @extend .text;
  border: none;
  margin: 0 !important;

  ._month {
    padding: 5px !important;
    border: none;
    background-color: $color-white;
    font-size: 16px;

    * {
      @extend .text;
      font-weight: $font-weight-semibold !important;
      font-size: 16px !important;
    }
    button + span {
      margin: 0;
      // margin-top: 5px;

      &:after {
        content: " /";
      }
    }

    ._previous {
      font-size: 0 !important;
      width: 30px;
      height: 23px;
      background-image: url(../media/icons/navigation-left-3.svg);
      background-repeat: no-repeat;
      background-position: calc(100%) calc(100% - 0px);
      background-size: 24px;
      margin: 0;
      color: $color-white;
    }

    ._next {
      font-size: 0 !important;
      width: 30px;
      height: 23px;
      background-repeat: no-repeat;
      background-size: 24px;
      background-image: url(../media/icons/navigation-right-3.svg);
      background-position: calc(100% - 6px) calc(100% - 0px);
      margin: 0;
      color: $color-white;
    }
  }

  ._days {
    width: 280px;
  }

  ._day {
    background-color: #E4E4E4;
    margin: 2px;
    width: 36px !important;
    height: 34px;
    line-height: 1 !important;
    font-weight: $font-weight-semibold;
    padding: 4px;
    border-color: transparent !important;

    &.-today {
      border: $border-width-thin $border-style-default $color-blue !important;
    }

    &:after {
      display: block;
      font-size: 11px;
      font-weight: 300;
      color: #868686;
      margin-top: 1px;
    }

    &:nth-child(7n+1):after { content: "1"; }
    &:nth-child(7n+2):after { content: "2"; }
    &:nth-child(7n+3):after { content: "3"; }
    &:nth-child(7n+4):after { content: "4"; }
    &:nth-child(7n+5):after { content: "5"; }
    &:nth-child(7n+6):after { content: "6"; }
    &:nth-child(7n+7):after { content: "7"; }

    &:hover, &.-selected {
      background-color: $color-blue !important;
      color: $color-white;
      border-color: transparent;
      &:after { color: $color-white; }
    }
  }

  ._day-of-week {
    width: 36px !important;
    line-height: 1 !important;
    text-align: center;
    margin: 0 2px;
    color: $color-grey;
  }

}
