// ==========================================================================
// .button-featured
// ==========================================================================

.button-featured {
  display: flex;
  align-items: center;
  color: $color-blue;

  i {
    // color: $color-blue;
    font-size: 20px;
  }

  i + .button-featured__label { margin-left: 5px; }
  .button-featured__label + i { margin-left: 5px; }

  &:hover {
    color: darken($color-blue, 20);
  }
}

.button-featured__label {
  font-size: 14px;
}
