// ==========================================================================
// .breadcrumbs
// ==========================================================================
//Components extended:
////../components/formated-text/_text.scss

.breadcrumbs {
  display: flex;
  align-items: center;
} // .breadcrumbs

.main-container__tab-filter + .breadcrumbs { margin-top: -13px; }
.breadcrumbs + .main-container__tab-filter { margin-top: 10px; }


// ==========================================================================
// .breadcrumbs Children
// ==========================================================================

.breadcrumbs__list {
  @include list-reset;
  margin: 0 0 0px 0 !important;
} // .breadcrumbs__list

.breadcrumbs__list-item {
  display: inline-block;

  a {
    font-family: $font-family-primary;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    margin: 4px 0;
    line-height: 1.2;
    transition: all $transition-time-short $transition-easeInOut;
    vertical-align: middle;


    color: #747474 !important;

    &:first-letter { text-transform: uppercase; }
  } // a

  &:hover, &.is-current a { color: $color-blue !important; }
} // .breadcrumbs__list-item

.breadcrumbs__arrow {
  display: inline-block;
  margin: $spacing-reset $spacing-xsmall - 6px;

  svg, i {
    width: $xxxxsmall-size;
    fill: $color-grey;
    color: $color-grey;
  } // svg
} // .breadcrumbs__arrow
