// ==========================================================================
// .input-radio
// ==========================================================================
// It's a radio input with button appearance.
// It uses the same structure of the avarage radio with a different class
// In this case there is no need for modifiers, it's a different component
// with different children.

//
// button-radio Block
// ==========================================================================

.button-radio {
  display: inline-block;
  line-height: 0;
  cursor: pointer;
  margin-left: 0;

  input[type="radio"] { display: none; }

  input[type="radio"]:checked + .button-radio__token {
    background-color: $color-blue;
    color: $color-white;
  } // input[type="radio"]:checked + .button-radio__token

  //button-radio behavior
  input:disabled + .button-radio__token,
  input:disabled + .button-radio__token {
    background-color: $color-light !important;
    border-color: $color-light;
    color: $color-grey !important;
  } // input:disabled + .button-radio__token, input:disabled + .button-radio__token
  input:disabled:checked + .button-radio__token {
    background-color: $color-grey !important;
    border-color: #cbdbff;
    color: #7f7f7f !important;
  }
} // .button-radio


//
// button-radio Children
// ==========================================================================

.button-radio__token {
  @extend .button, .button__label;
  padding: 13px 10px;
  background-color: $color-light;
  color: $color-grey;
  min-width: 100px;
  text-align: center;
  border: none;
  justify-content: center;
  height: 36px;

  &:hover {
    color: $color-white;
    border: none;
  }
} // .button-radio__token

i + .button-radio__label { margin-left: 5px; }

.button-radio__label + i { margin-left: 5px; }
