// ==========================================================================
// .checkbox
// ==========================================================================

//variables
$chackbox-rounded-size: 20px;


//
// .checkbox
// ==========================================================================

.checkbox {
  display: block;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
} // .checkbox


//
// checkbox default behaviors
// ==========================================================================
.checkbox__input:disabled ~ .checkbox__label,
.checkbox__input.is-disabled ~ .checkbox__label {
  color: $color-grey !important;
} // &:disabled

.checkbox__input:disabled ~ .checkbox__token,
.checkbox__input.is-disabled ~ .checkbox__token {
  background-color: $color-light;
  border-color: $color-light;
  &:after {
    content: "-";
    opacity: 1;
    font-size: 22px;
    line-height: 0;
    top: 3px;
    right: 2px;
  } // &:after
} // &:disabled

.checkbox__input:disabled ~ .checkbox__token--switch {
  margin: 0;
  padding: 0;
  opacity: 0;
} // &:disabled


//
// checkbox Children
// ==========================================================================

.checkbox__input {
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;

  &:checked + .checkbox__token {
    background-color: $color-blue;
    border-color: $color-blue;
  } // &:checked + .checkbox__token

  &:checked + .checkbox__token--switch {
    background-color: $color-white;
    border-color: $color-blue;

    &:after {
      transform: translateX(0);
      background-color: $color-blue;
    } // &:after
  } // &:checked + .checkbox__token--switch
} // .checkbox__input

.checkbox__token {
  display: inline-block;
  width: $xxsmall-size;
  height: $xxsmall-size;

  margin: $spacing-xsmall - 8px $spacing-reset;
  vertical-align: middle;
  border-radius: $border-radius-small;

  background-color: $color-white;
  border: $border-width-default $border-style-default $color-grey;
  position: relative;
  transition: all $transition-time-xshort $transition-easeInOut;

  flex-shrink: 0;

  &:after {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 12px;
    color: $color-white;
    display: block;

    position: absolute;
    top: 0;
    right: 0;

    opacity: 1;
    transition: all $transition-time-default $transition-easeInOut;
  } // &:after
} // .checkbox__token

.checkbox__label {
  color: $color-dark;
  font-size: $font-size-small;
  vertical-align: middle;
  margin-left: 8px;
} // .checkbox__label


//
// checkbox Modifiers
// ==========================================================================

//turns the checkbox into a rounded component
//the regular checkbox is square with slightly rounded corners
.checkbox--secondary {
  .checkbox__token {
    width: $chackbox-rounded-size;
    height: $chackbox-rounded-size;
    border-radius: $border-radius-rounded;

    &:after { font-size: 16px; }

  } // .checkbox__token
  .checkbox__input {
    &:checked + .checkbox__token {
      background-color: $color-green;
      border-color: $color-green;
    } // &:checked + .checkbox__token
  } // .checkbox__input
} // .checkbox--secondary

/////////////////////

//turns the checkbox into a switch button
//and depends on a specifc html structure
//with checkbox__label--on and checkbox__label--off span tags
.checkbox__token--switch {
  background-color: $color-white;
  border: $border-width-default $border-style-default $color-grey;
  width: 35px;
  height: 20px;
  border-radius: 0;
  position: relative;
  left: 0;
  transition: all .5s $transition-easeInOut $transition-easeInOut;
  order: 1;
  margin-left: 12px;

  &:after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 1px;
    left: 1px;
    background: none;
    background-color: $color-grey;
    border-radius: 0;
    transform: translateX(15px);
    opacity: 1;
  } // &:after

} // .checkbox__token--switch

.checkbox__input:focus ~ .checkbox__token--switch {
  box-shadow: 2px 2px 8px rgba(0,0,0,.2);
}

//this modifier applies only to switch elements
//and depends on a specifc html structure
//with checkbox__label--on and checkbox__label--off span tags
.checkbox__label--on,
.checkbox__input:disabled ~ .checkbox__label--on {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  color: $color-dark !important;
  line-height: 0;
  transition: all .5s $transition-easeInOut $transition-easeInOut;
  min-width: 26px;
} // .checkbox__label--on

//this modifier applies only to switch elements
//and depends on a specifc html structure
//with checkbox__label--on and checkbox__label--off span tags
.checkbox__label--off,
.checkbox__input:disabled ~ .checkbox__label--off {
  position: relative;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  color: $color-dark !important;
  line-height: 0;
  transition: all .5s $transition-easeInOut $transition-easeInOut;
  min-width: 26px;
} // .checkbox__label--off


//switch component behaviors
.checkbox__input:checked ~ .checkbox__label--on {
  opacity: 1;
  position: relative;
} // .checkbox__input:checked ~ .checkbox__label--on

.checkbox__input:checked ~ .checkbox__label--off {
  opacity: 0;
  position: absolute;
} // .checkbox__input:checked ~ .checkbox__label--off



//
// checkbox--icon-toggle
// ==========================================================================

//It's a checkbox that toggles from one icon to another one
//and changes the collor from a light grey to th default blue
//It was designed to be used over a form-component
//side-by-side to a form-component__label to lock and unlock
//some field to keep the information for the next form.
.checkbox--icon-toggle {
  display: inline-block;
  width: auto;
  float: right;
  height: 16px;
  margin-top: -1px;

  .checkbox__label {
    vertical-align: text-top;
    font-size: 11px;
    color: $color-grey;
  } // .checkbox__label

  .checkbox__token {
    border: none;
    margin: 0;
    vertical-align: inherit;
    background-color: transparent;

    &:after {
      font-family: "Icomoon";
      content: "\e90f";
      font-size: 16px;
      color: $color-light-2;
      right: 1px;
    } // &:after
  } // .checkbox__token

  //checkbox--icon-toggle behavior
  .checkbox__input:checked ~ .checkbox__token {
    background: none;
    &:after {
      content: "\e910";
      color: $color-blue;
    } // &:disabled
  } // .checkbox__input:checked ~ .checkbox__token

  &.is-active .checkbox__token {
    background: none;
    &:after {
      content: "\e910";
      color: $color-blue;
    } // &:disabled
  }

  .checkbox__input:disabled ~ .checkbox__token {
    background: none;
    cursor: initial;
    &:after {
      font-family: "Icomoon";
      content: "\f13e";
      font-size: 16px;
      color: $color-light;
      right: 1px;
    } // &:after
  } // .checkbox__input:disabled ~ .checkbox__token
} // .checkbox--icon-toggle


//
// .checkbox--icon-fav
// ==========================================================================

//It's the same checkbox--icon-toggle but to be used outside
//a form-component with a larger heart icon to set something as
//favorite, currently used at "central de análises".
.checkbox--icon-fav {
  @extend .checkbox--icon-toggle;
  float: none;
  width: 22px;
  height: 22px;

  input { display: none; }

  .checkbox__token {
    width: 22px;
    height: 22px;

    &:after {
      font-family: "FontAwesome";
      content: "\f08a";
      font-size: 22px;
    } // &:after
  } // .checkbox__token


  //.checkbox--icon-fav behavior
  .checkbox__input:checked ~ .checkbox__token:after { content: "\f004"; }

  //.checkbox--icon-fav behavior
  .checkbox__input:disabled ~ .checkbox__token {
    background: none;
    cursor: initial;
    &:after {
      font-family: "FontAwesome";
      content: "\f08a";
      font-size: 22px;
      color: $color-light;
      right: 1px;
    } // &:after
  } // .checkbox__input:disabled ~ .checkbox__token
} // .checkbox--icon-fav

.dropdown .checkbox input { display: none; }
