// ==========================================================================
// Commons
// ==========================================================================

%fields-base {
  @include appearance-reset;
  width: $size-default;
  padding: $spacing-xsmall;
  font-size: $font-size-small;
  vertical-align: middle;
  color: $color-text-default;
  border: $border-width-thin $border-style-default $color-grey;

  background-color: $color-white;

  transition: all $transition-time-xshort $transition-easeInOut;
  outline-offset: 0;

  &:focus {
    color: $color-dark;
    border-color: $color-blue;
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
  } // &:focus

  &.is-invalid {
    color: $color-danger;
    border-color: $color-danger;

    + .form-output .form-output__error { max-height: $spacing-medium; }
  } // &.is-invalid

  &:disabled {
    color: $color-grey;
    cursor: default;
  } // &:disabled
} // %fields-base

.is--borderless { border: none !important; }
