// ==========================================================================
// input-range
// ==========================================================================

//It's a slider input type (range) but not the default
//due to information and behavior needed, it depends on
// JS to work properly.

//
// slider Block
// ==========================================================================

.slider {
  width: 100%;
  display: flex;
  align-items: center;

  .tooltip-range {
    opacity: 0;
    z-index: -1;
  } // .tooltip-range

  .slider__bullet .tooltip-range { margin-left: calc(-50% + 2px); }

  .tooltip-range {
    opacity: 0;
    z-index: -1;
  } // .tooltip-range

  &:hover {
    .tooltip-range {
      opacity: 1;
      z-index: 200;
    } // .tooltip-range
  } // &:hover
} // .slider


//
// slider Children
// ==========================================================================

.slider__label {
  margin: 8px;
  display: inline-block;

  &:first-of-type { margin-left: 0; }

  &:last-of-type { margin-right: 0 }

  &:only-of-type { margin-left: 8px; }
} // .slider__label

.slider__track {
  background-color: #fff;
  width: 100%;
  height: 24px;
  display: inline-block;
  position: relative;
  padding-top: 7px;
} // .slider__track

.slider__track-part {
  height: 10px;
  float: left;
  border: $border-width-thin $border-style-default $color-grey;

  &.is-filled {
    background-color: $color-blue;
    border-color: $color-blue;
  } // &.is-filled
} // .slider__track-part

.slider__bullet {
  width: 24px;
  height: 24px;
  background-color: $color-blue;
  border-radius: $border-radius-rounded;
  position: absolute;
  display: block;
  margin-top: -7px;
  margin-left: -12px;
  cursor: grabbing;

  &:last-of-type { margin-right: -12px; }
} // .slider__bullet


// ==========================================================================
// .tooltip-range
// ==========================================================================

//variables
$xxsmall-padding: 3px 6px;
$tooltip-border: 5px;

.tooltip-range {
  color: $color-white;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-semibold;
  padding: $xxsmall-padding;
  position: absolute;
  top: calc(100% + 8px);
  // left: 50%;
  // transform: translateX(-50%);
  background-color: $color-text-default;
  text-transform: lowercase;
  transition: all $transition-time-default $transition-easeInOut;
  white-space: nowrap;

  &:after {
    content: "";
    border: $tooltip-border $border-style-default transparent;
    border-bottom: $tooltip-border $border-style-default $color-text-default;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all $transition-time-default $transition-easeInOut;
  }
}
