// ==========================================================================
// .input-text
// ==========================================================================


//
// input-text Block
// ==========================================================================

.input-text {
  @extend %fields-base;
  height: 36px;
} // input-text


//
// input-text Modifiers
// ==========================================================================

//It removes all the border and keeps only the bottom one
//This modifier doesn't give the input-text a inline behavior (display)
.input-text--line {
  background-color: transparent;
  border: none;
  border-bottom: $border-width-thin $border-style-default $color-grey;
  padding-left: 0;
} // .input-text--line

//It removes all the border and paddings
//This modifier GIVES the input-text a inline behavior and
//must be used inside a form-component--inline
.input-text--inline {
  padding: 0;
  height: auto;
  border: none;
  border-bottom: $border-width-thin $border-style-default $color-grey;
  // font-weight: $font-weight-semibold;
  text-align: center;

  + .validation-tips {
    height: 22px !important;
    right: 0 !important;
    top: 5px !important;
  } // + .validation-tips
} // .input-text--inline
