// ==========================================================================
// .input-file
// ==========================================================================

//wrapper created to change the input-file css
//currently it's the easier way to do so.
.input-file-container {
  display: flex;
  align-items: center;

  .button {
    height: auto;
    text-align: center;
    margin: 10px -10px 10px 0;
    padding: 10px;

    .button__label { padding: 0; }
  }
} // .input-file-container

.input-file {
  @extend .text;

  &:focus, &:active { outline: none; }
} // .input-file

//to hide the pseudo tag thar this kind os component creates
//it helps to change the appearance of the button
//it still presents some bugs at firefox
input::-webkit-file-upload-button {
  width: 0;
  height: 0;
  opacity: 0;
} // input::-webkit-file-upload-button
