// ==========================================================================
// .lookup-field
// ==========================================================================


//
// lookup-field
// ==========================================================================

//This component must be used inside a dropdown--lookup > dropdown__content
.lookup-field { padding: $spacing-xsmall; } // .lookup-field

.lookup-field__list {
  @include list-reset;
  display: block;
  padding: 5px 0;
}

.lookup-field__list-item {
  @extend .text--small, .text--semibold;
  font-family: $font-family-primary;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
  line-height: $line-height-reset;

  color: $color-dark;
  border-bottom: $border-width-thin $border-style-default $color-light;
  transition: all $transition-time-xshort $transition-easeInOut;
  display: block;
  margin: 0;

  > * {
    padding: 6px 10px !important;
    display: block;
    align-items: center;
  } // > *

  > * { color: $color-dark; }

  &:hover > * {
    background-color: $color-light;

    *:not(.button__label) { color: $color-blue; }
  } // &:hover > *

  &:last-child { border: none; }

  &:hover { color: $color-blue; }
} // .lookup-field__list

//
// lookup-field Children
// ==========================================================================

.lookup-field__validate {
  position: relative;

  .popover-button {
    margin: 0;
    position: absolute;
    top: 9px;
    right: 0;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  } // .popover-button

  .input-text { width: 100%; }

  &:after {
    animation: infiniteSpin 2s infinite linear;
    font-family: 'FontAwesome';
    content: "\f013";
    display: inline-block;
    font-size: 18px;
    top: 8px;
    right: 0;
    color: $color-blue;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: opacity $transition-time-short $transition-easeInOut;
    position: absolute;
  } // &:after

  &.is-loading {
    .input-text { width: calc(100% - 26px); }

    &:after {
      opacity: 1;
      width: auto;
      height: auto;
    } // &:after
  } // &.is-loading

} // .lookup-field__validate
