// ==========================================================================
// .input-radio
// ==========================================================================

//
// input-radio Block
// ==========================================================================

.input-radio {
  line-height: 0;
  display: block;
  width: 100%;
  cursor: pointer;

  input[type="radio"] {
    margin: 0;
    padding: 0;
    opacity: 0;
  }

  input[type="radio"]:checked + .input-radio__token:after { opacity: 1; }

  &:hover .input-radio__label { color: $color-blue !important; }
} // .input-radio

.input-radio input:focus {
  ~ .input-radio__token {
    border-color: $color-blue;
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
  }

  ~ .input-radio__label {
    color: $color-blue !important;
  }
}

input:disabled:checked ~ .input-radio__token {
  border-color: $color-light !important;
  color: #7f7f7f !important;

  &:after { background-color: $color-grey; }
}

input:disabled ~ .input-radio__token {
  border-color: $color-light !important;
  color: #7f7f7f !important;

  &:after { background-color: $color-grey; }
}

input:disabled ~ .input-radio__label { color: $color-grey !important; }
input:disabled ~ .input-radio__label:hover { color: $color-grey !important; }
input:disabled ~ .input-radio__token:hover + .input-radio__label { color: $color-grey !important; }
input:disabled:checked ~ .input-radio__label { color: $color-dark !important; }

//
// input-radio Children
// ==========================================================================

.input-radio__token {
  width: $xxsmall-size;
  height: $xxsmall-size;
  display: inline-block;
  border: $border-width-default $border-style-default $color-grey;
  text-align: center;
  border-radius: $border-radius-rounded;
  vertical-align: middle;
  background-color: $color-white;
  margin: $spacing-xsmall - 8px $spacing-reset;

  &:after {
    content: "";
    width: 8px;
    height: 8px;
    margin: auto;
    position: relative;
    top: 2px;
    background-color: $color-blue;
    border-radius: 50%;
    transition: all $transition-time-default $transition-easeInOut;
    opacity: 0;
    display: block;
  } // &:after
} // .input-radio__token

.input-radio__label {
  @extend .text;
  color: $color-text-default !important;
  margin-left: 5px !important;
  text-align: center;
  vertical-align: middle;
  font-size: $font-size-small;
  vertical-align: middle;
} // .input-radio__label
