// ==========================================================================
// .image-container
// ==========================================================================

.image-container {
  display: block;
  margin: $spacing-reset;
  line-height: 0;
} // .image-container
