// ==========================================================================
// .main
// ==========================================================================

.main {
  width: $size-default;
  height: $size-default;
} // .main
