// ==========================================================================
// .add-tag
// ==========================================================================

.add-tag { width: 100%; }

.add-tag__header {
  border-bottom: $border-width-thin $border-style-default $color-grey;
  margin-bottom: $spacing-xxsmall;
} // .add-tag__header

.add-tag__content {
  padding: $spacing-xsmall $spacing-xsmall;
  height: auto;
  max-height:200px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  position: relative;

  .form-component {
    @extend .form-component--light;
    border: $border-width-thin $border-style-default $color-light;
    margin-bottom: $spacing-small;
    height: auto;
  } // .form-component

  .input-text { padding-left: 40px; }

  .form-component__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    i {
      color: $color-light;
      font-size: 18px;
    } // i
  } // .form-component__icon

  .list {
    max-height: 160px;
    overflow-y: scroll;
    overflow: auto;
    margin: $spacing-small 0 $spacing-small 0;
    padding: 0 !important;

    .list-item {
      font-size: $font-size-small;
      padding: 5px 0;
      border-bottom: $border-width-thin $border-style-default $color-light;

      > * { padding: 0; }

      .pill { cursor: pointer; }
    } // .list-item
  } // .list

  .button {
    margin-top: auto !important;
    text-align: center;
    display: inline-block;
  } // .button
} // .add-tag__content



/////////////add tag novo componente

.ui-select-container {
  input {
    @extend %fields-base;
    height: 36px;

    &:focus {
      color: $color-dark;
      border: 1px solid $color-blue;
      box-shadow: 2px 2px 8px rgba(0,0,0,.2);
      outline: none;
    } // &:focus
  } // input
} // .ui-select-container

.ui-select-choices {
  @include list-reset;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid $color-light;
  width: 100%;
  background-color: $color-white;
  z-index: 9999;

  .ui-select-choices-row {
    padding: 5px;
    transition: all .2s;
    cursor: pointer;

    &.active {
      font-weight: 600;
      color: $color-blue;
    } // &.active

    &:hover {
      background-color: $color-blue;
      color: $color-white;
      padding: 5px;
    } // &:hover

    + li { margin-top: 5px; }
  } // .ui-select-choices-row
} // .ui-select-choices

.ui-select-match-item {
  @extend .tag-2;
  @include appearance-reset;
          appearance: none;
  -webkit-appearance: none !important;
     -moz-appearance: none !important;

  margin: 0 4px 3px 0 !important;
} // .ui-select-match-item
