// ==========================================================================
// .modal
// ==========================================================================
.modal {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;

  transition: opacity $transition-time-short $transition-easeInOut;

  &.is-active {
    width: 100%;
    height: 100%;
    z-index: 99999;
    opacity: 1;

    .modal-background {}
  }
}

.modal__content {
  background-color: $color-white;
  display: inline-block;
  position: absolute;

  // overflow-y: auto;
  // max-height: 100vh;
  // margin-top: 30px;

  // Now, the position values are setted with js.
  // TODO: The properties below can be deleted.
  // top: 50%;
  // left: 50%;
  // transform: translate(-50% , -50%);

  z-index: 100;
}

.modal__content {}


.modal__icon {
  padding: 30px 30px 10px 30px;
  text-align: center;
  i {
    font-size: 90px;
    color: $color-danger;
  }
}

.modal__alert {
  text-align: center;
  .text {
    padding: $spacing-small;

    + .text {
      padding-top: 0;
    }
  }
}

.modal__content--danger {

  .modal__header {
    background-color: $color-danger;
  }
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, .6);
  z-index: -1;
  // opacity: 0;
  transition: opacity $transition-time-default $transition-easeInOut $transition-time-short;

}

.modal-container {
  width: 720px;
  // overflow: auto;
  max-height: 100vh;

  .fieldset {
    padding: $spacing-small $spacing-small;
  }

  .form__footer {
    padding: $spacing-small $spacing-small;
  }
}

.modal-container--large { width: 1000px; }

.modal-container--small {
  width: 460px;
  height: auto;

  .form__footer {
    display: block;
    text-align: left;
    .button { margin: 5px; }
    .button-group { text-align: right; }
  }
}

.modal__header {
  padding: $spacing-small $spacing-medium $spacing-small $spacing-small;
  position: relative;
  border-bottom: $border-width-thin $border-style-default $color-light;
  min-height: 50px;
  background-color: $color-blue;

  .heading {
    line-height: 1;
    color: $color-white;
  }
}

.modal__body {
  position: relative;
  max-height: calc(100vh - 50px);
  // overflow-y: auto;
}

.modal__body, .modal__header {
  > button, > a {
    @include appearance-reset;
    position: absolute;
    top: $spacing-small;
    right: $spacing-small;
    cursor: pointer;
    padding: 0;

    i {
      font-size: 20px;
      color: $color-white;
      transition: all $transition-time-default $transition-easeInOut;
    }

    &:hover i { color: $color-text-default; }
  }
}

.modal__footer {
  padding: $spacing-small 0 $spacing-small 0;
  margin: $spacing-xsmall $spacing-regular 0 $spacing-regular;
  border-top: $border-width-thin $border-style-default $color-light;
  text-align: right;
}

// ==========================================================================
// modal--lateral
// ==========================================================================

.modal-container--lateral {

  .modal {
    left: initial;
    right: 0;
    transform: translate(0 , -50%);
    width: 300px;
  }

  .modal__header {
    padding: $spacing-small $spacing-default $spacing-small $spacing-default;
    margin: 0;
    background-color: $color-blue;

    i {
      font-size: 20px;
      color: $color-white;
    }

    * {
      color: $color-white;
    }
  }

  .modal__body {
    padding: $spacing-default $spacing-small;
  }

}
